.main-box{
    height: 160px;
    width: 100%;
    background-color: rgb(240, 235, 235);
    border-radius: 10px;
}

.profile-picture{
    width: 80px;
    border-radius: 50%;
}

.profile-info h4{
    font-size: 20px;
    font-weight: bolder;
}

.profile-info p{
    font-size: 18px;
}

.edit a{
    background-color: white;
    padding:15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: #00A1A8;
}

.edit a i{
    margin-right: 8px;
}

