.bg-me{
       background: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 992px){
    .mobile-form{
    margin: 0 !important;
    padding: 0;
}
}

.input-border{
    border: #3f6e74 solid 1px !important;
    border-radius: 3px ;
}

.qqq .col-2{
    text-align: center;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020
    }
}