.bg-me{
       background: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 992px){
    .mobile-form{
    margin: 0 !important;
    padding: 0;
}
}

.input-border{
    border: #3f6e74 solid 1px !important;
    border-radius: 3px ;
}

.qqq .col-2{
    text-align: center;
}
.input-preview {
    border: 1px dashed #00a1a8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: ease-in-out 750ms
}