@font-face {
    font-family: Geometria;
    font-style: normal;
    font-weight: 400;
    src: local('Geometria'), url(../fonts/Geometria.woff) format('woff')
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2a819e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
#collapseExample1:hover {
    display: inline !important
}

html {
    scroll-behavior: smooth
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.card-header-color {
    color: #ce935e !important
}

.darken {
    color: #000
}

.logo-color {
    color: #40545c
}

.nav-logo {
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #00a1a8
}

.main-border {
    border-color: #00a1a8
}

.main-background {
    background-color: #00a1a8
}

.main-color {
    color: #2a819e
}

.btn-color {
    color: #fff;
    background-color: #ce935e;
    border-color: #ce935e;
    padding-right: 100px;
    padding-left: 100px
}

.k {
    font-family: Geometria
}

.nav-holder {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .05)
}

.text-size-15 {
    font-size: 15px
}

.text-style-normal {
    font-style: normal
}

.consultation {
    white-space: nowrap;
    box-sizing: border-box
}

.reg {
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #00a1a8
}

.sign-up {
    width: 220px;
    height: 50px;
    background: #00a1a8;
    border-radius: 5px;
    border: none
}

.con {
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 10px 10px 0 0
}

.errorlist {
    list-style-type: none
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Geometria
}

.mt-200 {
    margin-top: 200px !important
}

.mb-200 {
    margin-bottom: 200px !important
}

.mt-100 {
    margin-top: 100px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.pt-200 {
    padding-top: 200px !important
}

.pb-200 {
    padding-bottom: 200px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.main-font {
    font-family: 'Exo 2', sans-seserif !important
}

.geometria {
    font-family: Geometria
}

#showChild:hover #navChild {
    display: block
}

#showChild1:hover #navChild1 {
    display: block
}

@media screen and (max-width: 568px) {
    .dropdown-menu {
        width: 100%
    }
}

.bordd {
    border-radius: revert
}

@media screen and (min-width: 568px) {
    .navMe {
        position: absolute;
        top: 0;
        right: 298px !important
    }
}

.hidebutton {
    display: none
}

.font-22 {
    font-size: 22px;
    line-height: 26px
}

.font-65 {
    font-size: 65px;
    line-height: 106.3%;
    font-family: Geometria !important
}

.font-55 {
    font-weight: 700;
    font-size: 55px;
    line-height: 117.3%;
    font-family: Geometria !important
}

.border-primary {
    border-color: #00a1a8 !important
}

.padding_me {
    padding-top: 100px !important;
    padding-bottom: 100px !important
}

@media screen and (max-width: 1440px) {
    .footer-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .nav-new {
        right: 50px
    }

    .nav-font {
        font-size: 16px
    }
}

.shadow_me {
    box-shadow: 0 0 5px 0 #0000001A
}

.btn-primary {
    color: #fff;
    background-color: #2a819e !important;
    border-color: #2a819e !important
}

#mobile {
    display: none
}

@media (max-width: 992px) {
    .font-55 {
        font-weight: 700;
        font-size: 35px;
        line-height: 117.3%;
        font-family: Geometria !important
    }
    .wrapper-content{
        margin-top: 80px !important;
    }

    .footer-end {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    #mobile {
        display: inline
    }

    #desktop {
        display: none
    }

    .font-65 {
        font-size: 33px;
        line-height: 106.3%
    }

    #navbarNav {
        padding-left: 0 !important
    }

    .padding_me {
        padding-top: 50px !important;
        padding-bottom: 50px !important
    }

    .mt-200 {
        margin-top: 100px !important
    }

    .forma {
        width: 90%;
        height: 90%;
        overflow: scroll;
        display: none;
        top: 50px;
        box-shadow: 0 0 250px 10px #000
    }
}

.academ, .crossref, .elsavier, .greenm, .ireg, .qswur, .springer, .wur {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.academ:hover, .crossref:hover, .elsavier:hover, .greenm:hover, .ireg:hover, .qswur:hover, .springer:hover, .wur:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.vh100{
    height: 100vh !important;
}