.input-preview {
  border: 1px dashed #00a1a8;
  border-radius: 15px;
  /*width: 90vw;*/
  /*height: 200px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: ease-in-out 750ms;
}

.form-input input {
  margin: 0 auto;
  padding: 10vw;
  /*height: 100%;*/
  border-radius: 15px;
  /*background-color: red;*/
}

.alert_message {
  opacity: 0;
  animation-name: message;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}