.input-preview {
  border: 1px dashed #00a1a8;
  border-radius: 15px;
  /*width: 90vw;*/
  /*height: 200px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: ease-in-out 750ms;
}

.form-input input {
  margin: 0 auto;
  padding: 10vw;
  /*height: 100%;*/
  border-radius: 15px;
  /*background-color: red;*/
}

.alert_message {
  opacity: 0;
  animation-name: message;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg-me{
       background: no-repeat;
  background-size: cover;
  background-position: top;
}

a.nav-link{
    color: black !important;
}


a.active{
    background-color: transparent !important;
    color:#2A819E !important;
    border-bottom: #2A819E solid 2px !important;
}

.main-font{
    font-family: Geometria;
}

.link-color{
    color: #E6A151;
}

.link-color:hover{
    color: #E6A151;
}
.fix-img{
  height: 400px !important;
}