.shadow_me{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #0000001A;
}

.bg-me{
     background:  linear-gradient(98.46deg, rgba(244, 244, 244, 0.72) -2.78%, rgba(202, 226, 227, 0.15) 86.58%);
}