.bingo{
    margin-top: 71px;
}

.content1 h4{
    font-weight: bold;
    font-size: 45px;

    color: #000000;
}

.content1 p{

    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-top: 70px;
    width: 400px;
}

.content2{
    background: #C4C4C4
}

.next{
    margin-top:100px
}

.elem{
    height: 290px;
    width: 90%;
    background: #C4C4C4;
}

.num h1{

    font-size: 70px;
    line-height: 88px;
    color: #00A1A8;
}

.num p{


    font-size: 40px;
    line-height: 50px;
    color: #00A1A8;
}

@media screen and (max-width: 678px){
    .elem{
        width: 100%;
}
}