{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
    <style>
        a {
            color: #000000;
            text-decoration: none;
        }
        a:hover {
            color: #000000;
        }

        ol li {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .bggm {
           background-color: #eeeee4;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container font-22 my-5">
        <div class="my-5">
            <div class="my-2 font-55">ТОП-10 диссертаций, изменивших науку</div>
            <p class="">Представляем вашему вниманию 10 наиболее значимых диссертаций за последние годы. Рейтинг собран
                по материалам сайта <a href="http://proquest.com" target="_blank" rel="noopener" class="text-primary">Proquest.com</a>.
            </p>
        </div>
        <ol class="row">
            {% for t in text %}
            <div class="col-lg-12 {% cycle '' 'bggm' %}  p-4">{{ t.id }}   <a href="{{ t.link }}" target="_blank" rel="noopener"><strong>{{ t.name }}</strong></a>
                <br>
            {{ t.description }}
            </div>
            {% endfor %}

        </ol>
    </div>
{% endblock %}
