{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
    <style>
        ol li {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container font-22 my-5">
        <div class="my-5">
            <div class="my-2 font-55">ТОП-10 самых цитируемых статей учёных Узбекистана</div>
            <p class="">ППредставляем вашему вниманию рейтинг наиболее цитируемых статей с участием узбекских учёных за
                последние 5 лет.</p>
        </div>
        <div class="d-flex justify-content-between mt-5 mb-3">
            <div class="text-secondary">Название</div>
            <div class="text-secondary mr-5 ">Кол-во цитирований</div>

        </div>
        <div class="row">
            <div class="col-lg-8 my-3">1. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85031037969"
                    target="_blank" rel="noopener"><strong>Three-dimensional Ag2O/Bi5O7</strong></a> &mdash; Journal of
                Hazardous Materials, 2018, процитировано <strong>102</strong> раза. Авторы: Chen Y., Zhu G.,
                Hojamberdiev M., Gao J., Zhu R., Wang C., Wei X., Liu P.
            </div>
            <div class="col-lg-4 text-center"><strong>102</strong></div>
            <div class="col-lg-8 my-3">2. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85066100894"
                    target="_blank" rel="noopener"><strong>Shadow of rotating regular black holes</strong></a> &mdash;
                Physical Review D, 2016, процитировано <strong>101</strong> раз. Авторы: Abdujabbarov A., Amir M.,
                Ahmedov B., Ghosh S.G.
            </div>
            <div class="col-lg-4 text-center"><strong>101</strong></div>
            <div class="col-lg-8 my-3">3. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85030154600"
                    target="_blank" rel="noopener"><strong>Endophytic bacteria improve plant growth, symbiotic
                performance of chickpea (Cicer arietinum L.) and induce suppression of root rot caused by Fusarium
                solani under salt stress </strong></a>&mdash; Frontiers in Microbiology, 2017, процитировано
                <strong>66 </strong>раз. Авторы: Egamberdieva D., Wirth S.J., Shurigin V.V., Hashem A., Abd Allah E.F.
            </div>
            <div class="col-lg-4 text-center"><strong>66</strong></div>
            <div class="col-lg-8 my-3">4. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85046861237"
                    target="_blank" rel="noopener"><strong>Endophytic bacterium Bacillus subtilis (BERA 71) improves
                salt tolerance in chickpea plants by regulating the plant defense mechanisms</strong></a> &mdash;
                Journal of Plant Interactions, 2018, процитировано <strong>62</strong> раза. Авторы: Abd-Allah E.F.,
                Alqarawi A.A., Hashem A., Radhakrishnan R., Al-Huqail A.A., Al-Otibi F.O.N., Malik J.A., Alharbi R.I.,
                Egamberdieva D.
            </div>
            <div class="col-lg-4 text-center"><strong>62</strong></div>
            <div class="col-lg-8 my-3">5. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85007470563"
                    target="_blank" rel="noopener"><strong>A novel synergy of Er3+/Fe3+co-doped porous Bi5O7I
                microspheres with enhanced photocatalytic activity under visible-light irradiation</strong></a>&mdash;
                Applied Catalysis B: Environmental, 2017, процитировано <strong>62</strong> раза. Авторы: Liu Y., Zhu
                G., Gao J., Zhu R., Hojamberdiev M., Wang C., Wei X., Liu P.
            </div>
            <div class="col-lg-4 text-center"><strong>62</strong></div>
            <div class="col-lg-8 my-3">6. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-84978422602"
                    target="_blank" rel="noopener"><strong>A novel CeO2/Bi4Ti3O12 composite heterojunction structure
                with an enhanced photocatalytic activity for bisphenol A </strong></a>&mdash; Journal of Alloys and
                Compounds, 2016, процитировано <strong>49 </strong>раз. Авторы:&nbsp; Liu Y., Zhu G., Gao J., Zhu R.,
                Hojamberdiev M., Wang C., Wei X., Liu P.
            </div>
            <div class="col-lg-4 text-center"><strong>49</strong></div>
            <div class="col-lg-8 my-3">7. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85044302385"
                    target="_blank" rel="noopener"><strong>Arbuscular mycorrhizal fungi regulate the oxidative system,
                hormones and ionic equilibrium to trigger salt stress tolerance in Cucumis sativus L.</strong></a>
                &mdash; Saudi Journal of Biological Sciences, 2018, процитировано <strong>48 </strong>раз. Авторы:
                Hashem A., Alqarawi A.A., Radhakrishnan R., Al-Arjani A.-B.F., Aldehaish H.A., Egamberdieva D., Abd
                Allah E.F.
            </div>
            <div class="col-lg-4 text-center"><strong>48</strong></div>
            <div class="col-lg-8 my-3">8. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85021634754"
                    target="_blank" rel="noopener"><strong>Generic rotating regular black holes in general relativity
                coupled to nonlinear electrodynamics</strong></a> &mdash; Physical Review D, 2017, процитировано
                <strong>48</strong> раз. Авторы: Toshmatov B., Stuchlik Z., Ahmedov B.
            </div>
            <div class="col-lg-4 text-center"><strong>48</strong></div>
            <div class="col-lg-8 my-3">9. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85013634442"
                    target="_blank" rel="noopener"><strong>Rotating black hole solutions with quintessential
                energy</strong></a>&mdash; European Physical Journal Plus, 2017, процитировано <strong>47</strong> раз.
                Авторы: Toshmatov B., Stuchlik Z., Ahmedov B.
            </div>
            <div class="col-lg-4 text-center"><strong>47</strong></div>
            <div class="col-lg-8 my-3">10. <a
                    href="https://www.scopus.com/record/display.uri?src=s&amp;origin=cto&amp;ctoId=CTODS_1332861960&amp;stateKey=CTOF_1332861958&amp;eid=2-s2.0-85026299485"
                    target="_blank" rel="noopener"><strong>Measurement of inclusive jet cross sections in pp and PbPb
                collisions at s NN =2.76 TeV</strong></a> &mdash; Physical Review C, 2017, процитировано
                <strong>38</strong> раз. Авторы: Khachatryan V., Sirunyan A.M., Tumasyan A., Adam W., Asilar E.,
                Bergauer T., Brandstetter J., Brondolin E., Dragicevic M., Ero J., Flechl M., Friedl M.
            </div>
            <div class="col-lg-4 text-center"><strong>38</strong></div>
        </div>
    </div>
{% endblock %}
