{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <style>
        tr {
            margin-top: 100px !important;
        }

        tr td a:first-child {
            padding-right: 100px;
        }

        .bggm {
            background-color: #eeeee4;

        }
    </style>
{% endblock %}

{% block content %}
    <div class="container my-5 font-22">
        <p class="font-55">ТОП-5 ИЗДАНИЙ УЗБЕКИСТАНА</p>
        <p>Научная жизнь в нашей республике бьёт ключом. Следите за новейшими открытиями и разработками, оставайтесь в
            курсе
            событий и смотрите в будущее с улыбкой! А Editory подберёт для вас самое важное, нужное и интересное.</p>
        <p class="mb-100">Перед вами &mdash; наша выборка журналов с публикациями, заслуживающими внимания.</p>
        <div class="row">
            {% for t in text %}
                <div class="col-lg-12 row {% cycle '' 'bggm' %}">
                    <div class="col-lg-5 h2"><a href="{{ t.link }}" style="color: #2A819E">{{ t.name }}</a></div>
                    <div class="col-lg-7 mb-5 mt-2">{{ t.description }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}