{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
    <style>
        a {
            color: #263236
        }

        ol li {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .bggm{
            background-color: lightblue;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container font-22 my-5">
        <div class="my-5">
            <div class="my-2 font-55">ТОП-25 наиболее цитируемых статей</div>
            <p class="">Представляем вашему вниманию рейтинг наиболее цитируемых статей мирового научного сообщества за
                последние 5 лет.</p>
        </div>
        <div class="d-flex justify-content-between mt-5 mb-3">
            <div class="text-secondary">Название</div>
            <div class="text-secondary mr-5 ">Кол-во цитирований</div>

        </div>

        <div class="row">
            {% for t in text %}
                <div class="col-lg-12 row {% cycle '' 'bggm' %}">
                    <div class="col-lg-8 my-3 ">{{ t.id }}. <a
                            href="{{ t.link }}"
                            target="_blank" rel="noopener"
                            style="color: #263236 "><strong>{{ t.name }}</strong></a>
                        <br>
                        {{ t.description|safe }}
                    </div>
                    <div class="col-lg-4 text-center"><strong>{{ t.number }}</strong></div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
