{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container my-5 font-22">
    <p class="font-55">ТОП-5 ИЗДАНИЙ УЗБЕКИСТАНА</p>
    <p>Научная жизнь в нашей республике бьёт ключом. Следите за новейшими открытиями и разработками, оставайтесь в курсе
        событий и смотрите в будущее с улыбкой! А Editory подберёт для вас самое важное, нужное и интересное.</p>
    <p>Перед вами &mdash; наша выборка журналов с публикациями, заслуживающими внимания.</p>
    <div>
        <table>
            <tbody>
            <tr>
                <td><a href="https://uzjournals.edu.uz/tma/" class="h2"><strong>Central Asian
                    Journal of Medicine</strong></a></td>
                <td>Рецензируемый журнал, в котором публикуются оригинальные научные статьи. Серия была основана в
                    Ташкентской медицинской академии в 2011 году. Основная цель &mdash; содействие образовательной и
                    научно-исследовательской работе преподавателей, докторантов и студентов в области медицинских наук,
                    медицинского образования, общественного здравоохранения, сестринского дела, реабилитации и терапии.
                </td>
            </tr>
            <tr>
                <td><a href="https://uzjournals.edu.uz/actattpu/" target="_blank" rel="noopener"><strong>Acta of Turin
                    Polytechnic University in Tashkent</strong></a></td>
                <td>Ежеквартальный научный журнал с открытым доступом, который создаёт академическую платформу для
                    содействия разработке инноваций. Журнал фокусируется на таких темах, как динамика транспортных
                    средств, оптика, топливные элементы, материаловедение, математическое моделирование, механика
                    жидкости, мехатронные системы и т.д.
                </td>
            </tr>
            <tr>
                <td>
                    <h2><a href="https://uzjournals.edu.uz/gulduvestnik/" target="_blank" rel="noopener"><strong>Bulletin
                        of Gulistan State University</strong></a></h2>
                </td>
                <td>Журнал предназначен для профессоров и преподавателей высших и средних специальных учебных заведений,
                    старших научных сотрудников, независимых исследователей, магистров и бакалавров, а также
                    специалистов в различных областях народного хозяйства.
                </td>
            </tr>
            <tr>
                <td><a href="https://uzjournals.edu.uz/cacenas/" target="_blank" rel="noopener"><strong>Culture and Arts
                    of Central Asia</strong></a></td>
                <td>Журнал освещает научные и исследовательские достижения культуры и искусства в Центральной Азии,
                    представляет новые результаты с теоретической концептуальной точки зрения, а также информирует
                    молодых ученых и экспертов об инновационных идеях в этих областях.
                </td>
            </tr>
            <tr>
                <td>
                    <h2><a href="https://uzjournals.edu.uz/gorvest/" target="_blank" rel="noopener"><strong>Gorniy
                        vestnik Uzbekistana</strong></a></h2>
                </td>
                <td>Цель журнала &mdash; содействие развитию фундаментальных, прикладных и инновационных исследований в
                    сфере горно-геологических, металлургических и технических наук, продвижение их результатов в
                    национальном и международном научном, образовательном и производственном пространстве. Также журнал
                    ставит перед собой задачу повышения качества подготовки специалистов для горнодобывающей
                    промышленности и развития минерально-сырьевого комплекса.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}