{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/dashboard.css' %}">
{% endblock %}
{% block content %}

{% if request.GET.items %}
{% for key, value in request.GET.items %}
    {% if value == success %}
        {% if not request.user.is_staff and not request.user.is_superuser  %}
            <div class="w-100 text-center" id="pay_status" style="">
                <div class="alert alert-success">
                    {{request.user  }}, {% trans 'оплата проведена успешно' %}  !!!
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
<div class="w-100 h-100 mx-0 px-0 mt-5" style="min-height: 100vh;">
    <div class="container">
        {% if request.user.is_staff %}
        <div class="text-right"><a class="btn btn-info mb-3 " href="/admin/">Admin</a></div>


        {% endif %}
        <div class="main-box d-flex justify-content-around align-items-center flex-wrap">

            <div class="profile d-flex align-items-center justify-content-center">
                {% if request.user.profile_image %}
                <img src="{{request.user.profile_image.url}}" alt="profile-image" class="profile-picture mr-3">
                {% else %}
                <img src="{% static 'pages/images/no-photo.jpeg' %}" alt="profile-image" class="profile-picture mr-3">
                {% endif %}


                <div class="profile-info d-flex flex-column h-100 align-items-start justify-content-center">
                    <p style="margin-bottom: 0;">{{request.user.first_name}}</p>
                </div>
            </div>

            <div class="edit">
                <a href="#" id="show_form"><i class="bi bi-pencil-fill"></i>{% trans 'Редактировать профиль' %}</a>
            </div>

            <div class="choose d-flex border " style=" border-radius:8px; min-width:340px">
                <form action="#" class="w-50">
                    <div class="bg-white p-2" style="border-top-left-radius:8px; border-bottom-left-radius:8px">
                        <select name="" id="" class="border-0 bg-transparent form-control">
                            <option value="Author" class="border-0">Author</option>
                            <option value="Librarian">Librarian</option>
                        </select>
                    </div>
                </form>
                <span class="d-flex justify-content-center align-items-center"
                      style="background-color:#00A1A8; border-top-right-radius:8px; border-bottom-right-radius:8px">
                    <div class="py-2 mx-3 text-white">
                        {% trans 'Сменить статус' %}
                    </div>
                </span>
            </div>

        </div>
    </div>

    <div class="row mt-5" id="profile" style="display: none;">
        <div class="container">
            <div class="col-lg-6">
                <form action="{% url 'users:profile_change' request.user.id %}" enctype="multipart/form-data"
                      method="post"
                      class="w-100 d-flex flex-column">
                    {% csrf_token %}
                    <div class="d-lg-flex w-100 align-items-center mt-3">
                        <label for="id_first_name" class="mr-5 k"
                               style="min-width: 135px; margin-right:34px!important;">Имя</label>
                        {{form.first_name}}
                    </div>
                    <small class="text-danger align-self-end">{{form.first_name.errors}}</small>

                    <div class="d-lg-flex w-100 align-items-center mt-3">
                        <label for="id_phone" class="mr-5 k"
                               style="min-width: 135px; margin-right:34px!important;">Телефон</label>
                        {{form.phone}}
                    </div>
                    <small class="text-danger align-self-end">{{form.phone.errors}}</small>

                    <div class="d-lg-flex w-100 align-items-center mt-3">
                        <label for="id_address" class="mr-5 k"
                               style="min-width: 135px; margin-right:34px!important;">Адрес</label>
                        {{form.address}}
                    </div>
                    <small class="text-danger align-self-end">{{form.address.errors}}</small>

                    <div class="d-lg-flex w-100 align-items-center mt-3">
                        <label for="id_email" class="mr-5 k" style="min-width: 135px; margin-right:34px!important;">Эл.
                            почта</label>
                        {{form.email}}
                    </div>
                    <small class="text-danger align-self-end">{{form.email.errors}}</small>

                    <div class="d-flex  mt-3">
                        <label for="profile_image" class="mr-5 k"
                               style="min-width: 135px; margin-right:34px!important;">picture</label>
                        <small>
                            {{form.profile_image}}
                        </small>

                    </div>
                    <small class="text-danger align-self-end">{{form.profile_image.errors}}</small>

                    <div class="d-flex justify-content-end mt-5">
                        <button type="submit" class="btn text-white" style="background-color: #62C7CB;">
                            {% trans 'Сохранить изменения' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-100">
        <h1>{% trans 'История' %}</h1>

        {% if request.user.is_staff %}
        <table class="table mt-5">
            <thead>
            <tr>
                <th class="text-center">{% trans 'Услуга' %}</th>
                <th class="text-center">{% trans 'Дата' %}</th>
                <th class="text-center">{% trans 'Способ оплаты' %}</th>
                <th class="text-center">{% trans 'Статус' %}</th>
                <th class="text-center">{% trans 'принимать' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td class="text-center">{{order.product}}</td>
                <td class="text-center">{{order.created_at|date:'m.d.Y'}}</td>
                {% if order.payment_type == 4 %}
                <td class="text-center">Payme</td>
                {% elif order.payment_type == 3 %}
                <td class="text-center">Apelsin</td>
                {% endif %}
                {% if order.payment_status == 0 %}
                <td class="text-center">{% trans 'не оплачен' %} </td>
                {% elif order.payment_status == 3 %}
                <td class="text-center">{% trans 'оплачен' %}</td>
                {% elif order.payment_status == 1 %}
                    <td class="text-center">{% trans 'не оплачен' %} </td>
                {% endif %}
                <td class="text-center"><a href="{% url 'users:change_status' order.id %}"
                                           class="btn {% if order.payment_status == 1 or order.payment_status == 3  %} disabled btn-secondary {% else %} btn-primary{% endif %}">{% trans 'принимать' %}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <table class="table mt-5">
            <thead>
            <tr>
                <th class="text-center">{% trans 'Услуга' %}</th>
                <th class="text-center">{% trans 'Дата' %}</th>
                <th class="text-center">{% trans 'Способ оплаты' %}</th>
                <th class="text-center">{% trans 'Статус оплаты' %}</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in user_order %}
            <tr>
                <td class="text-center">{{order.product}}</td>
                <td class="text-center">{{order.created_at|date:'m.d.Y'}}</td>


                <td class="text-center">
                    {% if order.payment_status == 1 %}
                        {% if order.payment_type == 4 %}
                        <form method="POST" action="https://checkout.paycom.uz">
                            <!-- Идентификатор WEB Кассы -->
                            <input type="hidden" name="merchant" value="60b7cf520d44ad636479d80b"/>

                            <!-- Сумма платежа в тийинах -->
                            <input type="hidden" name="amount" value="{{ order.get_payme_amount }}"/>

                            <!-- Поля Объекта Account -->
                            <input type="hidden" name="account[order_id]" value="{{order.id}}"/>

                            <input type="hidden" name="callback" value="https://editory.org/en/auth/dashboard/?success=success"/>

                            <button type="submit" class="btn btn-outline-success" style="width: 300px;">{% trans 'Оплатить с помощью' %}<img src="{% static 'pages/images/payme.png' %}" class="ml-3" alt=""></button>
                        </form>
                        {% elif order.payment_type == 3 %}
                            <form name="apelsin_form" action="https://oplata.kapitalbank.uz" action="GET" >
                                <input type="hidden" name="cash" value="8cd10d4c64bc4a64a32cd9efe53e591f">
                                <input type="hidden" name="redirectUrl" value="https://editory.org/en/auth/dashboard/">
                                <input type="hidden" name="description" value="Payment for OOO Editory">
                                <input type="hidden" name="amount" value="{{order.get_payme_amount}}">
                                <input type="hidden" name="order_id" value="{{order.id}}" id=transactionid>
                                <button type="button" data-id="{{order.id}}" class="btn btn-outline-warning check_transaction">{% trans 'Оплатить с помощью' %}<img src="https://oplata.kapitalbank.uz/images/apelsin-v1.png" class="ml-3" width="100" alt="">
                                </button>
                                
                            </form>

                            

                            
                        {% endif %}
                    {% elif order.payment_status == 3 or order.payment_status == 0  %}
                        {% if order.payment_type == 4 %}
                            <img src="{% static 'pages/images/payme.png' %}" alt="">
                        {% endif %}
                        {% if order.payment_type == 3 %}
                            <img src="{% static 'pages/images/apelsin.png' %}" alt="">
                        {% endif %}
                        
                    {% endif %}

                </td>

                {% if order.payment_type == 4 %}
                    <td class="text-center"><a href="{% url 'users:check' order.id %}">{{ order.get_payment_status_display }}</a></td>
                {% elif order.payment_type == 3 %}
                    <td>{{order.get_payment_status_display}}</td>
                {% endif %}

                <td>
                    {% if request.GET.items %}
                    {% for key, value in request.GET.items %}
                        {% if value %}
                    <a href="{% url 'users:check' order.id %}">{% trans 'Оплачен' %}</a>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}


    </div>


</div>

{% endif %}

<button type="button" id="hop">button</button>

{% endblock content %}

{% block js %}

<script>
    $(document).ready(function(){
         $('.check_transaction').on('click', function () {
            let data_id = $(this).data("id") 
            $(this).parent().submit() 
            
            const a = $(this).attr("data-id")
            if($(this).find('.apelsin_confirm').attr('data-id') == data_id){
                $(this).find('.apelsin_confirm').trigger('click')
            }
            

        })
    })
    
   

    $('#confirm_click').click(function(){
        alert('uspeshno')
    })

    const profile_form = document.getElementById('profile')
    const show_form = document.getElementById('show_form')


    show_form.addEventListener('click', function(){
        if(profile_form.style.display==='none'){
            profile_form.style.display = 'block'
        }else{
            profile_form.style.display = 'none'
        }
    })


</script>

{% endblock %}