{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/about_us.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick-theme.css' %}"/>
{% endblock %}

{% block content %}
    <div style="background: linear-gradient(148.89deg, #FFFFFF 2.93%, #E9F3F4 98.45%);">
    <div class="container">
         <div class="row padding_me">
            <div class="col-lg-6">
                <div class=" head-word geometria pb-5" ><span class="main-color">Editory</span> – служба академической корректуры</div>
                <div style="font-size: 22px">
                    Editory - лидер в области аналитики и информации, созданный ведущими наукометристами
                    страны с целью обеспечения прозрачности и гласности научных исследований и результатов
                    исследований в Узбекистане.
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="pt-auto" src="{% static 'pages/images/image 14.png' %}" width="100%" >
                </div>
            </div>
         </div>

        <div class="py-5">


                    <div class="h2">
                        Услуги Editory
                    </div>
                    <div class="row w-100 justify-content-center m-0 p-0">
                        <div class="col-lg-6  py-5 px-4 ">
                            <div class="py-lg-5 px-lg-5 py-2 px-3 bg-white shadow_me h-100">
                                <div class="d-flex mb-4">
                                    <div ><img src="{% static 'pages/images/icon_rename.png' %}" ></div>
                                    <div class="ml-4 h3 ">Патенты и<br>финансирование</div></div>
                                <div class="text-break font-16">
                                    Ищете возможность получить поддержку своих исследований или
                                    защитить интеллектуальную собственность? Консультируем и оформляем все
                                    необходимые документы.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  py-5 px-4 ">
                            <div class="py-lg-5 px-lg-5 py-2 px-3 bg-white shadow_me h-100">
                                <div class="d-flex mb-4">
                                    <div><img src="{% static 'pages/images/icon_group.png' %}"></div>
                                    <div class="ml-4 h3">Международные<br>конференции</div></div>
                                <div class="text-break font-16">
                                    Ищете возможность получить поддержку своих исследований или
                                    защитить интеллектуальную собственность? Консультируем и оформляем все
                                    необходимые документы.
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-6  py-5 px-4 ">
                            <div class="py-lg-5 px-lg-5 py-2 px-3  bg-white shadow_me h-100">
                                <div class="d-flex mb-4">
                                    <div><img src="{% static 'pages/images/icon_book.png' %}"></div>
                                    <div class="ml-4 h3">Публикация работ</div></div>
                                <div class="text-break font-16">
                                    Ищете возможность получить поддержку своих исследований или
                                    защитить интеллектуальную собственность? Консультируем и оформляем все
                                    необходимые документы.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  py-5 px-4 ">
                            <div class="py-lg-5 px-lg-5 py-2 px-3 bg-white shadow_me h-100">
                                <div class="d-flex mb-4">
                                    <div><img src="{% static 'pages/images/icon_head.png' %}"></div>
                                    <div class="ml-4 h3">Консультация по <br>диссертациям</div></div>
                                <div class="text-break font-16">
                                    Ищете возможность получить поддержку своих исследований или
                                    защитить интеллектуальную собственность? Консультируем и оформляем все
                                    необходимые документы.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


    </div>
    </div>
    <div class="slideres">
            <h1 class="h-40p my-5 ">Наша команда</h1>
            <div class="row  mr-0">
                <div class="col-12 px-0">
                    <div class="wrapper w-100 inline-block">
                        <div class="slick1 slider p-0">

                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center">

                                    <img id="rasm" src="{% static "pages/images/staff.png" %}" class="mb-md-4 mb-3 mx-0"/>
                                    <h3 class="mb-2 mb-md-3">Равшан Муминов</h3>
                                    <p class="text-break  text-small">
                                        Копирайтер, редактор
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center">

                                    <img id="rasm" src="{% static "pages/images/staff.png" %}" class="mb-md-4 mb-3 mx-0"/>
                                    <h3 class="mb-2 mb-md-3">Равшан Муминов</h3>
                                    <p class="text-break  text-small">
                                        Копирайтер, редактор
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center">

                                    <img id="rasm" src="{% static "pages/images/staff.png" %}" class="mb-md-4 mb-3 mx-0"/>
                                    <h3 class="mb-2 mb-md-3">Равшан Муминов</h3>
                                    <p class="text-break  text-small">
                                        Копирайтер, редактор
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center">

                                    <img id="rasm" src="{% static "pages/images/staff.png" %}" class="mb-md-4 mb-3 mx-0"/>
                                    <h3 class="mb-2 mb-md-3">Равшан Муминов</h3>
                                    <p class="text-break  text-small">
                                        Копирайтер, редактор
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center">

                                    <img id="rasm" src="{% static "pages/images/staff.png" %}" class="mb-md-4 mb-3 mx-0"/>
                                    <h3 class="mb-2 mb-md-3">Равшан Муминов</h3>
                                    <p class="text-break  text-small">
                                        Копирайтер, редактор
                                    </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>




        <h1 class="h-40p my-5 ">Мы вывели в рейтинг QS</h1>
        <div class="row  mr-0">
                <div class="col-12 px-0">
                    <div class="wrapper w-100 inline-block">
                        <div class="slick2 slider p-0">

                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center w-75">

                                    <img id="rasm" src="{% static "pages/images/milliy_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Национальный университет Узбекистана им. Мирзо-Улугбека
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center w-75">

                                    <img src="{% static "pages/images/islam_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Международная Исламская Академия Узбекистана
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center w-75">

                                     <img src="{% static "pages/images/med_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Ташкентский педиатрический медицинский институт
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center w-75">

                                     <img src="{% static "pages/images/medA_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Ташкентская медицинская академия
                                    </p>

                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center text-center w-75">

                                    <img src="{% static "pages/images/tdiu_univ1.png" %}" class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Ташкентский государственный экономический университет
                                    </p>

                            </div>

                        </div>
                    </div>
                </div>
        </div>

{#            <div class="row ">#}
{#                <div class="col-12 m-0 p-0 h-100">#}
{#                    <div class="wrapper w-100 inline-block">#}
{#                        <div class="slick1 slider">#}
{##}
{#                            <div class="content-slider shadow-slider d-flex flex-column justify-content-center align-content-center  ">#}
{##}
{#                                    <img src="{% static "pages/images/milliy_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>#}
{##}
{#                                    <p class="text-break  text-small text-center px-3">#}
{#                                        Национальный университет Узбекистана им. Мирзо-Улугбека#}
{#                                    </p>#}
{##}
{#                            </div>#}
{#                            <div class="content-slider shadow-slider d-flex flex-column justify-content-center align-content-center h-100 w-100">#}
{##}
{#                                    <img src="{% static "pages/images/islam_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>#}
{##}
{#                                    <p class="text-break  text-small text-center px-3">#}
{#                                        Международная Исламская Академия Узбекистана#}
{#                                    </p>#}
{##}
{#                            </div>#}
{#                            <div class="content-slider shadow-slider d-flex flex-column justify-content-center align-content-center h-100 w-100">#}
{##}
{#                                    <img src="{% static "pages/images/med_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>#}
{##}
{#                                    <p class="text-break  text-small text-center px-3">#}
{#                                        Ташкентский педиатрический медицинский институт#}
{#                                    </p>#}
{##}
{#                            </div>#}
{#                            <div class="content-slider shadow-slider d-flex flex-column justify-content-center align-content-center h-100 w-100">#}
{##}
{#                                    <img src="{% static "pages/images/medA_univ.png" %}" class="mb-md-4 mb-3 mx-auto"/>#}
{##}
{#                                    <p class="text-break  text-small text-center px-3">#}
{#                                        Ташкентская медицинская академия#}
{#                                    </p>#}
{##}
{#                            </div>#}
{#                            <div class="content-slider   shadow-slider d-flex flex-column justify-content-center align-content-center h-100 w-100">#}
{##}
{#                                    <img src="{% static "pages/images/tdiu_univ1.png" %}" class="mb-md-4 mb-3 mx-auto"/>#}
{##}
{#                                    <p class="text-break  text-small text-center px-3">#}
{#                                        Ташкентский государственный экономический университет#}
{#                                    </p>#}
{##}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
    </div>

    <div style="background-color: #F7F7F7;" class="py-5 mt-200">
        <div class="container py-5">
            <div class="row ">
                <div class="col-lg-4 d-flex justify-content-center wur"><a href="https://www.timeshighereducation.com/world-university-rankings"><img src="{% static 'pages/images/the world.png' %}" class="wur"></a></div>
                <div class="col-lg-4 d-flex justify-content-center elsavier"><a href="https://www.elsevier.com/"><img src="{% static 'pages/images/elsavierr.png' %}" class="elsavier"></a></div>
                <div class="col-lg-4 d-flex justify-content-center qswur"><a href="https://www.topuniversities.com/"><img src="{% static 'pages/images/wurankings.png' %}" class="qswur"></a></div>
            </div>
        </div>
    </div>

    <div class="mt-5 main-background">
        <div class="container">
            <div class="py-5">
                <div class="row text-white">
                    <div class="offset-1 col-lg-3 h2">Бесплатная консультация</div>
                    <div class="offset-1 col-lg-3">Заполните форму и наш консультант свяжется с вами в течение часа</div>
                    <div class="offset-1 col-lg-3 mt-3"><div id="commit" class="btn btn-light px-4 py-2">Получить консультацию</div></div>
                </div>

            </div>
        </div>
    </div>


    <div>
        {% include 'components/form_consultation.html' %}
    </div>

    {% if validated %}
    <div id="flag" style="opacity: 1;">flag</div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "pages/js/slick.js" %}"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    $(document).ready(function(){
        let validated = document.getElementById('flag')
        let alert_message = document.getElementById('alert_message')


        if(alert_message){
            alert_message.classList.add('alert_message')
        }


        if (validated) {
            $('div.forma').css('display', 'inline')
        }

        $('#commit').click(function () {
            $('div.forma').css('display', 'inline')

        });
        $('#hideform').click(function () {
            $('div.forma').css('display', 'none')
        });


        $('.btn-toggle').click(function () {
            $(this).find("i").toggleClass("bi-chevron-down bi-chevron-up")
        });
    })


        $('.btn-toggle').click(function () {
            $(this).find("i").toggleClass("bi-chevron-down bi-chevron-up")
        });


        {#$('.slick1').slick({#}
        {##}
        {#    infinite: true,#}
        {#    centerMode: false,#}
        {#    centerPadding: '60px',#}
        {#    slidesToShow: 4,#}
        {#    startMode: true,#}
        {#    responsive: [#}
        {#        {#}
        {#            breakpoint: 768,#}
        {#            settings: {#}
        {#                arrows: false,#}
        {#                centerMode: true,#}
        {#                centerPadding: '0px',#}
        {#                slidesToShow: 1#}
        {#            }#}
        {#        }#}
        {#        ,#}
        {#        {#}
        {#            breakpoint: 480,#}
        {#            settings: {#}
        {#                arrows: false,#}
        {#                centerMode: true,#}
        {#                centerPadding: '0px',#}
        {#                slidesToShow: 1#}
        {#            }#}
        {#        }#}
        {#    ]#}
        {#});#}

        $('.slick1').slick({

             dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  startMode: true,
  variableWidth: true

});

        $('.slick2').slick({

  dots: true,
  infinite: true,
  speed: 2000,
            autoPlayClear:true,
            autoplay: true,
            autoplaySpeed: 500 ,
  slidesToShow: 4,
  startMode: false,
  variableWidth: false,
               responsive: [
                {
                    breakpoint: 1370,
                    settings: {
                           slidesToShow: 4,
                    }},
                   {
                       breakpoint: 768,
                       settings: {
                           dots: true,
                           autoplay: false,
                           infinite: true,
                           speed: 300,
                           slidesToShow: 1,
                           startMode: true,
                           variableWidth: true
                       }

                }
            ]
});


         $('.wur').hover(function(){
            $("img.wur").on({
             "mouseover" : function() {
                this.src = "{% static 'pages/images/the world.png' %}";
              },
              "mouseout" : function() {
                this.src="{% static 'pages/images/WUR.png' %}";
              }
            });
        });

        $('.elsavier').hover(function(){
            $("img.elsavier").on({
             "mouseover" : function() {
                this.src = "{% static 'pages/images/elsavierr.png' %}";
              },
              "mouseout" : function() {
                this.src="{% static 'pages/images/elsavier.png' %}";
              }
            });
        });

        $('.qswur').hover(function(){
            $("img.qswur").on({
             "mouseover" : function() {
                this.src = "{% static 'pages/images/wurankings.png' %}";
              },
              "mouseout" : function() {
                this.src="{% static 'pages/images/WUR2.png' %}";
              }
            });
        });
    </script>
{% endblock %}
