{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/article.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <img src="{{topic.main_image.url}}" width="100%">
        <div class="row mt-5">
            <div class="col-lg-9">
                <h6 class="main-color">{{topic.material_name|upper}}</h6>
                <div class="font-weight-bold h3" style="max-width: 400px;">{{topic.title}}</div>
                <sub class="text-secondary">{{topic.created_at|date:'d M'}}</sub>
                <div class="mt-3 mb-5" style="font-size: 22px;">{{topic.description|safe}}</div>

                {{topic.others|safe}}

                <!-- <div class="font-weight-bold h4 mb-3">Ученый получил вторую <br>Нобелевскую за диссертацию</div>
                <div>Задача организации, в особенности же рамки и место обучения кадров играет
                    важную роль в формировании модели развития. Равным образом дальнейшее развитие
                    различных форм деятельности требуют определения и уточнения модели развития.
                    Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет
                    собой интересный эксперимент проверки модели развития. Равным образом новая модель
                    организационной деятельности в значительной степени обуславливает создание направлений
                    прогрессивного развития. Значимость этих проблем настолько очевидна, что рамки и место
                    обучения кадров требуют от нас анализа форм развития. Разнообразный и богатый опыт рамки
                    и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития.
                    <br><br>
                    Задача организации, в особенности же консультация с широким активом требуют
                    от нас анализа форм развития. Таким образом дальнейшее развитие различных форм
                    деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений
                    развития. Товарищи! сложившаяся структура организации требуют определения и
                    уточнения модели развития. Таким образом рамки и место обучения кадров влечет за собой
                    процесс внедрения и модернизации модели развития. Значимость этих проблем настолько
                    очевидна, что дальнейшее развитие различных форм деятельности в значительной степени
                    обуславливает создание системы обучения кадров, соответствует насущным потребностям.
                    Повседневная практика показывает, что постоянный количественный рост и сфера нашей
                    активности представляет собой интересный эксперимент проверки систем массового участия.</div>
                <div class="align-content-center py-5 px-5 h3">“Я очень благодарен <b>школьным учителям</b>. Без них не было бы этой премии”</div>
                <div class="mb-5">
                    Таким образом постоянный количественный рост и сфера нашей активности
                    в значительной степени обуславливает создание направлений прогрессивного
                    развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                    различных форм деятельности влечет за собой процесс внедрения и модернизации
                    систем массового участия. С другой стороны консультация с широким активом требуют
                    определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
                    <br><br>
                    С другой стороны начало повседневной работы по формированию позиции позволяет
                    оценить значение дальнейших направлений развития. Значимость этих проблем настолько
                    очевидна, что новая модель организационной деятельности позволяет оценить значение
                    модели развития. Повседневная практика показывает, что рамки и место обучения кадров
                    представляет собой интересный эксперимент проверки форм развития. Не следует, однако
                    забывать, что начало повседневной работы по формированию позиции влечет за собой процесс
                    внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    Товарищи! укрепление и развитие структуры требуют определения и уточнения систем массового
                    участия.
                </div>
                <img src="{% static 'pages/images/Rectangle 65.png' %}" class="img-fluid">
                <div class="text-secondary">Нобелевская премия</div> -->
            </div>
            <div class="col-lg-3 " style="padding-left: 52px">
                <div class="main-background text-white pl-3 py-3">
                    <span class="h1 text-break text-uppercase " style="font-size: 70px; line-height: 114%;
                    font-weight: 700;">Дис<br>серт<br>аци<br>я</span>
                    <div class="position-absolute" style="left: 140px; top: 255px; font-size: 22px">от<br>экспертов</div>

                </div>
            </div>
        </div>
        
        {% if get_by_theme %}
        <div class="font-weight-bold h4 mt-5">Читайте также:</div>
            <div class="row mb-5">
                {% for topic in get_by_theme %}
                <div class="col-lg-4 my-2">
                    <div class="border">
                        <a href="{{topic.get_absolute_url}}" class="text-dark text-decoration-none">
                            <img class="" src="{{ topic.main_image.url }}" alt="" width="100%" height="200px">
                            <div class="mt-4 mb-5 px-4">
                                <div class="main-color font-weight-bold mb-2" style="font-size: smaller">{{topic.material_name}}</div>
                                <div class="font-weight-bold">{{topic.title}}</div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="col-lg-4 my-2">
                    <div class="border">
                        <img src="{% static 'pages/images/Rectangle 67.png' %}" width="100%">
                        <div class="mt-4 mb-5 px-4">
                            <div class="main-color font-weight-bold mb-2" style="font-size: smaller">БИОЛОГИЯ</div>
                            <div class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-2">
                    <div class="border">
                        <img src="{% static 'pages/images/Rectangle 67.png' %}" width="100%">
                        <div class="mt-4 mb-5 px-4">
                            <div class="main-color font-weight-bold mb-2" style="font-size: smaller">БИОЛОГИЯ</div>
                            <div class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}