{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/article.css' %}">
{% endblock %}

{% block content %}
    <div style="padding: 20px"></div>
        <div class="container mt-5">
            <div id="image" style="background-image: url({{ topic.main_image.url }}); background-repeat: no-repeat; height: 420px;
                width: 100%;
                background-size: cover;
                background-position: center">
            </div>

            <div class="row mt-5">
                <div class="col-lg-9 img-fluid">
                    <h6 class="main-color">{{ topic.material_name|safe|upper }}</h6>
                    <div class="font-weight-bold h3" style="">{{ topic.title }}</div>
                    <sub class="text-secondary">{{ topic.created_at|date:'d M' }}</sub>
                    <div id="description" class="mt-3 mb-5 img-fluid" style="font-size: 22px;">{{ topic.description|safe }}</div>
                    <div>{{ topic.others|safe }}</div>
                </div>
            </div>

            {% if get_by_theme %}
                <div class="font-weight-bold h4 mt-5">{% trans 'Читайте также' %}:</div>
                <div class="row mb-5">
                    {% for topic in get_by_theme %}
                        <div class="col-lg-4 my-2">
                            <div class="border h-100 rounded-bottom geometria">
                                <a href="{{ topic.get_absolute_url }}" class="text-dark text-decoration-none h-100 w-100">
                                    <div class="w-100" style="height: 245px; background-image: url('{{ topic.main_image.url }}'); background-position: center; background-size: cover; " >
                                    </div>
                                    <div class="mt-4 mb-5 px-4 h-100">
                                        <div class="main-color  mb-2"
                                             style="font-size: smaller">{{ topic.title|safe }}</div>
                                        <div class=""
                                             style="font-size: 25px; line-height: 31px;">{{ topic.title|safe }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}
        </div>



{% endblock %}

{% block js %}
    <script src="{% static 'pages/js/topic.js' %}">

    $(document).ready(function() {
            // Load page-specific meta data for Open Graph
            $('meta[property=og:title]').attr('content', $('#title').text() + ' | Editory.org');
            $('meta[property=og:description]').attr('content', $('#description').text());
            $('meta[property=og:type]').attr('content', 'article');
            $('meta[property=og:image]').attr('content', $('#image').css('background-image'));
            $('meta[property=og:url').attr("content", $(location).attr('href'));
            $('meta[property=article:date_published]').attr('content', $('#date').data());
        });

    </script>
{% endblock js %}

