{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/css/bak.css' %}">{% endblock %}

{% block content %}

<div class="row pano" style="background-image: url('{% static 'pages/images/rectangle_grey.png' %}')">
    <div class="col">
        <div class="bg-secondary pano-left">
            <p>Публикация статьи</p>
            <p>в журналах ВАК</p>
        </div>
    </div>
    <div class="col">

    </div>
</div>
    
  
    
   
{% endblock content %}