<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Editory{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'pages/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'pages/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'pages/fonts/stylesheet.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body class="main-font" style="font-size: 18px;">

    <div class="container-fluid nav-holder w-100">
        {% include 'components/navbar.html' %}
    </div>


    {% block content %}{% endblock content %}

    <div>
        {% include 'components/footer.html' %}
    </div>

    <script src="{% static 'pages/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'pages/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'pages/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'pages/js/main.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>