{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/conferences.css' %}">
{% endblock %}

{% block content %}
<div class="bg-me">

    <div class="container mb-5">
        <div class="row py-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="">
                    <div class="h1 pb-4">Публикация
                    <br>в международных <br>конференциях</div>
                    <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных исследовательских
                        проектов сотрудничества. Создание исследовательских платформ инициируется учеными и
                        исследовательскими группами различных дисциплин и факультетов, которые могут подавать свои заявки
                        в ходе конкурса заявок. Заявки оцениваются международными экспертами. </div>
                    <button class="btn btn-primary">Оставить заявку</button>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <img  src="{% static 'pages/images/conf 1.png' %}" width="100%">
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class=" row">
            <div class="col-lg-9">
                Научные конференции являются особенным видом взаимодействия между представителями
                исследовательского сообщества, в ходе которого они представляют свои работы в форме сборников
                материалов и обсуждают их с коллегами. Участия в конференциях международного уровня является очень
                важным этапом деятельности любого специалиста, однако добиться этого не так просто, ведь для этого
                нужно подготовить целый ряд материалов и соблюсти массу правил по их оформлению.
                <br>
                <br>
                Если же вы желаете, чтобы ваши исследовательские работы приняли участие в той или иной
                научной конференции, то наша компания будет рада помочь вам в решении этого вопроса. Подобными
                вопросами мы профессионально занимаемся на протяжении многих лет, и прекрасно знаем требования,
                нормы и правила подготовки материалов для участия в конференциях различного плана и уровня.
            </div>

        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6" id="commit2">

                <div  class=" borderMe p-4 rounded-20 d-flex justify-content-start h-100 ">
                    <div class="h2">Участвовать в конференции</div>
                    <img src="{% static 'pages/svg/participation 1.svg' %} " width="100%">

                </div>

            </div>
            <div class="col-lg-6">

                 <div class="borderMe p-4  rounded-20 d-flex justify-content-start h-100">
                     <div class="h2">Организовать конференцию</div>
                    <img src="{% static 'pages/svg/stacking-rings 1.svg' %}" width="100%">

                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" action="{% url 'requests:free_consultation' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-4">
    <div class="forma container border bg-white rounded-20 py-5 px-5 fixed-top ">
  <div>
     <h2 id="hideform2" class="float-right btn  ">X</h2>
        <h2 class=" mb-2">Заявка на <span class="main-color">бесплатную</span> <br>консультацию</h2>
        <nav class="mb-2">
              <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                    <a class="nav-link active pl-0" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">1 Личные данные</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2 Конференция</a>
                    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">3 Загрузка файла</a>
              </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class=" container " >

                    <div class="row text-secondary">
                        <div class="col-lg-6">

                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label">Имя</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.first_name}}
                                    <small class="text-danger align-self-start">{{form.first_name.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Фамилия</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.last_name}}
                                    <small class="text-danger align-self-start">{{form.last_name.errors}}</small>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Занятость</label>
                                <div class="col-sm-6 check">
                                    <div style="display:none">{{form.busyness}}</div>
                                      <div class="row ">

                                        <div class="form_radio_btn col-6 pr-0">
                                          <label class="form-control w-100 text-center" for="radio-1" id="hey">Студент</label>
                                        </div>

                                        <div class="form_radio_btn col-6 pl-0">
                                          <label class="form-control text-center " for="radio-2" id="vey">Работаю</label>
                                        </div>
                                        
                                      </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Место работы</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.place_of_work}}
                                    <small class="text-danger align-self-start">{{form.place_of_work.errors}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">

                            <div class="form-group row w-100">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Ученая степень</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.academic_degree}}
                                    <small class="text-danger align-self-start">{{form.academic_degree.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top: 160px">
                                <div class="offset-6 col-sm-4">
                                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                                        <a class="nav-link p-2 main-background text-white rounded w-100 text-center next_btn"
                                         id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                                          aria-controls="nav-profile" aria-selected="false">
                                            Дальше <img src="{% static 'pages/svg/Union.svg' %}">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

            </div>

          </div>
          

          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

              <div class=" container  bg-white rounded-20" >

                    <div class="row text-secondary">
                        <div class="col-lg-6">

                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label">Название статьи</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.application_name}}
                                    <small class="text-danger align-self-start">{{form.application_name.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Конференция</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.conference}}
                                    <small class="text-danger align-self-start">{{form.conference.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Секция</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.section}}
                                    <small class="text-danger align-self-start">{{form.section.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Номер телефона</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.phone}}
                                    <small class="text-danger align-self-start">{{form.phone.errors}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group row">

                                <label for="inputPassword" class="col-sm-4 col-form-label">Эл. почта</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.email}}
                                    <small class="text-danger align-self-start">{{form.email.errors}}</small>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 160px">
                                <div class="offset-6 col-sm-4">
                                                  <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                                                      <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2 Конференция</a>

                                                  </div>
                                              

                                </div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>




          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

              <div class="container ">
                    <div class="row">
                        <div class="col-lg-8 d-flex align-items-center ">
                            <label for="file" class="input-preview h-100 w-100 form-input">

                                {{form.upload_file}}
                                    
                            </label>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center align-items-center flex-column ">
                            <img  src="{% static 'pages/svg/Group 299.svg' %}" width="195px">
                            <button type="submit" class="btn btn-primary">Отправить работу</button>
                        </div>
                            <button type="submit">save</button>
                        </div>
                    </div>
              </div>

          </div>
    </div>
    </div>
</form>

{% if validated %}
<div id="flag" style="opacity: 1;">flag</div>
{% endif %}
{% endblock %}


{% block js %}
    <script>
    $(document).ready(function(){
        let validated = document.getElementById('flag')

        if (validated) {
            $('div.forma').css('display', 'inline')
        }

        $('#commit2').click(function () {
            $('div.forma').css('display', 'inline')
            
        });

        $('#hideform2').click(function () {
            $('div.forma').css('display', 'none')
        });

        let drag = document.getElementById('drag')
        let upload = document.getElementById('id_upload_file')
        let hey = document.getElementById('hey')
        let vey = document.getElementById('vey')
        let student = document.getElementById('id_busyness_0')
        let work = document.getElementById('id_busyness_1')
        hey.style.backgroundColor = '#00A1A8'
        hey.style.color = 'white'
        hey.addEventListener('click', function () {
            student.click()
            this.style.backgroundColor = '#00A1A8'
            this.style.color = 'white'
            vey.style.backgroundColor = 'white'
            vey.style.color = 'black'
        })

        vey.addEventListener('click', function () {
            work.click()
            this.style.backgroundColor = '#00A1A8'
            this.style.color = 'white'
            hey.style.backgroundColor = 'white'
            hey.style.color = 'black'
        })

        let btn = document.querySelector('.next_btn')
        let first_name = document.getElementById('id_first_name')
        let last_name = document.getElementById('id_last_name')
        let work_place = document.getElementById('id_place_of_work')

        $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })

        $(first_name).change(function(){
            if($(this).val() && $(last_name).val() && $(work_place).val()){
                $(btn).css({ 'background': '#00A1A8', 'pointer-events':'auto' })
            }else{
                $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(last_name).change(function () {
            if ($(this).val() && $(first_name).val() && $(work_place).val()) {
                $(btn).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(work_place).change(function () {
           if ($(this).val() && $(last_name).val() && $(first_name).val()) {
                $(btn).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })


    })


    const fileImage = document.querySelector('.input-preview__src');
    const filePreview = document.querySelector('.input-preview');

    fileImage.onchange = function () {
        const reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        filePreview.style.backgroundImage  = "url("+e.target.result+")";
        filePreview.classList.add("has-file");
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
    </script>
{% endblock %}