{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/conferences.css' %}">
{% endblock %}

{% block content %}

  <div class="fixed-top" style="top:137px; z-index: 1000" >
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="alert alert-success text-center" id="alert_message">
            {{message}}
        </div>
    {% else %}
        <div class="alert alert-danger text-center" id="alert_message">
            {{message}}
        </div>
    {% endif %}

    {% endfor %}
{% endif %}
</div>
    

    <div class="bg-me h-600" style="background-image: url({% static 'pages/images/image50.jpg' %});
            background-size: cover;">
        <div class="h-100" style="background: linear-gradient(104.63deg, #173E51 0.43%, rgba(28, 98, 121, 0.35) 63.59%, rgba(255, 255, 255, 0) 96.89%);
mix-blend-mode: luminosity;
">
            <div class="container d-flex align-items-center">
                <div class="row padding_me">
                    <div class="col-lg-6 pr-0 w-100">
                        <div class="text-white">

                            <div class="h1 pb-4 font-65 font-weight-bold text1-text">{{text.text1}}
                                {% if request.user.is_superuser %}
                                    <button type="button" class="btn btn-secondary text1-btn">Edit</button>
                                {% endif %}
                            </div>

                            <div class="text1-form w-100" style="display: none;">
                                <form action="{% url 'setpage:con-change' %}" method="POST">
                                    {% csrf_token %}                 
                                    <span>en:{{con.text1_en}}</span>
                                    <span>ru:{{con.text1_ru}}</span>
                                    <span>uz:{{con.text1_uz}}</span>
                                    <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                                </form>
                            </div>

                            <div class="pb-4 text2-text">{{text.text2}}
                                {% if request.user.is_superuser %}
                                    <button type="button" class="btn btn-secondary text2-btn">Edit</button>
                                {% endif %}
                            </div>

                            <div class="text2-form" style="display: none;">
                                <form action="{% url 'setpage:con-change' %}" method="POST">
                                    {% csrf_token %}
                                    <span>en:{{con.text2_en}}</span>
                                    <span>ru:{{con.text2_ru}}</span>
                                    <span>uz:{{con.text2_uz}}</span>
                                    <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                                </form>
                            </div>

                            <a href="#Forma" class="btn btn-light">{% trans 'Оставить заявку' %}</a>
                        </div>
                    </div>
                    {#            <div class="col-lg-6 d-flex justify-content-center">#}
                    {#                <img class="img-fluid"  src="{% static 'pages/images/conf 1.png' %}" width="100%">#}
                    {#            </div>#}
                </div>

            </div>


        </div>
    </div>
    

    <div class="container mt-100 mb-100 w-100">
        <div class="row font-22 mb-5 w-100">
            <div class="col-lg-9 ">

                <p class="text3-text">{{text.text3}}
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text3-btn">Edit</button>
                    {% endif %}
                </p>

                <div class="text3-form" style="display: none;">
                    <form action="{% url 'setpage:con-change' %}" method="POST">
                        {% csrf_token %}
                        <span>en:{{con.text3_en}}</span>
                        <span>ru:{{con.text3_ru}}</span>
                        <span>uz:{{con.text3_uz}}</span>
                        <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                    </form>
                </div>

                <div class="pb-3">
                    <a href="{{text.text4_link}}" target="_blank" rel="noopener" class="text4-text">{{text.text4}}</a>
                   
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text4-btn">Edit</button>
                    {% endif %}

                    <div class="text4-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>link_name:{{con.text4}}</span>
                            <span>url:{{con.text4_link}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>

                    <span class="text5-text">{{text.text5}}
                        {% if request.user.is_superuser %}
                            <button type="button" class="btn btn-secondary text5-btn">Edit</button>
                        {% endif %}
                    </span>

                    <div class="text5-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text5_en}}</span>
                            <span>ru:{{con.text5_ru}}</span>
                            <span>uz:{{con.text5_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                <div>    

                <div class="pb-3">
                    <a href="{{text.text6_link}}" target="_blank" rel="noopener" class="text6-text">{{text.text6}}</a>
                
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text6-btn">Edit</button>
                    {% endif %}
                
                    <div class="text6-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>link_name:{{con.text6}}</span>
                            <span>url:{{con.text6_link}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                
                    <span class="text7-text">{{text.text7}}
                        {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text7-btn">Edit</button>
                        {% endif %}
                    </span>
                
                    <div class="text7-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text7_en}}</span>
                            <span>ru:{{con.text7_ru}}</span>
                            <span>uz:{{con.text7_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                <div>

                <div class="pb-3">
                    <a href="{{text.text8_link}}" target="_blank" rel="noopener" class="text8-text">{{text.text8}}</a>
                
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text8-btn">Edit</button>
                    {% endif %}
                
                    <div class="text8-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>link_name:{{con.text8}}</span>
                            <span>url:{{con.text8_link}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                
                    <span class="text9-text">{{text.text9}}
                        {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text9-btn">Edit</button>
                        {% endif %}
                    </span>
                
                    <div class="text9-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text9_en}}</span>
                            <span>ru:{{con.text9_ru}}</span>
                            <span>uz:{{con.text9_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                <div>

                <div class="pb-3">
                    <a href="{{text.text10_link}}" target="_blank" rel="noopener" class="text10-text">{{text.text10}}</a>
                
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text10-btn">Edit</button>
                    {% endif %}
                
                    <div class="text10-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>link_name:{{con.text10}}</span>
                            <span>url:{{con.text10_link}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                
                    <span class="text11-text">{{text.text11}}
                        {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text11-btn">Edit</button>
                        {% endif %}
                    </span>
                
                    <div class="text11-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text11_en}}</span>
                            <span>ru:{{con.text11_ru}}</span>
                            <span>uz:{{con.text11_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                <div>

                <div class="pb-3">
                    <a href="{{text.text12_link}}" target="_blank" rel="noopener" class="text12-text">{{text.text12}}</a>
                
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text12-btn">Edit</button>
                    {% endif %}
                
                    <div class="text12-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>link_name:{{con.text12}}</span>
                            <span>url:{{con.text12_link}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                
                    <span class="text13-text">{{text.text13}}
                        {% if request.user.is_superuser %}
                            <button type="button" class="btn btn-secondary text13-btn">Edit</button>
                        {% endif %}
                    </span>
                
                    <div class="text13-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text13_en}}</span>
                            <span>ru:{{con.text13_ru}}</span>
                            <span>uz:{{con.text13_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                <div>

                <div class="pb-3">
                    <a href="{{text.text14_link}}" target="_blank" rel="noopener" class="text14-text">{{text.text14}}</a>
                
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text14-btn">Edit</button>
                    {% endif %}
                
                    <div class="text14-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>link_name:{{con.text14}}</span>
                            <span>url:{{con.text14_link}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                
                    <span class="text15-text">{{text.text15}}
                        {% if request.user.is_superuser %}
                            <button type="button" class="btn btn-secondary text15-btn">Edit</button>
                        {% endif %}
                    </span>
                
                    <div class="text15-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text15_en}}</span>
                            <span>ru:{{con.text15_ru}}</span>
                            <span>uz:{{con.text15_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
                <div>
            
                

                <p>Помимо этих, в мире ежегодно проходит огромное множество конференций в онлайн- и оффлайн-форматах.
                    Editory готовы организовать ваше участие в любых мероприятиях независимо от места и цели.</p>
                <p>Уже знаете, где хотите участвовать? Заполните, пожалуйста, следующую анкету:</p>


            </div>
            </div></div></div></div></div></div></div></div></div></div></div></div></div> <div class="row  ">
            
                <div class="p-5 rounded-20" style="background-color: #DDE5E9; padding-right: 200px;">
                    <p class="text16-text">{{text.text16}}
                        {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text16-btn">Edit</button>
                        {% endif %}
                    </p>
            
                    <div class="text16-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text16_en}}</span>
                            <span>ru:{{con.text16_ru}}</span>
                            <span>uz:{{con.text16_uz}}</span>
                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
            
                    <p class="font-weight-bold text17-text">{{text.text17}}
                        {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-secondary text17-btn">Edit</button>
                        {% endif %}
                    </p>
            
                    <div class="text17-form" style="display: none;">
                        <form action="{% url 'setpage:con-change' %}" method="POST">
                            {% csrf_token %}
                            <span>en:{{con.text17_en}}</span>
                            <span>ru:{{con.text17_ru}}</span>
                            <span>uz:{{con.text17_uz}}</span>

                            <button type="submit" class="btn btn-secondary mt-2">Save changes</button>
                        </form>
                    </div>
            
                </div>
            </div>
 </div>
        </div>

    </div>




    {#todo yangilash#}

    <form id="Forma" class="mt-100 " method="post" action="{% url 'requests:conferences' %}?#Forma"

          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-4">
            <div class="container   rounded-20">
                <div>

                    <h2 class=" mb-5">{% trans 'Заявка на участие' %} <br>{% trans 'в конференции' %}</h2>

                </div>
                <div class="tab-content" id="nav-tabContent">
                    {#          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">#}
                    <div class=" container ">

                        <div class="row text-secondary">
                            <div class="col-lg-6">

                                <div class="form-group row my-4">
                                    <label for="" class="col-sm-4 col-form-label">{% trans 'Имя' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.first_name }}
                                        <small class="text-danger align-self-start">{{ form.first_name.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Фамилия' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.last_name }}
                                        <small class="text-danger align-self-start">{{ form.last_name.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Занятость' %}</label>
                                    <div class="col-sm-6 check">
                                        <div style="display:none">{{ form.busyness }}</div>
                                        <div class="row ">

                                            <div class="form_radio_btn col-6 pr-0">
                                                <label class="form-control w-100 text-center" for="radio-1"
                                                       id="hey">{% trans 'Студент' %}</label>
                                            </div>

                                            <div class="form_radio_btn col-6 pl-0">
                                                <label class="form-control text-center " for="radio-2"
                                                       id="vey">{% trans 'Работаю' %}</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Место работы' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.place_of_work }}
                                        <small class="text-danger align-self-start">{{ form.place_of_work.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Ученая степень' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.academic_degree }}
                                        <small class="text-danger align-self-start">{{ form.academic_degree.errors }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Номер телефона' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.phone }}
                                        <small class="text-danger align-self-start">{{ form.phone.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">

                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Эл. почта' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.email }}
                                        <small class="text-danger align-self-start">{{ form.email.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="" class="col-sm-4 col-form-label">{% trans 'Название статьи' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.application_name }}
                                        <small class="text-danger align-self-start">{{ form.application_name.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Конференция' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.conference }}
                                        <small class="text-danger align-self-start">{{ form.conference.errors }}</small>
                                    </div>
                                </div>


                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Секция' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ form.section }}
                                        <small class="text-danger align-self-start">{{ form.section.errors }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-5">
                            <div class=" col-lg-11 d-flex align-items-center ">
                                <label for="file" class="input-preview w-100 h-25 form-input">

                                    {{ form.upload_file }}

                                </label>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
            <div class="container">
                <div class="row mb-100 ">
                    <div class="col-lg-11 d-flex  justify-content-between">
                        <div class='mr-auto'>
                            <label for="id_is_agree" style="cursor: pointer;">
                                {{ form.is_agree }}<span class="ml-3"> {% trans 'Оставляя заявку, вы соглашаетесь с обработкой ваших персональных данных'%}</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary px-4 mr-4">{% trans 'Отправить работу' %}</button>
                    </div>
                    <div class="col-12">
                        <small class="text-danger">{{ form.is_agree.errors }}</small>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% if validated %}
        <div id="flag" style="opacity: 0;">flag</div>
    {% endif %}
{% endblock content %}


{% block js %}
    <script src="{% static 'pages/js/conferences.js' %}" ></script>
    <script>
        $(document).ready(function () {
            let validated = document.getElementById('flag')
            let alert_message = document.getElementById('alert_message')


            if (alert_message) {
                alert_message.classList.add('alert_message')
            }

            if (validated) {
                $('div.forma').css('display', 'inline')
            }

            $('#commit2').click(function () {
                $('div.forma').css('display', 'inline')

            });

            $('#hideform2').click(function () {
                $('div.forma').css('display', 'none')
            });


            let hey = document.getElementById('hey')
            let vey = document.getElementById('vey')
            let student = document.getElementById('id_busyness_0')
            let work = document.getElementById('id_busyness_1')
            hey.style.backgroundColor = '#00A1A8'
            hey.style.color = 'white'
            $(student).attr('checked', 'checked')


            hey.addEventListener('click', function () {
                student.click()
                this.style.backgroundColor = '#00A1A8'
                this.style.color = 'white'
                vey.style.backgroundColor = 'white'
                vey.style.color = 'black'
            })

            vey.addEventListener('click', function () {
                work.click()
                this.style.backgroundColor = '#00A1A8'
                this.style.color = 'white'
                hey.style.backgroundColor = 'white'
                hey.style.color = 'black'
            })

            let btn = document.querySelector('.next_btn')
            let first_name = document.getElementById('id_first_name')
            let last_name = document.getElementById('id_last_name')
            let work_place = document.getElementById('id_place_of_work')

            $(btn).css({'background': 'lightgrey', 'pointer-events': 'none'})

            $(first_name).change(function () {
                if ($(this).val() && $(last_name).val() && $(work_place).val()) {
                    $(btn).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            $(last_name).change(function () {
                if ($(this).val() && $(first_name).val() && $(work_place).val()) {
                    $(btn).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            $(work_place).change(function () {
                if ($(this).val() && $(last_name).val() && $(first_name).val()) {
                    $(btn).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            let btn2 = document.querySelector('.next_btn2')
            let application_name = document.getElementById('id_application_name')
            let conference = document.getElementById('id_conference')
            let section = document.getElementById('id_section')
            let phone = document.getElementById('id_phone')
            let email = document.getElementById('id_email')

            $(btn2).css({'background': 'lightgrey', 'pointer-events': 'none'})

            $(application_name).change(function () {
                if ($(this).val() && $(conference).val() && $(section).val() && $(phone).val() && $(email).val()) {
                    $(btn2).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn2).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            $(conference).change(function () {
                if ($(this).val() && $(application_name).val() && $(section).val() && $(phone).val() && $(email).val()) {
                    $(btn2).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn2).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            $(section).change(function () {
                if ($(this).val() && $(application_name).val() && $(conference).val() && $(phone).val() && $(email).val()) {
                    $(btn2).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn2).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            $(phone).change(function () {
                if ($(this).val() && $(application_name).val() && $(conference).val() && $(section).val() && $(email).val()) {
                    $(btn2).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn2).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })

            $(email).change(function () {
                if ($(this).val() && $(application_name).val() && $(conference).val() && $(section).val() && $(phone).val()) {
                    $(btn2).css({'background': '#00A1A8', 'pointer-events': 'auto'})
                } else {
                    $(btn2).css({'background': 'lightgrey', 'pointer-events': 'none'})
                }
            })


        })

        const fileImage = document.querySelector('.input-preview__src');
        const filePreview = document.querySelector('.input-preview');

        fileImage.onchange = function () {
            const reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                filePreview.style.backgroundImage = "url(" + e.target.result + ")";
                filePreview.classList.add("has-file");
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
{% endblock js %}