{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/conferences.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success text-center" id="alert_message">
    {{message}}
</div>
{% else %}
<div class="alert alert-danger text-center" id="alert_message">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="bg-me h-600" style="background-image: url({% static 'pages/images/image51.png' %});
        background-size: cover;">
    <div class="h-100" style="background: linear-gradient(104.63deg, #173E51 0.43%, rgba(28, 98, 121, 0.35) 63.59%, rgba(255, 255, 255, 0) 96.89%);
mix-blend-mode: luminosity;
">

    <div class="container d-flex align-items-center">
        <div class="row padding_me">
            <div class="col-lg-9">
                <div class="text-white row">
                    <div class="col-lg-12 h1 pb-4 font-65 font-weight-bold">{% trans 'Организация конференции в Узбекистане' %}</div>
                    <div class="col-lg-8 pb-4">{% trans 'Мечтаете собрать экспертов международного уровня именно здесь? Хотите, чтобы у коллег-узбекистанцев появилась возможность участвовать в действительно крупном и полезном мероприятии? Специалисты Editory готовы содействовать' %}!</div>
                    <div class="col-lg-12">
                        <a href="#Forma" class="btn px-5 btn-light">{% trans 'Оставить заявку' %}</a>
                    </div>
                </div>
            </div>
{#            <div class="col-lg-6 d-flex justify-content-center">#}
{#                <img class="img-fluid " src="{% static 'pages/images/3987661 1.png' %}" width="100%">#}
{#            </div>#}
        </div>
    </div>




</div>
</div>

<form id="Forma" class="mt-100" method="post" action="{% url 'requests:creat-conferences' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-4">
    <div class=" container   rounded-20">
        <div>

            <h2 class=" mb-5">{% trans 'Организация конференции' %} <br>{% trans 'в Узбекистане' %}</h2>

        </div>
    <div class="tab-content" id="nav-tabContent">
{#          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">#}
              <div class=" container " >

                    <div class="row text-secondary">
                        <div class="col-lg-6">

                            <div class="form-group row my-4">
                                <label for="" class="col-sm-4 col-form-label">{% trans 'Имя' %}</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.first_name}}
                                    <small class="text-danger align-self-start">{{form.first_name.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row my-4">
                                <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Фамилия' %}</label>
                                <div class="col-sm-6 d-flex flex-column">
                                    {{form.last_name}}
                                    <small class="text-danger align-self-start">{{form.last_name.errors}}</small>
                                </div>
                            </div>
                            
                            <div class="form-group row my-4">
                                <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Номер телефона' %}</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.phone}}
                                    <small class="text-danger align-self-start">{{form.phone.errors}}</small>
                                </div>
                            </div>

                             <div class="form-group row my-4">

                                <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Эл. почта' %}</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.email}}
                                    <small class="text-danger align-self-start">{{form.email.errors}}</small>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-6">




                            <div class="form-group row my-4">
                                <label for="" class="col-sm-4 col-form-label">{% trans 'Организация' %}</label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.organization}}
                                    <small class="text-danger align-self-start">{{form.application_name.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row my-4">
                                <label for="" class="col-sm-4 col-form-label">{% trans 'Контакты организации' %} </label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.org_contacts}}
                                    <small class="text-danger align-self-start">{{form.application_name.errors}}</small>
                                </div>
                            </div>

                            <div class="form-group row my-4">
                                <label for="" class="col-sm-4 col-form-label">{% trans 'Адрес организации' %} </label>
                                <div class="col-sm-6 d-flex flex-column">
                                   {{form.org_address}}
                                    <small class="text-danger align-self-start">{{form.application_name.errors}}</small>
                                </div>
                            </div>


                        </div>
                    </div>

                    </div>


          </div>
    </div>               <div class="row mb-100">
                        <div class="col-lg-11 d-flex  justify-content-end">
                            <div class="mr-auto">
                                {{form.is_agree}}<span class="ml-4">{% trans 'Согласие с политикой конфиденциальности' %}</span>
                            </div>
                            <button type="submit" class="btn btn-primary px-4 mr-4">{% trans 'Отправить работу' %}</button>
                        </div>
                        </div>
    </div>
</form>

{% if validated %}
<div id="flag" style="opacity: 1;">flag</div>
{% endif %}
{% endblock %}


{% block js %}
    <script>
    $(document).ready(function(){
        let validated = document.getElementById('flag')
        let alert_message = document.getElementById('alert_message')


        if (alert_message) {
            alert_message.classList.add('alert_message')
        }

        if (validated) {
            $('div.forma').css('display', 'inline')
        }

        $('#commit2').click(function () {
            $('div.forma').css('display', 'inline')
            
        });

        $('#hideform2').click(function () {
            $('div.forma').css('display', 'none')
        });

     
        let hey = document.getElementById('hey')
        let vey = document.getElementById('vey')
        let student = document.getElementById('id_busyness_0')
        let work = document.getElementById('id_busyness_1')
        hey.style.backgroundColor = '#00A1A8'
        hey.style.color = 'white'
        $(student).attr('checked', 'checked')

       
        hey.addEventListener('click', function () {
            student.click()
            this.style.backgroundColor = '#00A1A8'
            this.style.color = 'white'
            vey.style.backgroundColor = 'white'
            vey.style.color = 'black'
        })

        vey.addEventListener('click', function () {
            work.click()
            this.style.backgroundColor = '#00A1A8'
            this.style.color = 'white'
            hey.style.backgroundColor = 'white'
            hey.style.color = 'black'
        })

        let btn = document.querySelector('.next_btn')
        let first_name = document.getElementById('id_first_name')
        let last_name = document.getElementById('id_last_name')
        let work_place = document.getElementById('id_place_of_work')

        $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })

        $(first_name).change(function(){
            if($(this).val() && $(last_name).val() && $(work_place).val()){
                $(btn).css({ 'background': '#00A1A8', 'pointer-events':'auto' })
            }else{
                $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(last_name).change(function () {
            if ($(this).val() && $(first_name).val() && $(work_place).val()) {
                $(btn).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(work_place).change(function () {
           if ($(this).val() && $(last_name).val() && $(first_name).val()) {
                $(btn).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })
       
        let btn2 = document.querySelector('.next_btn2')
        let application_name = document.getElementById('id_application_name')
        let conference = document.getElementById('id_conference')
        let section = document.getElementById('id_section')
        let phone = document.getElementById('id_phone')
        let email = document.getElementById('id_email')

        $(btn2).css({ 'background': 'lightgrey', 'pointer-events': 'none' })

        $(application_name).change(function () {
            if ($(this).val() && $(conference).val() && $(section).val() && $(phone).val() && $(email).val()) {
                $(btn2).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn2).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(conference).change(function () {
            if ($(this).val() && $(application_name).val() && $(section).val() && $(phone).val() && $(email).val()) {
                $(btn2).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn2).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(section).change(function () {
            if ($(this).val() && $(application_name).val() && $(conference).val() && $(phone).val() && $(email).val()) {
                $(btn2).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn2).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(phone).change(function () {
            if ($(this).val() && $(application_name).val() && $(conference).val() && $(section).val() && $(email).val()) {
                $(btn2).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn2).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

        $(email).change(function () {
            if ($(this).val() && $(application_name).val() && $(conference).val() && $(section).val() && $(phone).val()) {
                $(btn2).css({ 'background': '#00A1A8', 'pointer-events': 'auto' })
            } else {
                $(btn2).css({ 'background': 'lightgrey', 'pointer-events': 'none' })
            }
        })

       

    })

    const fileImage = document.querySelector('.input-preview__src');
    const filePreview = document.querySelector('.input-preview');

    fileImage.onchange = function () {
        const reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        filePreview.style.backgroundImage  = "url("+e.target.result+")";
        filePreview.classList.add("has-file");
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
</script>
{% endblock js %}