{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/scientific.css' %}">
{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success text-center" id="alert_message">
    {{message}}
</div>
{% else %}
<div class="alert alert-danger text-center" id="alert_message">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="bg-me">

    <div class="container">
        <div class="row py-5">
            <div class="col-lg-6 mb-5 d-flex align-items-center">
                <div class="">
                    <div class="font-65 geometria font-weight-bold">{% trans 'Графические материалы для ваших научных работ' %}</div>
                    <button class="btn btn-primary mt-5">{% trans 'Заказать консультацию' %}</button>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <img class="img-fluid"  src="{% static 'pages/images/illustration 1.png' %}">
            </div>
        </div>
    </div>

   <div class="container mt-200 mb-200">
       <div class="row">
           <div class="offset-lg-1 col-lg-9 font-22">{% trans 'Готовитесь к публикации? Убедитесь, что картинки, инфографики и иллюстрации в статье соответствуют требованиям изданий. Журналы с высоким рейтингом могут отклонить работу в том случае, если визуальная её часть не будет представлена достаточно наглядно и в высоком разрешении. Поручите работу над визуализацией профессионалам и будьте уверены в результате!' %}
</div>
       </div>
   </div>



<div class="row top w-100 justify-content-center px-0 mx-0 pb-200">
    <div class="row container w-100 pb-5">
        <div class="col-md-4 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <a href="{% url 'requests:top-researches' %}" class="text-dark text-decoration-none">
                    <img src="{% static 'pages/svg/relations 1.svg' %}" alt="" style="width: 66px; height:66px">
                    <h4>{% trans 'Научная иллюстрация' %}</h4>
                    <p>{% trans 'Сделайте материал предельно наглядным с помощью уникальных и высококачественных иллюстраций, которые будут точно соответствовать теме вашей работы' %}</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <a href="#" class="text-dark text-decoration-none">
                    <img src="{% static 'pages/images/pie-chart 1.png' %}" alt="" style="width: 66px; height:66px">
                    <h4>{% trans 'Инфографика' %}</h4>
                    <p>{% trans 'Представьте численные данные в наиболее простом и понятном виде, оформив их в виде инфографики. Editory разработает формат, который лучше всего подойдёт для вашего материала' %}</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <img src="{% static 'pages/images/visualization 1.png' %}" alt="" style="width: 66px; height:66px">
                <h4>{% trans 'Дизайн для издателей' %}</h4>
                <p>{% trans 'Обложки журналов, внутренняя вёрстка и единообразное оформление материалов — всё, чтобы читатели вашего издания оставались довольны не только его содержанием, но и внешним видом.' %}</p>
            </div>
        </div>

    </div>
</div>
</div>

<div class="container mt-100 pb-100">
    <form class="mt-5" method="post" name="consultation" action="{% url 'requests:design' %}">
        {% csrf_token %}
        <div class="row text-secondary">
            <div class="col-lg-6">
    
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label">{% trans 'Имя' %}</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.first_name}}
                        <small class="text-danger">{{form.first_name.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Фамилия' %}</label>
                    <div class="col-sm-6">
                        {{form.last_name}}
                        <small class="text-danger">{{form.last_name.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Номер телефона' %}</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.phone}}
                        <small class="text-danger">{{form.phone.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Email' %}</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.email}}
                        <small class="text-danger">{{form.email.errors}}</small>
                    </div>
                </div>
    
               
    
            </div>
            <div class="col-lg-6">
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Организация' %}</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.organization}}
                        <small class="text-danger">{{form.organization.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Контакты организации' %} </label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.org_contacts}}
                        <small class="text-danger">{{form.org_contacts.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">{% trans 'Адрес организации' %}</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.org_address}}
                        <small class="text-danger">{{form.org_address.errors}}</small>
                    </div>
                </div>
    
                <input type="hidden" name="theme" value="design">
    
            </div>
            <div class="form-group container row w-100" style="margin-top: 60px">
                <div class="col-lg-11 d-flex justify-content-between">
                    <div class="mr-auto">
                        {{form.is_agree}}<span class="">   {% trans 'Согласие с политикой конфиденциальности' %}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Заказать консультацию' %}</button>
                </div>
            </div>
        </div>
    
    </form>
    </div>
{% endblock content %}