{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}

{% endblock %}

{% block content %}

<div class="bg-me">

    <div class="container mb-5">
        <div class="row py-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="">
                    <div class="h1 pb-4">{% trans 'Корректура' %}<br>
                    {% trans 'и редактирование' %} <br>{% trans 'диссертации' %}</div>
                <div>{% trans 'Научная работа - это успешный инструмент для междисциплинарных исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется учеными и исследовательскими группами различных дисциплин и факультетов, которые могут подавать свои заявки в ходе конкурса заявок.' %} </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <img  src="{% static 'pages/images/scientific paper 1.png' %}">
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="pl-4 row">
            <div class="col-lg-9">
                → {% trans 'Опытные профессионалы, сервис в котором вы нуждаетесь' %}<br>
                → {% trans '100% гарантия' %}<br>
                → {% trans 'Безупречная репутация компании' %}<br>
                → {% trans 'Мы предоставляем комплексные решения ваших проблем' %}<br>

                <div class="pt-5">
                   {% trans 'Научные конференции являются особенным видом взаимодействия между представителями исследовательского сообщества, в ходе которого они представляют свои работы в форме сборников материалов и обсуждают их с коллегами. Участия в конференциях международного уровня является очень важным этапом деятельности любого специалиста, однако добиться этого не так просто, ведь для этого нужно подготовить целый ряд материалов и соблюсти массу правил по их оформлению.' %}
                    <br><br>
                    {% trans 'Если же вы желаете, чтобы ваши исследовательские работы приняли участие в той или иной научной конференции, то наша компания будет рада помочь вам в решении этого вопроса. Подобными вопросами мы профессионально занимаемся на протяжении многих лет, и прекрасно знаем требования, нормы и правила подготовки материалов для участия в конференциях различного плана и уровня.' %}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}