{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta property="og:title" content="Полный спектр научных консультаций">
    <meta property="og:description" content="Разрабатываем стратегии для исследований, публикуем статьи в международных журналах, корректируем диссертации">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'pages/images/typewriter копия 1.png' %}">
    <meta property="og:url" content="htts://editory.org"> <!--updated with jquery script -->
    <meta property="og:site_name" content="EDITORY.ORG"> 
{% endblock meta %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick-theme.css' %}"/>

{% endblock %}
{% block content %}

    <div class="fixed-top" style="top:137px; z-index: 1000">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

         
    <div style="background-color: #F2F2F2; overflow-x: hidden;">
        <div class="container" itemscope itemtype="https://schema.org/ProfessionalService https://schema.org/Organization">
            <meta itemprop="legalName" content="Editory">
            <meta itemprop="name" content="Editory">
            <meta itemprop="address" content="г. Ташкент, Алмазарский район, Себзар 3">
            <meta itemprop="telephone" content="+998 90 013 19 23">
            <div class="row py-me-5 pt-100 pb-200 header-me">
                <div class="col-lg-6 pl-lg-5 pl-2" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                    <div class="my-text geometria" itemprop="itemOffered"><span class="main-color">{% trans 'Полный' %}</span>
                        {% trans 'спектр научных консультаций' %}
                    </div>
                    <div class="my-5 font-22" itemprop="description">{% trans 'Разрабатываем стратегии для исследований, публикуем статьи в международных журналах, корректируем диссертации' %}</div>
                    <a href="#Forma" class="btn btn-color rounded py-3 mb-5 buttoncss text-center font-weight-light">
                        {% trans 'Задать вопрос' %}
                    </a>
                </div>
                <div class="col-lg-6">
                    <img id="image" class="img-fluid " src="{% static 'pages/images/typewriter копия 1.png' %}" alt="typewriter копия 1">


                </div>
            </div>
        </div>
    </div>

    <div class="position-relative">
        <div class="row m-0">
            <div class=" offset-lg-4 col-lg-8 d-flex flex-column justify-content-end  statistic">
                <div class="row bg-white geometria shadow-new  main-color border py-4" style="border-bottom-left-radius: 20px;
                                                                          border-top-left-radius: 20px">
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">6</div>
                        <div class="text-secondary">{% trans 'лет опыта' %}</div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">500</div>
                        <div class="text-secondary">{% trans 'статей в Scopus' %}</div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">7</div>
                        <div class="text-secondary">{% trans 'университетов в рейтинге QS' %}</div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">1000</div>
                        <div class="text-secondary">{% trans 'статей в ВАК' %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
        <div class="section-1 pb-100 pt-200" id="wave"
             style="background-image: url({% static 'pages/images/Rectangle 542.png' %});">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <p class="font-size-6 text-white" itemscope itemtype="https://schema.org/Organization">
                            <b itemprop="legalName">Editory</b>
                            <meta itemprop="name" content="Editory">
                            <meta itemprop="address" content="г. Ташкент, Алмазарский район, Себзар 3">
                            <meta itemprop="telephone" content="+998 90 013 19 23">
                            <span itemprop="description">
                            — {% trans 'научно-консалтинговая компания с опытом более 6 лет. Среди наших партнёров — крупные международные издательства. На нашем счету более 500 публикаций в Scopus и около 1000 — в журналах ВАК. Поможем сориентироваться в системе грантов и патентов.' %}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="section-2 background-image00 ">

            <div class="slideres ">
                <h1 class="h-40p mb-5 text-dark">{% trans 'Наши услуги' %}</h1>
                <div class="row  mr-0">
                    <div class="col-12 px-0">
                        <div class="wrapper w-100 inline-block" itemscope itemtype="https://schema.org/Organization https://schema.org/ProfessionalService">
                            <meta itemprop="legalName" content="Editory">
                            <meta itemprop="name" content="Editory">
                            <meta itemprop="address" content="г. Ташкент, Алмазарский район, Себзар 3">
                            <meta itemprop="telephone" content="+998 90 013 19 23">
                            <div class="slick1 slider p-0">
                                <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center ">
                                    <div class="py-lg-5 px-lg-5 w-100-me   bg-white shadow_me" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                                        <div class="d-flex mb-4">
                                            <div><img src="{% static 'pages/images/icon_rename.png' %}" itemprop="image"></div>
                                            <div class="ml-4 h3 " itemprop="itemOffered">{% trans 'Патенты и' %}<br>{% trans 'финансирование' %}
                                            </div>
                                        </div>
                                        <div class=" font-16" itemprop="description">
                                            {% trans 'Ищете возможность получить поддержку своих исследований или защитить интеллектуальную собственность? Консультируем и оформляем все необходимые документы.' %}
                                        </div>
                                        <div class="mt-4">
                                            <div class=" text-decoration-none"><a class="me"
                                                                                  href="{% url 'requests:grants' %}"><span
                                                    class="h5">&#8594;</span> {% trans 'Ислледовательский грант' %} </a>
                                            </div>
                                            <div class="mt-3 text-decoration-none"><a class="me"
                                                                                      href="{% url 'requests:patents' %}"><span
                                                    class="h5">&#8594;</span> {% trans 'Как получить патент?' %}  </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center ">
                                    <div class="py-lg-5 px-lg-5 w-100-me  bg-white shadow_me" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                                        <div class="d-flex mb-4">
                                            <div><img src="{% static 'pages/images/icon_group.png' %}" itemprop="image"></div>
                                            <div class="ml-4 h3 " itemprop="itemOffered">{% trans 'Международные' %}
                                                <br>{% trans 'конференции' %}</div>
                                        </div>
                                        <div class=" font-16" itemprop="description">
                                            {% trans 'Помогаем как с участием, так и с организацией. Хотите ускорить свой прогресс, выехав за рубеж, или собрать экспертов мирового уровня здесь? Обращайтесь к нам.' %}
                                        </div>
                                        <div class="mt-4">
                                            <div class="text-decoration-none"><a class="me"
                                                                                 href="{% url 'requests:creat-conferences' %}"><span
                                                    class="h5">&#8594;</span> {% trans 'Как организовать конференцию?' %}
                                            </a></div>
                                            <div class="mt-3 text-decoration-none"><a class="me"
                                                                                      href="{% url 'requests:conferences' %}"><span
                                                    class="h5">&#8594;</span> {% trans 'Участвовать в международных      конференциях' %}
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                    <div class="py-lg-5 px-lg-5  w-100-me bg-white shadow_me" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                                        <div class="d-flex mb-4">
                                            <div><img src="{% static 'pages/images/icon_book.png' %}" itemprop="image"></div>
                                            <div class="ml-4 h3" itemprop="itemOffered">Публикация работ</div>
                                        </div>
                                        <div class=" font-16" itemprop="description">
                                            {% trans 'Оформляем научные материалы для журналов Scopus и ВАК. Берём на себя полные обязательства по доведению материала до публикации.' %}
                                        </div>
                                        <div class="mt-4">
                                            <div class=" text-decoration-none"><a class="me"
                                                                                  href="{% url 'requests:bak' %}"><span
                                                    class="h5">&#8594;</span> {% trans 'Публикация в ВАК' %}</a></div>
                                            <div class="mt-3 text-decoration-none"><a class="me"
                                                                                      href="{% url 'requests:scopus' %}"><span
                                                    class="h5">&#8594;</span> {% trans 'Публикация в Scopus/ Web of Science' %}
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                    <div class="py-lg-5 px-lg-5 w-100-me  bg-white shadow_me" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                                        <div class="d-flex mb-4">
                                            <div><img src="{% static 'pages/images/icon_head.png' %}" itemprop="image"></div>
                                            <div class="ml-4 h3 " itemprop="itemOffered">{% trans 'Консультация' %}
                                                <br>{% trans 'по диссертациям' %}</div>
                                        </div>
                                        <div class=" font-16" itemprop="description">
                                            {% trans 'Научные конференции являются особенным видом взаимодействия между представителями исследовательского сообщества, в ходе которого они представляют свои работы в форме сборников' %}
                                        </div>
                                        {#                                    <div class="mt-4">#}
                                        {#                                        <div class=" text-decoration-none" href="#"><a class="me" href="">🡢   Ислледовательский грант </a></div>#}
                                        {#                                        <div class="mt-3 text-decoration-none"href="#"><a class="me" href="">🡢   Как получить патент?  </a></div>#}
                                        {#                                    </div>#}
                                    </div>
                                </div>
                                <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                    <div class="py-lg-5 px-lg-5 w-100-me  bg-white shadow_me" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                                        <div class="d-flex mb-4">
                                            <div><img src="{% static 'pages/images/icon_visual.png' %}" itemprop="image"></div>
                                            <div class="ml-4 h3 " itemprop="itemOffered">{% trans 'Визуальные решения' %}</div>
                                        </div>
                                        <div class=" font-16" itemprop="description">
                                            {% trans 'Международные издания очень требовательны к качеству графических материалов. Доверьтесь профессионалам и не беспокойтесь за судьбу своей публикации.' %}
                                        </div>
                                        {#                                    <div class="mt-4">#}
                                        {#                                        <div class=" text-decoration-none" href="#"><a class="me" href="">🡢   Ислледовательский грант </a></div>#}
                                        {#                                        <div class="mt-3 text-decoration-none"href="#"><a class="me" href="">🡢   Как получить патент?  </a></div>#}
                                        {#                                    </div>#}
                                    </div>
                                </div>
                                <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                    <div class="py-lg-5 px-lg-5 w-100-me  bg-white shadow_me" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
                                        <div class="d-flex mb-4">
                                            <div><img src="{% static 'pages/images/icon_translate.png' %}" itemprop="image"></div>
                                            <div class="ml-4 h3 " itemprop="itemOffered">{% trans 'Переводы материалов' %}</div>
                                        </div>
                                        <div class=" font-16" itemprop="description">
                                            {% trans 'Знакомьте научное сообщество со своими разработками благодаря качественным переводам на международные языки — опытные специалисты Editory к вашим услугам.' %}
                                        </div>
                                        {#                                    <div class="mt-4">#}
                                        {#                                        <div class=" text-decoration-none" href="#"><a class="me" href="">🡢   Ислледовательский грант </a></div>#}
                                        {#                                        <div class="mt-3 text-decoration-none"href="#"><a class="me" href="">🡢   Как получить патент?  </a></div>#}
                                        {#                                    </div>#}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section-3 d-flex flex-column justify-content-around ">
            <div class="container mt-100">
                <div class="row px-3 px-md-5 mb-5">
                    <h1 class="h-45p">{% trans 'Наши принципы' %}</h1>
                </div>
                <div class="row px-md-5 mb-5 d-block d-md-flex margin-b-100">
                    <div class="col-12 col-sm-8 col-md-5 d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                        <div class="img-icon mr-md-4 my-4 my-md-0">
                            <img src="{% static 'pages/svg/medal 1.svg' %}" height="100px">
                        </div>
                        <style>
                            @media screen and (max-width: 568px) {
                                .text-content {
                                    text-align: center !important;
                                }
                            }

                        </style>
                        <div class="text-content">
                            <h2>{% trans 'Качество работы' %}</h2>
                            <p class="text-break text-light">
                                {% trans 'Наука не прощает ошибок. Ответственность за работу на каждом этапе — вопрос репутации для нас.' %}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-md-5 offset-md-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
                        <div class="img-icon mr-md-4 my-4 my-md-0">
                            <img src="{% static 'pages/svg/Group 479.svg' %}">
                        </div>
                        <div class="text-content">
                            <h2>{% trans 'Оперативность' %}</h2>
                            <p class="text-break text-light">
                                {% trans 'Собираем сведения, настраиваем коммуникации и выдаём результат в кратчайшие сроки' %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row px-md-5 mt-5 d-block d-md-flex">
                    <div class="col-12 col-md-5 d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                        <div class="img-icon mr-md-4 my-4 my-md-0">

                            <img src="{% static 'pages/svg/Group.svg' %}" width="100px">
                        </div>
                        <div class="text-content">
                            <h2>{% trans 'Доверие' %}</h2>
                            <p class="text-break text-light">
                                {% trans 'Заботимся о репутации и персональных данных наших клиентах так же, как и о своих собственных' %}

                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 offset-md-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
                        <div class="img-icon mr-md-4 my-4 my-md-0">
                            <img src="{% static 'pages/svg/market 1.svg' %}" width="100px">

                        </div>
                        <div class="text-content">
                            <h2>{% trans 'Управление рисками' %}</h2>
                            <p class="text-break text-light">
                                {% trans 'Наш опыт взаимодействия с научным сообществом позволяет избежать большинства трудностей в работе' %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class=" kill ml-0 mt-200">

            <h1 class="h-40p my-5  slideres">{% trans 'Мы вывели в рейтинг QS' %}</h1>
            <div class="row  mr-0" style="">
                <div class="col-12 px-0">
                    <div class="wrapper w-100 inline-block">
                        <div class="slick2 slider p-0">

                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto">

                                <img id="rasm" src="{% static "pages/images/milliy_univ.png" %}" height="170px"
                                     class="mb-md-4 mb-3 mx-auto"/>
                                <p class="text-small text-center px-3 text-adaptive">
                                    {% trans 'Национальный университет Узбекистана им. Мирзо-Улугбека' %}
                                </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto">
                                <img src="{% static "pages/images/islam_univ.png" %}" height="170px"
                                     class="mb-md-4 mb-3 mx-auto"/>
                                <p class="text-small text-center px-3 text-adaptive">
                                    {% trans 'Международная Исламская Академия Узбекистана' %}
                                </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto">
                                <img src="{% static "pages/images/med_univ.png" %}" height="170px"
                                     class="mb-md-4 mb-3 mx-auto"/>
                                <p class="text-small text-center px-3 text-adaptive">
                                    {% trans 'Ташкентский педиатрический медицинский институт' %}
                                </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto">
                                <img src="{% static "pages/images/medA_univ.png" %}" height="170px"
                                     class="mb-md-4 mb-3 mx-auto"/>
                                <p class="text-small text-center px-3 text-adaptive">
                                    {% trans 'Ташкентская медицинская академия' %}
                                </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto">
                                <img src="{% static "pages/images/tdiu_univ1.png" %}" height="170px"
                                     class="mb-md-4 mb-3 mx-auto"/>
                                <p class="text-small text-center px-3 text-adaptive">
                                    {% trans 'Ташкентский государственный экономический университет' %}
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>





    <div class="mb-200 mt-200">
        <div class="container py-5">
            <div class="row ">
                <div class="col-lg-3 d-flex justify-content-center mt-5 wur"><a
                        href="https://www.timeshighereducation.com/world-university-rankings"><img
                        src="{% static 'pages/images/the world.png' %}" class="wur"></a></div>
                <div class="col-lg-3 d-flex justify-content-center mt-5 ireg"><a><img
                        src="{% static 'pages/svg/ireg.svg' %}" class="ireg"></a></div>
                <div class="col-lg-3 d-flex justify-content-center mt-5 elsavier"><a
                        href="https://www.elsevier.com/"><img src="{% static 'pages/images/elsavierr.png' %}"
                                                              class="elsavier"></a></div>
                <div class="col-lg-3 d-flex justify-content-center mt-5 springer"><a
                        href="https://www.elsevier.com/"><img src="{% static 'pages/svg/springer.svg' %}"
                                                              class="springer"></a></div>
            </div>
            <div class="row d-flex  justify-content-center mt-5">
                <div class="col-lg-3 d-flex justify-content-center mt-5 greenm"><a href=""><img
                        src="{% static 'pages/svg/greenm.svg' %}" height="140px" class="greenm"></a></div>
                <div class="col-lg-3 d-flex justify-content-center mt-5 academ"><a><img
                        src="{% static 'pages/svg/academ.svg' %}" height="180px" class="academ"></a></div>
                <div class="col-lg-3 d-flex flex-column justify-content-center mt-5  qswur"><a
                        href="https://www.topuniversities.com/"><img src="{% static 'pages/images/wurankings.png' %}"
                                                                     class="img-fluid qswur"></a></div>
                <div class="col-lg-3 d-flex flex-column align-items-center mt-5  crossref"><a
                        href="https://www.crossref.org/community/"><img
                        src="{% static 'pages/images/footer_picture.png' %}" class="img-fluid crossref"></a></div>
            </div>
        </div>
    </div>


    <div class="section-4 d-flex flex-column justify-content-center pt-200 pb-100"
         style="background-image: url({% static 'pages/images/Rectangle 543.png' %})">
        <div class="container">
            <h1 class="h-45p ml-4 mb-5 text-white">
                {% trans 'Ответы на вопросы' %}
            </h1>
            <div class="row text-white">
                <div class="col-12 col-md-6 mt-4 mt-md-0">
                    <div class="accordion" id="accordionExample">
                        <div class="card border-0" style="background:transparent " itemscope itemtype="https://schema.org/Question">
                            <div class="card-header border-0 " id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left btn-toggle justify-content-between
                                    d-flex button-main" type="button"
                                         data-toggle="collapse" data-target="#collapseOne">
                                        <div class="card-header-color "
                                             style="white-space:normal" itemprop="name">  {% trans 'Сколько стоит публикация статьи в Scopus?' %}</div>
                                        <i
                                                class=" text-white bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3" itemprop="suggestedAnswer">{% trans 'Стоимость публикации в журналах с открытым доступом варьируется от 500 до 5000 долларов США. Публикации в журналах с закрытым доступом бесплатны.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-center">
                            <hr class="" style="width: 93%; background-color: #fff;">
                        </div>
                        <div class="card border-0" style="background:transparent " itemscope itemtype="https://schema.org/Question">
                            <div class="card-header border-0 " id="headingTwo">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex"
                                         type="button"
                                         data-toggle="collapse" data-target="#collapseTwo">
                                        <div class="card-header-color"
                                             style="white-space:normal" itemprop="name">{% trans 'Предполагает ли публикация выплаты её автору?' %}</div>
                                        <i class="bi text-white bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body border-0">
                                    <p class="pl-3" itemprop="suggestedAnswer">{% trans 'Премирование за выход научных публикаций обычно осуществляется университетом, под эгидой которого они были выпущены.' %} </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0">
                    <div class="accordion" id="accordionExample">

                        <div class="card border-0" style="background:transparent " itemscope itemtype="https://schema.org/Question">
                            <div class="card-header border-0 " id="headingThree">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex"
                                         type="button"
                                         data-toggle="collapse" data-target="#collapseThree">
                                        <div class="card-header-color"
                                             style="white-space:normal" itemprop="name">{% trans 'В чём разница между открытым и закрытым доступом к статье?' %}</div>
                                        <i class="bi text-white bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3" itemprop="suggestedAnswer">{% trans 'С публикацией, размещённой в журнале с открытым доступом, мировое научное сообщество может ознакомиться сразу. На публикации в журналах закрытым доступом в течение 12-36 месяцев действует эмбарго, и в это время её могут читать только подписчики конкретного издания.' %}</p>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex w-100 justify-content-center">
                            <hr class="" style="width: 93%; background-color: #fff;">
                        </div>
                        <div class="card border-0" style="background:transparent " itemscope itemtype="https://schema.org/Question">
                            <div class="card-header border-0 " id="headingFour">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex"
                                         type="button"
                                         data-toggle="collapse" data-target="#collapseFour">
                                        <div class="card-header-color  "
                                             style="white-space:normal;  " itemprop="name">{% trans 'Что, если мне не понравится результат работы?' %}</div>
                                        <i class="bi text-white bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3" itemprop="suggestedAnswer">{% trans 'Мы настолько уверены в качестве наших услуг, что обещаем вернуть деньги, если вы не будете удовлетворены.' %}</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5" id="Forma">
        <div class=" container  bg-white rounded-20 py-5 px-5  ">


            <form method="post" action="{% url 'requests:consultation' %}#Forma">
                {% csrf_token %}
                <div class="row ">
                    <div class="col-lg-6">

                        <h2 class=" mb-5">{% trans 'Заявка на' %} <span
                                class="main-color">{% trans 'бесплатную' %}</span> <br>{% trans 'консультацию' %}</h2>
                        <div class="pr-lg-5">{% trans 'Оставьте свои данные и наш консультант свяжется с вами в течение часа' %}</div>

                    </div>
                    <div class="col-lg-6">

                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">{% trans 'Имя' %}</label>
                            <div class="col-sm-8 d-flex flex-column">
                                {{ form.first_name }}
                                <small class="text-danger">{{ form.first_name.errors }}</small>
                            </div>
                        </div>

                        <div class="form-group row mt-5">
                            <label for="inputPassword"
                                   class="col-sm-4 col-form-label">{% trans 'Номер телефона' %}</label>
                            <div class="col-sm-8">
                                {{ form.phone }}
                                <small class="text-danger">{{ form.phone.errors }}</small>
                            </div>
                        </div>


                        <div class="  form-group row mt-5 px-3">
                            <label for="id_is_agree" style="cursor: pointer;">
                                {{ form.is_agree }}<span class="ml-3"> {% trans 'Оставляя заявку, вы соглашаетесь с обработкой ваших персональных данных' %}</span>
                            </label>
                        </div>


                    </div>
                </div>
                <div class="form-group row" style="margin-top: 60px">
                    <div class="offset-lg-8 col-sm-3">
                        <button type="submit" class="btn btn-primary w-100">{% trans 'Заказать консультацию' %}</button>

                    </div>
                </div>

            </form>

        </div>
    </div>

    {% if validated %}
        <div id="flag" style="opacity: 0;">flag</div>
    {% endif %}

{% endblock content %}
{% block js %}
    <script type="text/javascript" src="{% static "pages/js/slick.js" %}"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>

        $(document).ready(function () {

            let validated = document.getElementById('flag')
            let alert_message = document.getElementById('alert_message')


            if (alert_message) {
                alert_message.classList.add('alert_message')
            }


            if (validated) {
                $('div.forma').css('display', 'inline')
            }

            $('#commit').click(function () {
                $('div.forma').css('display', 'inline')
            
            });
        
            $('#hideform').click(function () {
            $('div.forma').css('display', 'none')

            // Update URL for Open Graph property in meta tag
            $("meta[property='og:url']").attr('content', $(location).attr('href'))
        })
        ;
        


        $('.btn-toggle').click(function () {
            $(this).find("i").toggleClass("bi-chevron-down bi-chevron-up")
        });
        })


        $('.slick1').slick({

            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 2.5,
            startMode: true,
            variableWidth: false,

            responsive: [
                {
                    breakpoint: 568,
                    settings: {

                        dots: true,
                        autoplay: false,
                        infinite: true,
                        speed: 2000,
                        slidesToShow: 1,
                        startMode: true,
                        variableWidth: true
                    }
                },
                {
                    breakpoint: 1370,
                    settings: {
                        slidesToShow: 2,
                    }
                }

            ]


        });


        $('.slick2').slick({

            dots: true,
            infinite: true,
            speed: 2000,
            autoPlayClear: true,
            autoplay: true,
            autoplaySpeed: 500,
            slidesToShow: 4,
            startMode: false,
            variableWidth: false,
            responsive: [
                {
                    breakpoint: 1370,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        dots: true,
                        autoplay: false,
                        infinite: true,
                        speed: 2000,
                        slidesToShow: 1,
                        startMode: true,
                        variableWidth: true
                    }

                }
            ]
        });
    </script>
{% endblock %}