{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick-theme.css' %}"/>

{% endblock %}
{% block content %}
    <header class="d-flex flex-column justify-content-center my-2 mt-sm-0">
        <div class="container py-sm-5">
            <div class="row px-sm-5">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="d-none d-md-block font-size-4">Служба академической корректуры</h1>
                            <h2 class="d-block d-md-none">Служба академической корректуры</h2>
                        </div>
                        <div class="col-12 mt-4 mt-md-5">
                            <p class="font-size-5">Публикуем статьи в международных журналах,
                                проводим конференции, корректируем диссертации</p>
                        </div>
                        <div class="col-12 mt-6">
                            <button class="btn btn-success rounded-0 font-weight-light">
                                Бесплатная консультация
                            </button>
                        </div>
                    </div>

                </div>
                <div class="d-none d-md-block col-md-6">
                    <img src="{% static "pages/images/typewriter 1.svg" %}" class="img-fluid"/>
                </div>
            </div>
        </div>
    </header>
    <div class="section-1 d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row px-md-5">
                <div class="col-12">
                    <p class="font-size-6">
                        Консалтинговая компания «Эдитори» -
                        лидер в области библиометрии и науки.
                        На протяжении шести лет Editory предоставляет научному сообществу уникальные и
                        высококачественные
                        посреднические научные и издательские услуги.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-2 d-flex flex-column justify-content-center">
        <div class="container">
            <h1 class="h-40p mb-5 text-white">Наши услуги</h1>
            <div class="row">
                <div class="col-12">
                    <div class="wrapper w-100 inline-block">
                        <div class="slick1 slider">

                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="">
                                    <img src="{% static "pages/images/Group 170.png" %}" class="mb-md-4 mb-3"/>
                                    <h3 class="mb-2 mb-md-3">Исследовательские
                                        проекты</h3>
                                    <p class="text-break text-light text-small">
                                        Научные конференции являются особенным видом взаимодействия между
                                        представителями
                                        исследовательского сообщества
                                    </p>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="">
                                    <img src="{% static "pages/images/Group 170.png" %}" class="mb-md-4 mb-3"/>
                                    <h3 class="mb-2 mb-md-3">Исследовательские
                                        проекты</h3>
                                    <p class="text-break text-light text-small">
                                        Научные конференции являются особенным видом взаимодействия между
                                        представителями
                                        исследовательского сообщества
                                    </p>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="">
                                    <img src="{% static "pages/images/Group 170.png" %}" class="mb-md-4 mb-3"/>
                                    <h3 class="mb-2 mb-md-3">Исследовательские
                                        проекты</h3>
                                    <p class="text-break text-light text-small">
                                        Научные конференции являются особенным видом взаимодействия между
                                        представителями
                                        исследовательского сообщества
                                    </p>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="">
                                    <img src="{% static "pages/images/Group 170.png" %}" class="mb-md-4 mb-3"/>
                                    <h3 class="mb-2 mb-md-3">Исследовательские
                                        проекты</h3>
                                    <p class="text-break text-light text-small">
                                        Научные конференции являются особенным видом взаимодействия между
                                        представителями
                                        исследовательского сообщества
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-3 d-flex flex-column justify-content-around">
        <div class="container rounded-20 bg-white">
            <div class="row py-5 p-md-5">
                <div class="col-12 mb-5">
                    <h1 class="h-45p mb-4">Партнеры и клиенты Editory</h1>
                    <p class="">
                        Консалтинговая компания «Эдитори» - лидер в области библиометрии и науки.
                        На протяжении многих лет Editory предоставляет научному сообществу уникальные и
                        высококачественные посреднические научные и издательские услуги.
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <img src="{% static 'pages/images/image 11.png' %}" class="img-fluid">
                </div>
                <div class="col-12 col-md-5 offset-md-2 d-flex flex-column justify-content-between mt-3 mt-md-0">
                    <h1 class="d-none d-md-block">Национальная исламская академия Узбекистана</h1>
                    <h3 class="d-block d-md-none">Национальная исламская академия Узбекистана</h3>
                    <p>
                        Вывели университет в QS Ranking за 12 месяцев. Провели 3 встречи для обсуждения важных моментов
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row px-3 px-md-5 mb-5">
                <h1 class="h-45p">Почему мы?</h1>
            </div>
            <div class="row px-md-5 mb-5 d-block d-md-flex m-botton-188">
                <div class="col-12 col-sm-8 col-md-5 d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 174 (1).png' %}">
                    </div>
                    <div class="text-content">
                        <h2>Репутация</h2>
                        <p class="text-break text-light">
                            Uzb National Uni - qs ranking,
                            TMA Times higher education,
                            TashPMI, International Islamic Academy, Economic, Finance
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-5 offset-md-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 171.png' %}" style="width: 130px;">
                    </div>
                    <div class="text-content">
                        <h2>Командная работа</h2>
                        <p class="text-break text-light">
                            18 чел в команде – междунар эксперты.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row px-md-5 mt-5 d-block d-md-flex">
                <div class="col-12 col-md-5 d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 201.png' %}" style="width: 130px;">
                    </div>
                    <div class="text-content">
                        <h2>Управление рисками</h2>
                        <p class="text-break text-light">
                            Знают что публиковать, что делать можно, что нельзя + подводные камни
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-5 offset-md-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 173.png' %}">
                    </div>
                    <div class="text-content">
                        <h2>Скорость</h2>
                        <p class="text-break text-light">
                            Более 18 лет на рынке, бла-бла-бла
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-4 d-flex flex-column justify-content-center ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <h1 class="h-45p">
                        Ответы на вопросы
                    </h1>
                </div>
                <div class="col-12 col-md-7 mt-4 mt-md-0">
                    <div class="accordion" id="accordionExample">
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left btn-toggle justify-content-between d-flex button-main" type="button"
                                            data-toggle="collapse" data-target="#collapseOne">
                                        <div>Сколько стоит публикация в международных журналах?</div> <i
                                            class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3">Зависит от сложности и срока подачи заявки. От 500 до 900$</p>
                                </div>
                            </div>
                        </div>
                        <div  class="d-flex w-100 justify-content-center">
                        <hr class="" style="width: 93%; background-color: #00A1A8;">
                            </div>
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingTwo">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo">
                                        <div>Что если узнают, что диссертацию писал не я?</div> <i class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body border-0">
                                    <p class="pl-3">Some placeholder content for the second accordion panel. This panel is hidden by
                                        default.</p>
                                </div>
                            </div>
                        </div>
                        <div  class="d-flex w-100 justify-content-center">
                        <hr class="" style="width: 93%; background-color: #00A1A8;">
                            </div>
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingThree">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex" type="button"
                                            data-toggle="collapse" data-target="#collapseThree">
                                        <div>Что если узнают, что диссертацию писал не я?</div> <i class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3">And lastly, the placeholder content for the third and final accordion panel. This
                                        panel is hidden by default.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
{% block js %}
    <script type="text/javascript" src="{% static "pages/js/slick.js" %}"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.btn-toggle').click(function () {
            $(this).find("i").toggleClass("bi-chevron-down bi-chevron-up")
        });


        $('.slick1').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 2,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '0px',
                        slidesToShow: 1
                    }
                }
                ,
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '0px',
                        slidesToShow: 1
                    }
                }
            ]
        });

    </script>
{% endblock %}