{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick-theme.css' %}"/>

{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} text-center" id="alert_message">
        {{message}}
    </div>
    {% endfor %}
{% endif %}

    <div style="background-color: #F2F2F2">
        <div class="container">
            <div class="row py-me-5 pt-100 pb-200 header-me">
                <div class="col-lg-6 pl-lg-5 pl-2">
                    <div class="my-text geometria"><span class="main-color">Полный</span> спектр
                    научных
                        консультаций</div>
                    <div class="my-5" style="font-size: 22px">Разрабатываем стратегии для исследований,
                        публикуем статьи в международных журналах, корректируем диссертации</div>
                    <button class="btn btn-color rounded py-3 font-weight-light">
                                 Задать вопрос
                            </button>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid " src="{% static 'pages/images/typewriter копия 1.png' %}">

                    
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="row m-0">
            <div class=" offset-4 col-lg-8 d-flex flex-column justify-content-end statistic">
                <div class=" row bg-white geometria shadow-new  main-color border py-4" style="border-bottom-left-radius: 20px;
                                                                          border-top-left-radius: 20px">
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">6</div>
                        <div class="text-secondary">лет опыта</div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">500</div>
                        <div class="text-secondary">статей в Scopus</div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">7</div>
                        <div class="text-secondary">университетов в рейтинге QS</div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="font-65 font-weight-bold">1000</div>
                        <div class="text-secondary">статей в ВАК</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-1 pb-200 pt-200" id="wave" style="background-image: url({% static 'pages/images/Rectangle 542.png' %})">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <p class="font-size-6 text-white">
                        <b>Editory</b> — научно-консалтинговая компания с опытом более 6 лет.
                        Среди наших партнёров — крупные международные издательства.
                        На нашем счету более 500 публикаций в Scopus и около 1000 — в
                        журналах ВАК. Поможем сориентироваться в системе грантов и патентов.

                    </p>
                </div>
            </div>
        </div>
    </div>




    <div class="section-2 background-image00 " >

    <div class="slideres ">
            <h1 class="h-40p mb-5 text-white">Наши услуги</h1>
            <div class="row  mr-0">
                <div class="col-12 px-0">
                    <div class="wrapper w-100 inline-block">
                        <div class="slick1 slider p-0">
                            <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center ">
                                <div class="py-lg-5 px-lg-5   bg-white shadow_me" >
                                    <div class="d-flex mb-4">
                                        <div ><img src="{% static 'pages/images/icon_rename.png' %}" ></div>
                                        <div class="ml-4 h3 ">Патенты и<br>финансирование</div></div>
                                    <div class=" font-16">
                                        Ищете возможность получить поддержку своих исследований или
                                        защитить интеллектуальную собственность? Консультируем и оформляем все
                                        необходимые документы.
                                    </div>
                                </div>
                            </div>
                            <div class="heightme content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center ">
                                <div class="py-lg-5 px-lg-5   bg-white shadow_me" >
                                    <div class="d-flex mb-4">
                                        <div ><img src="{% static 'pages/images/icon_group.png' %}" ></div>
                                        <div class="ml-4 h3 ">Международные <br>конференции</div></div>
                                    <div class=" font-16">
                                        Помогаем как с участием, так и с организацией. Хотите ускорить
                                        свой прогресс, выехав за рубеж, или собрать экспертов мирового
                                         уровня здесь? Обращайтесь к нам.
                                    </div>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="py-lg-5 px-lg-5   bg-white shadow_me" >
                                    <div class="d-flex mb-4">
                                        <div ><img src="{% static 'pages/images/icon_book.png' %}" ></div>
                                        <div class="ml-4 h3 ">Публикация работ</div></div>
                                    <div class=" font-16">
                                        Оформляем научные материалы для журналов Scopus и ВАК.
                                         Берём на себя полные обязательства по доведению материала до публикации.
                                    </div>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="py-lg-5 px-lg-5   bg-white shadow_me" >
                                    <div class="d-flex mb-4">
                                        <div ><img src="{% static 'pages/images/icon_head.png' %}" ></div>
                                        <div class="ml-4 h3 ">Консультация <br>по диссертациям</div></div>
                                    <div class=" font-16">
                                        Научные конференции являются особенным видом взаимодействия между
                                        представителями исследовательского сообщества, в ходе которого они
                                        представляют свои работы в форме сборников
                                    </div>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="py-lg-5 px-lg-5   bg-white shadow_me" >
                                    <div class="d-flex mb-4">
                                        <div ><img src="{% static 'pages/images/icon_visual.png' %}" ></div>
                                        <div class="ml-4 h3 ">Визуальные решения</div></div>
                                    <div class=" font-16">
                                        Международные издания очень требовательны к качеству графических материалов.
                                        Доверьтесь профессионалам и не беспокойтесь за судьбу своей публикации.
                                    </div>
                                </div>
                            </div>
                            <div class="content-slider py-3 pt-md-4 px-3 px-md-5 shadow-slider d-flex flex-column justify-content-center">
                                <div class="py-lg-5 px-lg-5   bg-white shadow_me" >
                                    <div class="d-flex mb-4">
                                        <div ><img src="{% static 'pages/images/icon_translate.png' %}" ></div>
                                        <div class="ml-4 h3 ">Переводы материалов</div></div>
                                    <div class=" font-16">
                                        Знакомьте научное сообщество со своими разработками благодаря качественным
                                        переводам на международные языки — опытные специалисты Editory к вашим услугам.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


{#        <div class="container">#}
{#            <h1 class="h-40p mb-5 text-white">Наши услуги</h1>#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="wrapper w-100 inline-block">#}
{#                        <div class="slick1 slider">#}
{##}
{#                            <div class="content-slider shadow_me shadow-slider d-flex flex-column justify-content-center">#}
{#                                <div class="py-lg-5 px-lg-5  bg-white shadow_me">#}
{#                                    <div class="d-flex mb-4">#}
{#                                        <div ><img src="{% static 'pages/images/icon_rename.png' %}" ></div>#}
{#                                        <div class="ml-4 h3 ">Патенты и<br>финансирование</div></div>#}
{#                                    <div class=" font-16">#}
{#                                        Ищете возможность получить поддержку своих исследований или#}
{#                                        защитить интеллектуальную собственность? Консультируем и оформляем все#}
{#                                        необходимые документы.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="content-slider shadow_me shadow-slider d-flex flex-column justify-content-center">#}
{#                                <div class="py-lg-5 px-lg-5 py-2 px-3 bg-white shadow_me h-100">#}
{#                                    <div class="d-flex mb-4">#}
{#                                        <div ><img src="{% static 'pages/images/icon_rename.png' %}" ></div>#}
{#                                        <div class="ml-4 h3 ">Патенты и<br>финансирование</div></div>#}
{#                                    <div class=" font-16">#}
{#                                        Ищете возможность получить поддержку своих исследований или#}
{#                                        защитить интеллектуальную собственность? Консультируем и оформляем все#}
{#                                        необходимые документы.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="content-slider shadow_me shadow-slider d-flex flex-column justify-content-center">#}
{#                                <div class="py-lg-5 px-lg-5 py-2 px-3 bg-white shadow_me h-100">#}
{#                                    <div class="d-flex mb-4">#}
{#                                        <div ><img src="{% static 'pages/images/icon_rename.png' %}" ></div>#}
{#                                        <div class="ml-4 h3 ">Патенты и<br>финансирование</div></div>#}
{#                                    <div class=" font-16">#}
{#                                        Ищете возможность получить поддержку своих исследований или#}
{#                                        защитить интеллектуальную собственность? Консультируем и оформляем все#}
{#                                        необходимые документы.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="content-slider shadow_me shadow-slider d-flex flex-column justify-content-center">#}
{#                                <div class="py-lg-5 px-lg-5 py-2 px-3 bg-white shadow_me h-100">#}
{#                                    <div class="d-flex mb-4">#}
{#                                        <div ><img src="{% static 'pages/images/icon_rename.png' %}" ></div>#}
{#                                        <div class="ml-4 h3 ">Патенты и<br>финансирование</div></div>#}
{#                                    <div class=" font-16">#}
{#                                        Ищете возможность получить поддержку своих исследований или#}
{#                                        защитить интеллектуальную собственность? Консультируем и оформляем все#}
{#                                        необходимые документы.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    </div>

    <div class=" kill ml-0 mt-200">

    <h1 class="h-40p my-5  slideres" >Мы вывели в рейтинг QS</h1>
        <div class="row  mr-0" style="">
                <div class="col-12 px-0">
                    <div class="wrapper w-100 inline-block">
                        <div class="slick2 slider p-0">

                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto w-50">

                                    <img id="rasm" src="{% static "pages/images/milliy_univ.png" %}"  class="m-0 mt-0 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Национальный университет Узбекистана им. Мирзо-Улугбека
                                    </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto w-50">
                                    <img src="{% static "pages/images/islam_univ.png" %}"  class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Международная Исламская Академия Узбекистана
                                    </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto w-50">
                                     <img src="{% static "pages/images/med_univ.png" %}"  class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Ташкентский педиатрический медицинский институт
                                    </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto w-50">
                                     <img src="{% static "pages/images/medA_univ.png" %}"  class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Ташкентская медицинская академия
                                    </p>

                            </div>
                            <div class="content-slider p-0 m-0 shadow-slider d-flex flex-column justify-content-center text-center mx-auto w-50">
                                    <img src="{% static "pages/images/tdiu_univ1.png" %}"   class="mb-md-4 mb-3 mx-auto"/>
                                    <p class="text-break  text-small text-center px-3">
                                        Ташкентский государственный экономический университет
                                    </p>

                            </div>

                        </div>
                    </div>
                </div>
        </div>

</div>


    <div class="section-3 d-flex flex-column justify-content-around ">
{#        <div class="container rounded-20 bg-white">#}
{#            <div class="row py-5 p-md-5">#}
{#                <div class="col-12 mb-5">#}
{#                    <h1 class="h-45p mb-4">Партнеры и клиенты Editory</h1>#}
{#                    <p class="">#}
{#                        Консалтинговая компания «Эдитори» - лидер в области библиометрии и науки.#}
{#                        На протяжении многих лет Editory предоставляет научному сообществу уникальные и#}
{#                        высококачественные посреднические научные и издательские услуги.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="col-12 col-md-5">#}
{#                    <img src="{% static 'pages/images/image 11.png' %}" class="img-fluid">#}
{#                </div>#}
{#                <div class="col-12 col-md-5 offset-md-2 d-flex flex-column justify-content-between mt-3 mt-md-0">#}
{#                    <h1 class="d-none d-md-block">Национальная исламская академия Узбекистана</h1>#}
{#                    <h3 class="d-block d-md-none">Национальная исламская академия Узбекистана</h3>#}
{#                    <p>#}
{#                        Вывели университет в QS Ranking за 12 месяцев. Провели 3 встречи для обсуждения важных моментов#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="container mt-200">
            <div class="row px-3 px-md-5 mb-5">
                <h1 class="h-45p">Наши принципы</h1>
            </div>
            <div class="row px-md-5 mb-5 d-block d-md-flex margin-b-100">
                <div class="col-12 col-sm-8 col-md-5 d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 171.png' %}">
                    </div>
                    <div class="text-content">
                        <h2>Качество работы</h2>
                        <p class="text-break text-light">
                            Наука не прощает ошибок. Ответственность
                            за работу на каждом этапе — вопрос репутации для нас.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-5 offset-md-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 173.png' %}" style="width: 130px;">
                    </div>
                    <div class="text-content">
                        <h2>Оперативность</h2>
                        <p class="text-break text-light">
                            Собираем сведения, настраиваем коммуникации
                            и выдаём результат в кратчайшие сроки
                        </p>
                    </div>
                </div>
            </div>
            <div class="row px-md-5 mt-5 d-block d-md-flex">
                <div class="col-12 col-md-5 d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                         <img src="{% static 'pages/images/Group 174 (1).png' %}">
                    </div>
                    <div class="text-content">
                        <h2>Доверие</h2>
                        <p class="text-break text-light">
                            Заботимся о репутации и персональных данных
                            наших клиентах так же, как и о своих собственных

                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-5 offset-md-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="img-icon mr-md-4 my-4 my-md-0">
                        <img src="{% static 'pages/images/Group 201.png' %}" style="width: 130px;">

                    </div>
                    <div class="text-content">
                        <h2>Управление рисками</h2>
                        <p class="text-break text-light">
                            Наш опыт взаимодействия с научным сообществом
                            позволяет избежать большинства трудностей в работе

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <div class="py-5 mt-200">
        <div class="container py-5">
            <div class="row ">
                <div class="col-lg-4 d-flex justify-content-center wur"><a href="https://www.timeshighereducation.com/world-university-rankings"><img src="{% static 'pages/images/the world.png' %}" class="wur"></a></div>
                <div class="col-lg-4 d-flex justify-content-center elsavier"><a href="https://www.elsevier.com/"><img src="{% static 'pages/images/elsavierr.png' %}" class="elsavier"></a></div>
                <div class="col-lg-4 d-flex justify-content-center qswur"><a href="https://www.topuniversities.com/"><img src="{% static 'pages/images/wurankings.png' %}" class="qswur"></a></div>
            </div>
        </div>
    </div>


    <div class="section-4 d-flex flex-column justify-content-center mt-200">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <h1 class="h-45p">
                        Ответы на вопросы
                    </h1>
                </div>
                <div class="col-12 col-md-7 mt-4 mt-md-0">
                    <div class="accordion" id="accordionExample">
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left btn-toggle justify-content-between
                                    d-flex button-main" type="button"
                                            data-toggle="collapse" data-target="#collapseOne">
                                        <div>Сколько стоит публикация статьи в Scopus?</div> <i
                                            class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3">Стоимость публикации в журналах с открытым доступом варьируется от
                                        500 до 5000 долларов США. Публикации в журналах с закрытым доступом бесплатны.
</p>
                                </div>
                            </div>
                        </div>
                        <div  class="d-flex w-100 justify-content-center">
                        <hr class="" style="width: 93%; background-color: #00A1A8;">
                            </div>
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingTwo">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo">
                                        <div>Предполагает ли публикация выплаты её автору?</div> <i class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body border-0">
                                    <p class="pl-3">Премирование за выход научных публикаций обычно осуществляется университетом, под эгидой которого они были выпущены. </p>
                                </div>
                            </div>
                        </div>
                        <div  class="d-flex w-100 justify-content-center">
                        <hr class="" style="width: 93%; background-color: #00A1A8;">
                            </div>
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingThree">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex" type="button"
                                            data-toggle="collapse" data-target="#collapseThree">
                                        <div>В чём разница между открытым и закрытым доступом к статье?</div> <i class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3">С публикацией, размещённой в журнале с открытым доступом, мировое
                                        научное сообщество может ознакомиться сразу. На публикации в журналах закрытым
                                        доступом в течение 12-36 месяцев действует эмбарго, и в это время её могут
                                        читать только подписчики конкретного издания.</p>
                                </div>
                            </div>
                        </div>


                        <div  class="d-flex w-100 justify-content-center">
                        <hr class="" style="width: 93%; background-color: #00A1A8;">
                            </div>
                        <div class="card border-0">
                            <div class="card-header border-0 bg-white" id="headingFour">
                                <h2 class="mb-0">
                                    <div class="btn btn-link btn-block text-left collapsed btn-toggle justify-content-between d-flex" type="button"
                                            data-toggle="collapse" data-target="#collapseFour">
                                        <div>Что, если мне не понравится результат работы?</div> <i class="bi bi-chevron-down"></i>
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="pl-3">Мы настолько уверены в качестве наших услуг, что обещаем вернуть
                                        деньги, если вы не будете удовлетворены.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5 main-background">
        <div class="container">
            <div class="py-5">
                <div class="row text-white">
                    <div class="offset-1 col-lg-3 h2">Бесплатная консультация</div>
                    <div class="offset-1 col-lg-3">Заполните форму и наш консультант свяжется с вами в течение часа</div>
                    <div class="offset-1 col-lg-3 mt-3"><div id="commit" class="btn btn-light px-4 py-2">Получить консультацию</div></div>
                </div>

            </div>
        </div>
    </div>

    <div>
        {% include 'components/form_consultation.html' %}
    </div>

    {% if validated %}
    <div id="flag" style="opacity: 1;">flag</div>
    {% endif %}
        
{% endblock content %}
{% block js %}
    <script type="text/javascript" src="{% static "pages/js/slick.js" %}"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>

    $(document).ready(function(){
        let validated = document.getElementById('flag')
        let alert_message = document.getElementById('alert_message')


        if(alert_message){
            alert_message.classList.add('alert_message')
        }


        if (validated) {
            $('div.forma').css('display', 'inline')
        }

        $('#commit').click(function () {
            $('div.forma').css('display', 'inline')

        });
        $('#hideform').click(function () {
            $('div.forma').css('display', 'none')
        });


        $('.btn-toggle').click(function () {
            $(this).find("i").toggleClass("bi-chevron-down bi-chevron-up")
        });
    })

    


        {#$('.slick1').slick({#}
            {#centerMode: true,#}
        {#    centerPadding: '60px',#}
        {#    slidesToShow: 2.7,#}
        {#    responsive: [#}
        {#        {#}
        {#            breakpoint: 768,#}
        {#            settings: {#}
        {#                arrows: false,#}
        {#                centerMode: true,#}
        {#                centerPadding: '0px',#}
        {#                slidesToShow: 1#}
        {#            }#}
        {#        }#}
        {#        ,#}
        {#        {#}
        {#            breakpoint: 480,#}
        {#            settings: {#}
        {#                arrows: false,#}
        {#                centerMode: true,#}
        {#                centerPadding: '0px',#}
        {#                slidesToShow: 1#}
        {#            }#}
        {#        }#}
        {#    ]#}
        {#});#}


        $('.slick1').slick({

   dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 2.5,
  startMode: true,
  variableWidth: false,

                        responsive: [
                               {
                    breakpoint: 568,
                    settings: {
                           slidesToShow: 1,
                    }},
                            {
                    breakpoint: 1370,
                    settings: {
                           slidesToShow: 2,
                    }}

                ]


});


        {#$('.wur').hover(function(){#}
        {#    $("img.wur").on({#}
        {#     "mouseover" : function() {#}
        {#        this.src = "{% static 'pages/images/the world.png' %}";#}
        {#      },#}
        {#      "mouseout" : function() {#}
        {#        this.src="{% static 'pages/images/WUR.png' %}";#}
        {#      }#}
        {#    });#}
        {#});#}
        {##}
        {#$('.elsavier').hover(function(){#}
        {#    $("img.elsavier").on({#}
        {#     "mouseover" : function() {#}
        {#        this.src = "{% static 'pages/images/elsavierr.png' %}";#}
        {#      },#}
        {#      "mouseout" : function() {#}
        {#        this.src="{% static 'pages/images/elsavier.png' %}";#}
        {#      }#}
        {#    });#}
        {#});#}
        {##}
        {#$('.qswur').hover(function(){#}
        {#    $("img.qswur").on({#}
        {#     "mouseover" : function() {#}
        {#        this.src = "{% static 'pages/images/wurankings.png' %}";#}
        {#      },#}
        {#      "mouseout" : function() {#}
        {#        this.src="{% static 'pages/images/WUR2.png' %}";#}
        {#      }#}
        {#    });#}
        {#});#}


        $('.slick2').slick({

  dots: true,
  infinite: true,
  speed: 2000,
            autoPlayClear:true,
            autoplay: true,
            autoplaySpeed: 500 ,
  slidesToShow: 4,
  startMode: false,
  variableWidth: false,
               responsive: [
                {
                    breakpoint: 1370,
                    settings: {
                           slidesToShow: 4,
                    }},
                   {
                       breakpoint: 768,
                       settings: {
                           dots: true,
                           autoplay: false,
                           infinite: true,
                           speed: 300,
                           slidesToShow: 1,
                           startMode: true,
                           variableWidth: true
                       }

                }
            ]
});
    </script>
{% endblock %}