{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/language.css' %}">
{% endblock %}

{% block content %}

    <div class="fixed-top" style="top:137px; z-index: 1000">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <div class="bg-me h-600" style="background-image: url({% static 'pages/images/image57.jpg' %});
            background-size: cover;">
        <div class="h-100" style="background: linear-gradient(104.63deg, #173E51 0.43%, rgba(28, 98, 121, 0.35) 63.59%, rgba(255, 255, 255, 0) 96.89%);
mix-blend-mode: luminosity;
">
            <div class="container my-auto">
                <div class="row padding_me">
                    <div class="col-lg-12 row mb-5 text-white">
                        <div class="col-lg-12 font-65  geometria pb-5  font-weight-bold text25-text">{{ text.text1 }}

                        </div>


                        <div class="col-lg-6 font-22">
                            {{ text.text2|safe}}


                        </div>
                        <div class="mt-5 col-lg-12">
                            <a href="#Forma" class="btn btn-light  px-5">{% trans 'Заказать консультацию' %} </a>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>





    <div class="container mt-100">
        <div class="row mb-5">
            <div class="col-lg-4 my-2">
                <div class="border rounded-20 shadow py-5 px-4 h-100 d-flex flex-column ">
                    <div class="h3 mb-4">{% trans 'Стандарт' %}</div>
                    <div class="small">
                        <span class="text-secondary"><i class="bi-clock"></i>7-10 {% trans 'рабочих дней' %}</span>
                        <span class="float-right" style="color: #62C7CB;">239 {% trans 'сумов/слово' %}</span>
                    </div>
                    <div class="my-4 text3-text">{{ text.text3 }}

                    </div>


                </div>
            </div>

            <div class="col-lg-4 my-2">
                <div class="border rounded-20 shadow py-5 px-4 h-100 d-flex flex-column ">
                    <div class="h3 mb-4">{% trans 'Экспресс' %}</div>
                    <div class="small">
                        <span class="text-secondary"><i class="bi-clock"></i>1-4 {% trans 'рабочих дней' %}</span>
                        <span class="float-right" style="color: #62C7CB;">299 {% trans 'сумов/слово' %}</span>
                    </div>
                    <div class="my-4 text5-text">{{ text.text4 }}

                    </div>


                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="border rounded-20 shadow py-5 px-4 h-100 d-flex flex-column ">
                    <div class="h3 mb-4">{% trans 'Премиум' %}</div>
                    <div class="small">
                        <span class="text-secondary"><i class="bi-clock"></i>2-10 {% trans 'рабочих дней' %}</span>

                        <span class="float-right" style="color: #62C7CB;">399 {% trans 'сумов/слово' %}</span>
                    </div>
                    <div class="my-4 text7-text">{{ text.text5 }}


                    </div>

                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center qqq">
            <div class="col-12 col-sm-6 my-3 text10-text">Что входит в тариф
            </div>
            <div class="col-2 sticky-top d-none d-sm-block bg-white py-2" style="top: 135px ; ">Стандарт</div>
            <div class="col-2 sticky-top d-none d-sm-block bg-white py-2" style="top: 135px ; ">Экспресс</div>
            <div class="col-2 sticky-top d-none d-sm-block bg-white py-2" style="top: 135px ; ">Премиум</div>

            {% for tar in tariffs %}
                <div class="col-6 my-3 text11-text">{{ tar.text|safe }}</div>
                <div class="col-2 " style="border-left: solid silver 1px; border-right: solid silver 1px;">
                    {% if tar.stendart %}
                        <img src="{% static 'pages/svg/Vector 18.svg' %}" height="26px">
                    {% else %}
                        <img src="{% static 'pages/svg/Group 191.svg' %}" height="30px">
                    {% endif %}
                </div>
                <div class="col-2 " style="border-left: solid silver 1px; border-right: solid silver 1px;">
                    {% if tar.express %}
                        <img src="{% static 'pages/svg/Vector 18.svg' %}" height="26px">
                    {% else %}
                        <img src="{% static 'pages/svg/Group 191.svg' %}" height="30px">
                    {% endif %}
                </div>

                <div class="col-2 " style="border-left: solid silver 1px; border-right: solid silver 1px;">
                    {% if tar.premium %}
                        <img src="{% static 'pages/svg/Vector 18.svg' %}" height="26px">
                    {% else %}
                        <img src="{% static 'pages/svg/Group 191.svg' %}" height="30px">
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="row d-flex align-items-center mt-5">
            <div class="col-md-6 col-12 my-3 text24-text">
                <div class="h2">{% trans 'Количество слов' %}:</div>
                <input type="number" id="labelcom" value="" class="h2 py-3 my-5 input-border text-center w-100 labell">
            </div>


            <div class="col-md-2 d-flex d-md-block  mb-3 mb-md-0 justify-content-between align-item-center text-center">
                <div class="d-flex align-items-center d-md-none">Стандарт</div>

                <div class="d-flex justify-content-center align-items-center">
                    <script>$('#hideforma').scrollTo('[name="anchor"]')</script>
                    <a id="hideforma" type="button"
                            {% if request.user.is_authenticated %} data-target="#collapseForm"
                       data-toggle="collapse" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm"
                       {% else %}data-toggle="modal" data-target="#alertme"{% endif %}
                       class="btn border-primary www w-100 mx-2 py-3">{% trans 'Выбрать' %}</a>
                </div>

                <div class="h3 main-color d-flex align-items-center my-md-5">
                    <label id="cost" class="h3  main-color text4-text">{{ text.text6 }}

                    </label> {% trans 'сум' %}</div>
            </div>

            <div class="col-md-2 d-flex  mb-3 mb-md-0  d-md-block justify-content-between align-item-center text-center">
                <div class="d-flex align-items-center d-md-none">Экспресс</div>
                <div class="d-flex align-items-center justify-content-center">
                    <a id="hideforma1" type="button"
                            {% if request.user.is_authenticated %}
                       data-toggle="collapse" href="#collapseForm" aria-expanded="false" aria-controls="collapseExample"
                       {% else %}data-toggle="modal" data-target="#alertme"{% endif %}
                       class="btn border-primary www w-100 mx-2 py-3">{% trans 'Выбрать' %}</a>
                </div>
                <div class="h3 d-flex align-items-center main-color my-md-5">
                    <label id="cost1" class="h3  main-color text6-text">{{ text.text7 }}

                    </label> {% trans 'сум' %}
                </div>

            </div>
            <div class="col-md-2 d-flex d-md-block  mb-3 mb-md-0 justify-content-between align-item-center text-lg-center">
                <div class="d-flex align-items-center d-md-none">Премиум</div>

                <div class="d-flex align-items-center justify-content-center">
                    <a id="hideforma2" type="button"
                            {% if request.user.is_authenticated %}
                       data-toggle="collapse" href="#collapseForm" aria-expanded="false" aria-controls="collapseExample"
                       {% else %}data-toggle="modal" data-target="#alertme"{% endif %}
                       class="btn www border-primary w-100 mx-2 py-3">{% trans 'Выбрать' %}</a>
                </div>

                <div class="h3 d-flex align-items-center main-color my-md-5">
                    <label id="cost2" class="h3  main-color text8-text">{{ text.text8 }}

                    </label> {% trans 'сум' %}
                </div>
            </div>
        </div>
    </div>



    {#    todo payment form#}
    <div id="111" name="anchor"></div>
    <div class="container border p-4 rounded-25 collapse mt-100" id="collapseForm">
        <form class="" method="post"
              action="{% url 'orders:create-order' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {#            <div class="container bg-white shadow rounded-20 p-5">#}
            <div class="">
                <div class="d-flex">
                    <h2 class=" mb-4">Payment form</h2>
                </div>
                <div class="text-secondary row" id="nav-tabContent">
                    <div class="col-lg-6">
                        <div class="row my-4 px-5 d-flex justify-content-between">
                            <label for="inputPassword" class="">Номер
                                телефона </label>
                            <div class="">
                                {{ form.phone }}
                                <small class="text-danger ">{{ form.phone.errors }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group row my-4 px-5 d-flex justify-content-between">
                            <label for="inputPassword" class="">Эл.
                                почта </label>
                            <div class="">
                                {{ form.email }}
                                <small class="text-danger ">{{ form.email.errors }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group row my-4 px-5 d-flex justify-content-between">
                            <label for="inputPassword" class="">File</label>
                            <div class="">
                                {{ form.file }}
                                <small class="text-danger">{{ form.email.errors }}</small>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="form-group row my-4 px-5 d-flex justify-content-between">
                            <h4>Cost: <label id="formcost"></label> сум</h4>
                            <div class="overflow-auto">
                                {{ form.payment_type }}
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="row ">
                <input type="hidden" name="product" value="editing"/>
                <input type="hidden" class="amount" name="amount" value=""/>

                <input type="hidden" name="payment_status" value="0"/>
                <input type="hidden" name="delivery_status" value="1"/>
                <div class="text-right ml-5">
                    <button type="submit"
                            class="btn btn-primary">{% trans 'Заказать' %}</button>
                </div>
            </div>
            {#            </div>#}

        </form>

    </div>

    <form id="Forma" class="mt-100 mb-100" method="post" action="{% url 'pages:language_editing' %}#Forma"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class=" container   rounded-20">
                <div>

                    <h2 class="h5  mb-5">{{ text.text9 }}</h2>

                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class=" container ">

                        <div class="row text-secondary">
                            <div class="col-lg-6">

                                <div class="form-group row my-4">
                                    <label for="" class="col-sm-4 col-form-label">{% trans 'Имя' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ forms.first_name }}
                                        <small class="text-danger align-self-start">{{ forms.first_name.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Фамилия' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ forms.last_name }}
                                        <small class="text-danger align-self-start">{{ forms.last_name.errors }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row my-4">
                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Номер телефона' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ forms.phone }}
                                        <small class="text-danger align-self-start">{{ forms.phone.errors }}</small>
                                    </div>
                                </div>

                                <div class="form-group row my-4">

                                    <label for="inputPassword"
                                           class="col-sm-4 col-form-label">{% trans 'Эл. почта' %}</label>
                                    <div class="col-sm-6 d-flex flex-column">
                                        {{ forms.email }}
                                        <small class="text-danger align-self-start">{{ forms.email.errors }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 row px-4">
                                <div class="col-lg-6  row my-4">
                                    <div class="">
                                        {{ forms.file }}
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 row px-4">
                                <div class="col-lg-6  row my-4">
                                    <label for="id_is_agree" style="cursor: pointer;">
                                        {{ forms.is_agree }}<span
                                            class="ml-3"> {% trans 'Оставляя заявку, вы соглашаетесь с обработкой ваших персональных данных' %}</span>
                                    </label>
                                    <small class="text-danger">{{ forms.is_agree.errors }}</small>
                                </div>

                                <div class="col-lg-6  row my-4 d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary px-4">{% trans 'Заказать консультацию' %}</button>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </form>



    <div class="" id="formacha" style="display: none; margin-top: 200px">
        <form class="h-100 w-100 mobile-form" method="post"
              action="{% url 'orders:create-order' %}"
              style="

              height: 100vh;
              padding-top: 10%;
              padding-bottom: 10%;
              background-color: black;
              opacity: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%)"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container bg-white shadow rounded-20 p-5">
                <div class="    ">
                    <div class="d-flex justify-content-between">

                        <h2 class=" mb-4">Payment form</h2><i class="bi bi-x-circle "></i>

                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class=" container ">

                            <div class="row text-secondary">

                                <div class="col-lg-6">
                                    <div class="form-group row my-4">
                                        <label for="inputPassword" class="col-sm-4 col-form-label">Номер
                                            телефона</label>
                                        <div class="col-sm-6 d-flex flex-column">
                                            {{ form.phone }}
                                            <small class="text-danger align-self-start">{{ form.phone.errors }}</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row my-4">
                                        <label for="inputPassword" class="col-sm-4 col-form-label">Эл. почта</label>
                                        <div class="col-sm-6 d-flex flex-column">
                                            {{ form.email }}
                                            <small class="text-danger align-self-start">{{ form.email.errors }}</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10">
                                    <div class="form-group d-flex my-4">
                                        <label for="inputPassword" class="col-form-label">File</label>
                                        <div class="col-sm-6 d-flex flex-column ml-5">
                                            {{ form.file }}
                                            <small class="text-danger align-self-start">{{ form.email.errors }}</small>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <h4>Cost: <label id="formcost"></label> сум</h4>
                                </div>
                                <div class="col-6 col-lg-2 overflow-auto">
                                    {{ form.payment_type }}
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="row ">
                    <input type="hidden" name="product" value="editing"/>
                    <input type="hidden" class="amount" name="amount" value=""/>

                    <input type="hidden" name="payment_status" value="0"/>
                    <input type="hidden" name="delivery_status" value="1"/>
                    <div class="col-lg-11 d-flex  justify-content-end">
                        <button type="submit" class="btn btn-primary px-4 mr-4">{% trans 'Заказать' %}</button>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <!-- Button trigger modal -->

    <!-- Modal -->



    <div class="modal fade" id="alertme" tabindex="-1" style="margin-top: 200px" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">внимание</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    зарегистрируйтесь чтобы выполнить запрос
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <a href="{% url 'requests:after-login' %}" type="button"
                       class="btn btn-primary">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>

        $('#labelcom').change(function () {

            a = $(this).val()
            $('#volume').val(a)
            cost1 = $(this).val() * Number({{ text.text6 }})
            cost2 = $(this).val() * Number({{ text.text7 }})
            cost3 = $(this).val() * Number({{ text.text8 }})
            $('#labelcom').html(a)
            $('#cost').html(cost1)
            $('#cost1').html(cost2)
            $('#cost2').html(cost3)
        })


        $("#hideforma").click(function () {

            a = parseInt($('#cost').html())
            $('#formcost').html(a)
            $('.amount').val(a)

        })
        $("#hideforma1").click(function () {

            a = parseInt($('#cost1').html())
            $('#formcost').html(a)
            $('.amount').val(a)
        })
        $("#hideforma2").click(function () {

            a = parseInt($('#cost2').html())
            $('#formcost').html(a)
            $('.amount').val(a)
        })

        $('.bi-x-circle').click(function () {
            $("#formacha").css('display', 'none')
        })


        $('#label').val(1)


        $('#volume').on('click ', function () {
            a = $(this).val()
            cost = $(this).val() * 239
            $('#label').val(a)
            $('#cost').html(cost)
            $('#cost1').html(cost)
            $('#cost2').html(cost)
        })

    </script>

{% endblock %}