{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-8 align-text-bottom mb-5" >
                <div class="d-flex flex-column justify-content-end" style="background-image: url({% static 'pages/images/Rectangle 37.png' %}); height: 100%;">
                    <div>БИОЛОГИЯ</div>
                    <h4>Ученый получил вторую нобелевскую за диссертацию</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="border">
                    <img class="img-fluid" src="{% static 'pages/images/Rectangle 62.png' %}">
                    <div class="pl-4 pt-4 pb-5 pr-5">
                        <h6 class="main-color font-weight-bold pb-2" style="font-size: smaller">БИОЛОГИЯ</h6>
                        <div class="h5 font-weight-bold">Ученый получил вторую нобелевскую за диссертацию</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="border">
                    <img class="img-fluid" src="{% static 'pages/images/Rectangle 62.png' %}">
                    <div class="pl-4 pt-4 pb-5 pr-5">
                        <h6 class="main-color font-weight-bold pb-2" style="font-size: smaller">БИОЛОГИЯ</h6>
                        <div class="h5 font-weight-bold">Ученый получил вторую нобелевскую за диссертацию</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="border">
                    <img class="img-fluid" src="{% static 'pages/images/Rectangle 62.png' %}">
                    <div class="pl-4 pt-4 pb-5 pr-5">
                        <h6 class="main-color font-weight-bold pb-2" style="font-size: smaller">БИОЛОГИЯ</h6>
                        <div class="h5 font-weight-bold">Ученый получил вторую нобелевскую за диссертацию</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="border">
                    <img class="img-fluid" src="{% static 'pages/images/Rectangle 62.png' %}">
                    <div class="pl-4 pt-4 pb-5 pr-5">
                        <h6 class="main-color font-weight-bold pb-2" style="font-size: smaller">БИОЛОГИЯ</h6>
                        <div class="h5 font-weight-bold">Ученый получил вторую нобелевскую за диссертацию</div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="font-weight-bold">На этой неделе</h1>
        <div class="row my-5">
            <div class="col-lg-4">
                <p class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</p>
                <div class="small text-secondary">22 сентября</div>
            </div>
            <div class="col-lg-4">
                <p class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</p>
                <div class="small text-secondary">22 сентября</div>
            </div>
            <div class="col-lg-4">
                <p class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</p>
                <div class="small text-secondary">22 сентября</div>
            </div>
        </div>
    <div class="row my-5">
            <div class="col-lg-4">
                <p class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</p>
                <div class="small text-secondary">22 сентября</div>
            </div>
            <div class="col-lg-4">
                <p class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</p>
                <div class="small text-secondary">22 сентября</div>
            </div>
            <div class="col-lg-4">
                <p class="font-weight-bold">Ученый получил Нобелевскую за диссертацию</p>
                <div class="small text-secondary">22 сентября</div>
            </div>
        </div>

    </div>
{% endblock %}