{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row pb-5">
            <div class="col-lg-3">
                <img src="{{ single_research.image.url }}" style="width: 100%;">
            </div>
            <div class="offset-1 col-lg-7">
                <div class="h2">{{ single_research.title }}</div>
                <div class="small text-secondary py-3">Эрик Берн</div>
                <div>{{ single_research.description }}</div>
            </div>
        </div>

        <div>

            <div class="row">
                <div class="col-lg-8"> {{ single_research.more|safe }}</div>
            </div>
            -->
        </div>
    </div>


{% endblock %}