{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/bak.css' %}">{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success text-center" id="alert_message">
            {{message}}
        </div>
        {% else %}
        <div class="alert alert-danger text-center" id="alert_message">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="wrapper" style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
    <div class="row pano mx-0" style="background-image: url('{% static 'pages/images/rectangle_grey.png' %}')">
        <div class="container">
            <div class="row padding_me">
                <div class="col-lg-6">
                    <div class=" head-word geometria pb-5"
                        style="font-size: 50px; color:white; font-weight:bold; line-height:1">Как получить патент?</div>
                    <div style=" color:white" class="text-left ">
                        Хотите надёжно защитить свою интеллектуальную собственность? Сосредоточьтесь на главном — исследованиях и разработках. А
                        Editory поможет со всем остальным.
                    </div>
                    <div class="form-group row" style="margin-top: 60px">
                        <div class="col col-md-6">
                            <button type="submit" class="btn w-100 text-white self-align-left"
                                style="background:#2A819E">Заказать консультацию</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                        <img class="pt-auto ml-auto" src="{% static 'pages/images/patent.png' %}"
                            style="width: 30vw;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-0 mt-100">
        <div class="container">
            <div class="text-left" style="font-size: 36px; color:#263236;">Заявка на получение патента</div>
        </div>
    </div>


</div>

<div class="container mt-100 pb-100">

    <form class="mt-5" method="post" name="consultation" action="{% url 'requests:grants' %}">
        {% csrf_token %}
        <div class="row text-secondary">
            <div class="col-lg-6">
    
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label">Имя</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.first_name}}
                        <small class="text-danger">{{form.first_name.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Фамилия</label>
                    <div class="col-sm-6">
                        {{form.last_name}}
                        <small class="text-danger">{{form.last_name.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Номер телефона</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.phone}}
                        <small class="text-danger">{{form.phone.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.email}}
                        <small class="text-danger">{{form.email.errors}}</small>
                    </div>
                </div>
    
                <!-- <div class="form-group row mt-5">
                        <div class="col-sm-6 d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <input type="checkbox">
                                {{forms.is_agree}} <small class="ml-4" style="white-space: nowrap;">Согласие с политикой
                                    конфиденциальности</small>
                            </div>
                            <small class="text-danger">{{forms.is_agree.errors}}</small>
                        </div>
                    </div> -->
    
            </div>
            <div class="col-lg-6">
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Организация</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.organization}}
                        <small class="text-danger">{{form.organization.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Контакты организации </label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.org_contacts}}
                        <small class="text-danger">{{form.org_contacts.errors}}</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Адрес организации</label>
                    <div class="col-sm-6 d-flex flex-column">
                        {{form.org_address}}
                        <small class="text-danger">{{form.org_address.errors}}</small>
                    </div>
                </div>
    
                <input type="hidden" name="theme" value="patent">
    
            </div>
            <div class="form-group row w-100" style="margin-top: 60px">
                <div class="col-lg-11 d-flex justify-content-between">
                    <div class="mr-auto">
                        {{form.is_agree}}<span class="ml-4">Согласие с политикой конфиденциальности</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Заказать консультацию</button>
                </div>
            </div>
        </div>
    
    </form>
</div>





{% endblock content %}