{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta property="og:title" content="Консультация по диссертациям">
    <meta property="og:description" content="Рецензирование, методология исследования, статистический анализ, статистический анализ, корректура и редактирование">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'pages/images/image52.jpg' %}">
    <meta property="og:url" content="htts://editory.org{{ request.path }}">
    <meta property="og:site_name" content="EDITORY.ORG">
{% endblock meta %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/proofreading.css' %}">
{% endblock %}

{% block content %}

    <div class="fixed-top" style="top:137px; z-index: 1000">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <div class="bg-me-home h-600"
         style="background-image: url({% static 'pages/images/image52.jpg' %});
                 background-size: cover; ">
        <div class="h-100" style="
background: linear-gradient(104.63deg, #173E51 0.43%, rgba(28, 98, 121, 0.35) 63.59%, rgba(255, 255, 255, 0) 96.89%);
mix-blend-mode: luminosity;
">

            <div class="container pt-5 text-white " style="z-index: 100000; clear: both">
                <nav>
                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <a class="nav-link asd {% if raqam == '1' %}active{% endif %} " id="nav-home-tab"
                           data-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">{% trans 'Рецензирование' %}</a>
                        <a class="nav-link asd {% if raqam == '2' %}active{% endif %} " id="nav-profile-tab"
                           data-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">{% trans 'Методология исследования' %}</a>
                        <a class="nav-link asd {% if raqam == '3' %}active{% endif %} " id="nav-contact-tab"
                           data-toggle="tab" href="#nav-contact" role="tab"
                           aria-controls="nav-contact" aria-selected="false">{% trans 'Статистический анализ' %}</a>
                        <a class="nav-link asd {% if raqam == '4' %}active{% endif %} " id="nav-fouth-tab"
                           data-toggle="tab" href="#nav-fourth" role="tab"
                           aria-controls="nav-fourth"
                           aria-selected="false">{% trans 'Корректура и редактирование' %}</a>
                    </div>
                </nav>
            </div>
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade {% if raqam == '1' %}active show{% endif %}" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="container ">
                        <div class="row py-5">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text-white">
                                    <div class="font-65 pb-4 text1-text"
                                         style="font-weight: 600; line-height:106.3% ">{{ text.text1 }}
                                    </div>
                                    <div class="pb-4 text2-text">{{ text.text2 }}
                                    </div>
                                    <a href="#Forma" class="btn btn-light px-5">{% trans 'Отправить работу' %} </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade {% if raqam == '2' %}active show{% endif %}" id="nav-profile" role="tabpanel"
                     aria-labelledby="nav-profile-tab">

                    <div class="container ">
                        <div class="row py-5">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text-white">
                                    <div class="font-65 pb-4 text3-text"
                                         style="font-weight: 600; line-height:106.3% ">{{ text.text3 }}
                                    </div>
                                    <div class="pb-4 text4-text">{{ text.text4 }}
                                    </div>
                                    <a href="#Forma" class="btn btn-light px-5">{% trans 'Отправить работу' %} </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade {% if raqam == '3' %}active show{% endif %}" id="nav-contact" role="tabpanel"
                     aria-labelledby="nav-contact-tab">

                    <div class="container ">
                        <div class="row py-5">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text-white">
                                    <div class="font-65 pb-4 text5-text"
                                         style="font-weight: 600; line-height:106.3% ">{{ text.text5 }}
                                    </div>
                                    <div class="pb-4 text6-text">{{ text.text6 }}
                                    </div>
                                    <a href="#Forma" class="btn btn-light px-5">{% trans 'Отправить работу' %} </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if raqam == '4' %}active show{% endif %}" id="nav-fourth" role="tabpanel"
                     aria-labelledby="nav-fourth-tab">
                    <div class="container ">
                        <div class="row py-5">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text-white">
                                    <div class="font-65 pb-4 text7-text"
                                         style="font-weight: 600; line-height:106.3% ">{{ text.text7 }}
                                    </div>
                                    <div class="pb-4 text8-text">{{ text.text8 }}
                                    </div>
                                    <a href="#Forma" class="btn btn-light px-5">{% trans 'Отправить работу' %} </a> 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="bg-me"
         style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
        <div class="container pb-100 pt-100 text-white ">
            <div class="font-22 section_2">
                {{ text.text9|safe }}
            </div>
        </div>
    </div>






    <div id="Forma" class="container mb-100">
        <div class="mt-5">
            <div class="h1">{% trans 'Заявка на корректуру' %} <br>{% trans 'и редактирование диссертации' %}</div>

        </div>
        <form class="mt-5" method="post" action="{% url 'requests:proofreading' %}#Forma" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row text-secondary">
                <div class="col-lg-6">

                    <div class="form-group row d-flex align-items-center">
                        <label for="" class="col-sm-4 col-form-label d-flex align-items-center">{% trans 'Имя автора' %}</label>
                        <div class="col-sm-6 d-flex flex-column">
                            <!-- <input type="text" name="last_name" class="form-control"> -->
                            {{ form.author }}
                            <small class="text-danger">{{ form.author.errors }}</small>
                        </div>
                    </div>

                    <div class="form-group row d-flex align-items-center">
                        <label for="inputPassword"
                               class="col-sm-4 col-form-label d-flex align-items-center">{% trans 'Название материала' %}</label>
                        <div class="col-sm-6">
                            {{ form.material_name }}
                            <small class="text-danger">{{ form.material_name.errors }}</small>
                        </div>
                    </div>

                    <div class="form-group row d-flex align-items-center">
                        <label for="inputPassword"
                               class="col-sm-4 col-form-label d-flex align-items-center">{% trans 'Область исследований' %}</label>
                        <div class="col-sm-6 d-flex flex-column">
                            {{ form.research_area }}
                            <small class="text-danger">{{ form.research_area.errors }}</small>
                        </div>
                    </div>

                    <div class="form-group row d-flex align-items-center" style="display: none">
                        <div class="offset-lg-4 col-sm-6 d-flex flex-column">
                            {{ form.choose }}
                            <small class="text-danger">{{ form.phone.errors }}</small>
                        </div>
                    </div>

                </div>


                <div class="col-lg-6">

                    <div class="form-group row d-flex align-items-center">
                        <label for="inputPassword" class="col-sm-4 col-form-label d-flex align-items-center">{% trans 'Кол-во слов' %}</label>
                        <div class="col-sm-6 d-flex flex-column">
                            {{ form.word_count }}
                            <small class="text-danger">{{ form.word_count.errors }}</small>
                        </div>
                    </div>

                    <div class="form-group row d-flex align-items-center">
                        <label for="inputPassword"
                               class="col-sm-4 col-form-label d-flex align-items-center">{% trans 'Язык редактирования' %} </label>
                        <div class="col-sm-6 d-flex flex-column">
                            {{ form.language_editing }}
                            <small class="text-danger">{{ form.language_editing.errors }}</small>
                        </div>
                    </div>

                    <div class="form-group row d-flex align-items-center">
                        <label for="inputPassword"
                               class="col-sm-4 col-form-label d-flex align-items-center">{% trans 'Сертификат об использовании языкового редактирования' %}</label>
                        <div class="col-sm-6 d-flex flex-column">
                            {{ form.certificate }}
                            <small class="text-danger">{{ form.certificate.errors }}</small>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row ">
                <div class="col-lg-2 text-secondary">{% trans 'Комментарии/ особые пожелания' %}</div>
                <div class="col-lg-9 mb-3">
                    {{ form.comment }}
                    <small class="text-danger">{{ form.comment.errors }}</small>
                </div>
                <div class="offset-lg-2 mt-3 col-lg-9  d-flex align-items-center">
                    <label for="file" class="input-preview h-100 w-100 form-input">
                        <!-- <input type="file" class="bg-danger"> -->
                        {{ form.upload_file }}
                        <small class="text-danger">{{ form.upload_file.errors }}</small>
                    </label>
                </div>

                <div class="row col-lg-11 my-4  mb-100 d-flex align-items-center pl-3 pr-lg-0 justify-content-between">
                    <label for="id_is_agree" class="d-flex align-items-center pl-3 my-3 my-lg-0"
                           style="cursor: pointer;">
                        {{ form.is_agree }}<span
                            class="ml-3"> {% trans 'Оставляя заявку, вы соглашаетесь с обработкой ваших персональных данных' %}</span>
                    </label>

                    <button type="submit"
                            class="btn btn-primary px-4 my-3 ml-3 my-lg-0 col-12 col-lg-auto">{% trans 'Отправить работу' %}
                    </button>
                    <div class="col-12">
                        <small class="text-danger">{{ form.is_agree.errors }}</small>
                    </div>


                </div>


            </div>

        </form>
    </div>



{% endblock %}

{% block js %}
    <script src="{% static 'pages/js/proofreading.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            if (alert_message) {
                alert_message.classList.add('alert_message')
            }
        })

        $(document).ready(function () {
            if ({{ raqam }} == 1
        )
            {
                $('.bg-me-home').css('background-image', 'url({% static 'pages/images/image52.jpg' %})')
                $('.section_2').css('background', '#40545C')
                $('#id_choose').val('Рецензирование')
            }
        else
            if ({{ raqam }} == 2
        )
            {
                $('.bg-me-home').css('background-image', 'url({% static 'pages/images/image53.jpg' %})')
                $('.section_2').css('background', '#2A819E')
                $('#id_choose').val('Методология исследования')
            }
        else
            if ({{ raqam }} == 3
        )
            {
                $('.bg-me-home').css('background-image', 'url({% static 'pages/images/image54.jpg' %})')
                $('.section_2').css('background', '#CE935E')
                $('#id_choose').val('Статистический анализ')
            }
        else
            if ({{ raqam }} == 4
        )
            {
                $('.bg-me-home').css('background-image', 'url({% static 'pages/images/debby-hudson-asviIGR3CPE-unsplash.jpg' %})')
                $('.section_2').css('background', '#CE935E')
                $('#id_choose').val('Корректура и редактирование')
            }
        })


        $('#nav-home-tab').on('click', function () {
            $('.bg-me-home').css('background-image', 'url({% static 'pages/images/image52.jpg' %})')
            $('.section_2').css('background', '#40545C')
            $('#id_choose').val('Рецензирование')
        })
        $('#nav-profile-tab').on('click', function () {
            $('.bg-me-home').css('background-image', 'url({% static 'pages/images/image53.jpg' %})')
            $('.section_2').css('background', '#2A819E')
            $('#id_choose').val('Методология исследования')
        })
        $('#nav-contact-tab').on('click', function () {
            $('.bg-me-home').css('background-image', 'url({% static 'pages/images/image54.jpg' %})')
            $('.section_2').css('background', '#CE935E')
            $('#id_choose').val('Статистический анализ')
        })
        $('#nav-fouth-tab').on('click', function () {
            $('.bg-me-home').css('background-image', 'url({% static 'pages/images/debby-hudson-asviIGR3CPE-unsplash.jpg' %})')
            $('.section_2').css('background', '#CE935E')
            $('#id_choose').val('Корректура и редактирование')
        })
    </script>

{% endblock js %}