{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/research.css' %}">
{% endblock %}

{% block content %}


    <div class="bg-me h-600" style="background-image: url({% static 'pages/images/image56.jpg' %});
        background-size: cover;">
    <div class="h-100" style="background: linear-gradient(104.63deg, #173E51 0.43%, rgba(28, 98, 121, 0.35) 63.59%, rgba(255, 255, 255, 0) 96.89%);
mix-blend-mode: luminosity;
">
    <div class="container h-100 d-flex align-items-center">
        <div class="row py-5">
            <div class="col-lg-7 text-white ">
                    <div class="geometria pb-3 font-weight-bold text-break" style="font-size: 55px">{% trans 'Исследовательские платформы' %}</div>
                    <div class="font-22">
                        {% trans 'Исследовательские платформы - это успешный инструмент для междисциплинарных исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется учеными и исследовательскими группами различных дисциплин и факультетов, которые могут подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.' %}</div>

                </div>

        </div>

    </div>
</div>
</div>
    <div style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
    <div class="container main-font">



        <div class="row pt-100 adaptive">
            {#todo bir#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">Scopus</div>
                <div class="mb-3">{% trans 'Scopus уникальным образом сочетает в себе комплексную тщательно подобранную базу данных рефератов и цитирований с расширенными данными и связанным научным контентом.' %}<br>

                    {% trans 'Быстро находите релевантные и надежные исследования, выбирайте экспертов и получайте доступ к надежным данным, показателям и аналитическим инструментам для принятия уверенных решений по стратегии исследования - все из одной базы данных и одной подписки.' %}</div>
                <a href="https://www.scopus.com/" class="link-color ">{% trans 'Смотреть исходники' %}</a>
            </div>
            {#todo ikki#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">SpringerLink</div>
                <div class="mb-3">{% trans 'SpringerLink - это самая полная в мире онлайн-коллекция научных, технологических и медицинских журналов, книг и справочников. SpringerLink предлагает электронную и печатную литературу от Springer-Verlag, выдающегося научного издателя с превосходной репутацией на протяжении более 150 лет. Он также предлагает работы растущего списка издателей, включая Urban и Vogel, Steinkopff и Birkhäuser.' %}</div>
                <a href="https://www.springer.com/gp/book/9783319329772?gclid=CjwKCAjwlYCHBhAQEiwA4K21m36emYvVujkhfmXFwkw7eIwQJCdZhn3rGUOD3YKN5Z-QXZg2ifwlshoCf40QAvD_BwE#otherversion=9783319329789" class="link-color">{% trans 'Смотреть презентацию' %}</a>
            </div>
            {#todo uch#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">ScienceDirect</div>
                <div class="mb-3">
                    {% trans 'ScienceDirect поддерживает преподавание, обучение, исследования и открытия. Получайте факты! Платформа основанная на широком спектре надежных, высококачественных, междисциплинарных исследований и научной литературы, помогает находить ответы на самые насущные вопросы мира. Независимо от того, являетесь ли вы преподавателем, студентом, библиотекарем или исследователем, ScienceDirect поможет вам создать прочную основу знаний, оставаться на вершине своей области и получить глубокое понимание актуальных тем, когда вы будете делать следующие шаги в открытии.' %}</div>
                <a href="https://www.sciencedirect.com/" class="link-color">{% trans 'Смотреть исходники' %}</a>
            </div>
            {#todo tort#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">Wiley-Blackwell</div>
                <div class="mb-3">
                    {% trans 'Wiley-Blackwell - это международная издательская компания John Wiley & Sons в области научных, технических, медицинских и научных публикаций, имеющая сильные стороны во всех основных академических и профессиональных областях и сотрудничающая со многими ведущими мировыми обществами. Wiley-Blackwell ежегодно издает около 1500 рецензируемых журналов и более 1500 новых книг в печатном виде и в Интернете, а также базы данных, основные справочные материалы и лабораторные протоколы.' %}
                </div>
                <a href="https://www.wiley.com/" class="link-color">{% trans 'Смотреть исходники' %}</a>
            </div>
            {#todo besh#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">Web of Science</div>
                <div class="mb-3">
                    {% trans 'Web of Science (сокращенно WOS) – это мультидисциплинарная платформа, помогающая быстро найти, проанализировать и обеспечить общий доступ к информации в области естественных, общественных и гуманитарных наук, а также искусства. Пользователь получает интегрированный доступ к высококачественной литературе с помощью унифицированной платформы, которая связывает вместе самое разнообразное содержимое и поисковые термины, создавая при этом один общий словарь и один комплексный поиск.' %}
                </div>
                <a href="https://drive.google.com/file/d/1tARIV_fDgSdGSqmHHHBZGGl3cj7XADqH/view?usp=sharing" class="link-color">{% trans 'Смотреть исходники' %}</a>
            </div>
            {#todo olti#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">PubMed</div>
                <div class="mb-3">{% trans 'PubMed - это бесплатный ресурс, поддерживающий поиск и извлечение литературы по биомедицине и наукам о жизни с целью улучшения здоровья как на глобальном, так и на личном уровне.' %}
                    <br>
                    {% trans 'База данных PubMed содержит более 32 миллионов ссылок и рефератов из биомедицинской литературы. Он не включает полнотекстовые журнальные статьи; однако ссылки на полный текст часто присутствуют, если они доступны из других источников, таких как веб-сайт издателя или PubMed Central (PMC).' %}
                </div>
                <a href="https://pubmed.ncbi.nlm.nih.gov/" class="link-color">{% trans 'Смотреть исходники' %}</a>
            </div>
            {#todo yetti#}
            <div class="col-lg-6 mb-5">
                <div class="main-color h3 font-weight-bold">The Cochrane Library</div>
                <div class="mb-3">{% trans 'The Cochrane Library - это собрание баз данных, которые содержат различные типы высококачественных независимых данных для информирования при принятии решений в сфере здравоохранения. Данная библиотека принадлежит Cochrane и публикуется Wiley.' %}</div>
                <a href="https://www.cochranelibrary.com/" class="link-color">{% trans 'Смотреть исходники' %}</a>
            </div>
        </div>

        <div class="pt-5"></div>
    </div>
    </div>
{% endblock content %}