{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}

<div class="bg-me">

    <div class="container mt-4">
        <nav>
              <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                    <a class="nav-link active pl-0" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Research strategy</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Collaboration</a>
                    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Funding</a>
                    <a class="nav-link" id="nav-fouth-tab" data-toggle="tab" href="#nav-fourth" role="tab" aria-controls="nav-fourth" aria-selected="false">Management & Conducting</a>
              </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4" style=" line-height:106.3%; font-weight:600">Стратегия исследования</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <!-- <button class="btn btn-primary">Бесплатная консультация</button> -->
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/strategy yell 1.png' %}" width="100%">
                        </div>
                        </div>
                    </div>
              </div>

          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4" style="font-weight: 600; line-height:106.3% ">Партнёрство и сотрудничество</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <!-- <button class="btn btn-primary">Бесплатная консультация</button> -->
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/collab 1.png' %}" width="100%">
                        </div>
                        </div>
                    </div>
              </div>




          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4" style=" font-weight:600; line-height:106.3%">Финансирование</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <!-- <button class="btn btn-primary">Бесплатная консультация</button> -->
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/funding 1.png' %}" width="100%">
                        </div>
                        </div>
                    </div>
              </div>



          <div class="tab-pane fade" id="nav-fourth" role="tabpanel" aria-labelledby="nav-fourth-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class=" h1 pb-4" style=" font-weight:600; line-height:106.3%">Управление исследовательским процессом</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <!-- <button class="btn btn-primary">Бесплатная консультация</button> -->
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/funding 1.png' %}" width="100%">
                        </div>
                        </div>
                    </div>
              </div>

          </div>
    </div>





    <div class="container mt-5">
        <div class=" row">
            <div class="col-lg-8">
                <div class="h1">Для чего нужна стратегия <br>исследования?</div>
                Научные конференции являются особенным видом взаимодействия между представителями
                исследовательского сообщества, в ходе которого они представляют свои работы в форме сборников
                материалов и обсуждают их с коллегами. Участия в конференциях международного уровня является очень
                важным этапом деятельности любого специалиста, однако добиться этого не так просто, ведь для этого
                нужно подготовить целый ряд материалов и соблюсти массу правил по их оформлению.
                <br>
                <br>
                Если же вы желаете, чтобы ваши исследовательские работы приняли участие в той или иной
                научной конференции, то наша компания будет рада помочь вам в решении этого вопроса. Подобными
                вопросами мы профессионально занимаемся на протяжении многих лет, и прекрасно знаем требования,
                нормы и правила подготовки материалов для участия в конференциях различного плана и уровня.
            </div>

        </div>
    </div>

</div>

        <div class="my-5 main-background">
        <div class="container">
            <div class="py-5">
                <div class="row text-white">
                    <div class="offset-1 col-lg-3 h2">Бесплатная консультация</div>
                    <div class="offset-1 col-lg-3">Заполните форму и наш консультант свяжется с вами в течение часа</div>
                    <div class="offset-1 col-lg-3 mt-3"><div id="commit" class="btn btn-light px-4 py-2">Получить консультацию</div></div>
                </div>

            </div>
        </div>
    </div>

    <div>

    <div class="forma container border bg-white rounded-20 py-5 px-5 fixed-top " >
        <h2 id="hideform" class="float-right btn  ">X</h2>
        <h2 class=" mb-5">Заявка на <span class="main-color">бесплатную</span> <br>консультацию</h2>

        <form method="post" action="{% url 'requests:consultation' %}">
            {% csrf_token %}
            <div class="row text-secondary">
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Имя</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" name="first_name" class="form-control"> -->
                            {{form.first_name}}
                        </div>
                        <small class="text-danger align-self-end">{{form.first_name.errors}}</small>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Фамилия</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" name="last_name" class="form-control"> -->
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Номер телефона</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" name="phone" class="form-control"> -->
                            {{form.phone}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Тема вопроса</label>
                        <div class="col-sm-6">
                            {{form.material}}
                            <!-- <select id="inputState" name="material" class="form-control">

                                <option class="rounded" selected>Стратегия исследования</option>
                                <option>Партнёрство и сотрудничество</option>
                                <option>Финансирование</option>
                                <option>Управление исследовательским процессом</option>
                                <option>Общая консультация</option>

                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Организация</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" name="organization" class="form-control"> -->
                            {{form.organization}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label position-absolute pt-0" style="line-height: 21.5px">Контакты организации </label>
                        <div class="offset-4 col-sm-6">
                            <!-- <input type="text" name="organization_contacts" class="form-control"> -->
                            {{form.organization_contacts}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Адрес организации</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" name="address" class="form-control"> -->
                            {{form.address}}
                        </div>
                    </div>
                    <div class="form-group row" style="margin-top: 60px">
                        <div class="offset-4 col-sm-6">
                            <button type="submit" class="btn btn-primary w-100">Заказать консультацию</button>

                        </div>
                    </div>


                </div>
            </div>

        </form>
    </div>
    </div>
{% endblock %}

{% block js %}

    <script>
    $('#commit').click(function (){
        $('div.forma').css('display','inline')
    });
    $('#hideform').click(function (){
        $('div.forma').css('display','none')
    });
    </script>

{% endblock %}