{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta property="og:title" content="{% trans 'Исследовательские платформы' %}">
    <meta property="og:description" content="{% trans 'Исследовательские платформы - это успешный инструмент для междисциплинарных исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется учеными и исследовательскими группами различных дисциплин и факультетов, которые могут подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.' %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'pages/images/typewriter копия 1.png' %}">
    <meta property="og:url" content="htts://editory.org{{ request.path }}">
    <meta property="og:site_name" content="EDITORY.ORG"> 
{% endblock meta %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/research.css' %}">
{% endblock %}

{% block content %}


    <div id="image" class="bg-me h-600" style="background-image: url({% static 'pages/images/image56.jpg' %});
            background-size: cover;">
        <div class="h-100" style="background: linear-gradient(104.63deg, #173E51 0.43%, rgba(28, 98, 121, 0.35) 63.59%, rgba(255, 255, 255, 0) 96.89%);
mix-blend-mode: luminosity;
">
            <div class="container h-100 d-flex align-items-center">
                <div class="row py-5">
                    <div class="col-lg-7 text-white ">
                        <div id="title" class="geometria pb-3 font-weight-bold text-break"
                             style="font-size: 55px">{% trans 'Исследовательские платформы' %}</div>
                        <div id="description" class="font-22">
                            {% trans 'Исследовательские платформы - это успешный инструмент для междисциплинарных исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется учеными и исследовательскими группами различных дисциплин и факультетов, которые могут подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.' %}</div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
        <div class="container main-font">


            <div class="row pt-100 adaptive">
                {#todo bir#}
                {% for t in text %}
                    <div class="col-lg-6 mb-5">
                        <div class="main-color h3 font-weight-bold">{{ t.name }}</div>
                        <div class="mb-3">{{ t.context }}</div>
                        <a href="{{ t.link }}" class="link-color ">{% trans 'Смотреть исходники' %}</a>
                    </div>
                {% endfor %}

            </div>

            <div class="pt-5"></div>
        </div>
    </div>
{% endblock content %}