{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/research.css' %}">
{% endblock %}
contai
{% block content %}
    <div class="container main-font">
        <div class=" banner" style='background-image: url({% static "pages/images/felix-m.png" %}) ;'>
        </div>
        <div class="mt-5 adaptive">
            <div class="h1 font-weight-bold">{% trans 'Стратегия исследования' %}</div>
            <div>{% trans 'Исследовательские платформы - это успешный инструмент для междисциплинарных исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется учеными и исследовательскими группами различных дисциплин и факультетов, которые могут подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.' %}</div>
        </div>

        <div class="mt-5 adaptive">
            <div class="h2 font-weight-bold">{% trans 'Для чего нужна стратегия исследования?' %}</div>
            <div class="row"></div>
            <div class="col-lg-9 ml-0 pl-0">{% trans 'Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки направлений прогрессивного развития.' %}<br><br>

                {% trans 'Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.' %}
                <div class="my-5 px-5 border-left text-secondary" style=" border-left: 0.1em solid !important;">
                    {% trans 'Scopus уникальным образом сочетает в себе комплексную тщательно подобранную базу данных рефератов и цитирований с расширенными данными и связанным научным контентом.' %}<br>
                    <div class="float-right">{% trans 'Б.Махкамов' %}</div>
                </div>


                {% trans 'Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки направлений прогрессивного развития.' %}<br><br>

                {% trans 'Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.' %}
            </div>
        </div>


        <div class="mt-5"></div>


    </div>
{% endblock content %}