{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}



<div class="bg-me">

    <div class="container mt-4">
        <nav>
              <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                    <a class="nav-link active pl-0" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Research strategy</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Collaboration</a>
                    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Funding</a>
                    <a class="nav-link" id="nav-fouth-tab" data-toggle="tab" href="#nav-fourth" role="tab" aria-controls="nav-fourth" aria-selected="false">Management & Conducting</a>
              </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4">Research strategy</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <button class="btn btn-primary">Бесплатная консультация</button>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/strategy yell 1.png' %}">
                        </div>
                        </div>
                    </div>
              </div>

          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4">Research collaboration</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <button class="btn btn-primary">Бесплатная консультация</button>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/collab 1.png' %}">
                        </div>
                        </div>
                    </div>
              </div>




          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4">Research funding</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <button class="btn btn-primary">Бесплатная консультация</button>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/funding 1.png' %}">
                        </div>
                        </div>
                    </div>
              </div>



          <div class="tab-pane fade" id="nav-fourth" role="tabpanel" aria-labelledby="nav-fourth-tab">

              <div class="container mb-5">
                    <div class="row py-5">
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="">
                                <div class="h1 pb-4">Research Management <br>and Conducting</div>
                                <div class="pb-4">Исследовательские платформы - это успешный инструмент для междисциплинарных
                                    исследовательских проектов сотрудничества. Создание исследовательских платформ инициируется
                                    учеными и исследовательскими группами различных дисциплин и факультетов, которые могут
                                    подавать свои заявки в ходе конкурса заявок. Заявки оцениваются международными экспертами.</div>
                                <button class="btn btn-primary">Бесплатная консультация</button>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <img  src="{% static 'pages/images/funding 1.png' %}">
                        </div>
                        </div>
                    </div>
              </div>

          </div>
    </div>





    <div class="container mt-5">
        <div class=" row">
            <div class="col-lg-8">
                <div class="h1">Для чего нужна стратегия <br>исследования?</div>
                Научные конференции являются особенным видом взаимодействия между представителями
                исследовательского сообщества, в ходе которого они представляют свои работы в форме сборников
                материалов и обсуждают их с коллегами. Участия в конференциях международного уровня является очень
                важным этапом деятельности любого специалиста, однако добиться этого не так просто, ведь для этого
                нужно подготовить целый ряд материалов и соблюсти массу правил по их оформлению.
                <br>
                <br>
                Если же вы желаете, чтобы ваши исследовательские работы приняли участие в той или иной
                научной конференции, то наша компания будет рада помочь вам в решении этого вопроса. Подобными
                вопросами мы профессионально занимаемся на протяжении многих лет, и прекрасно знаем требования,
                нормы и правила подготовки материалов для участия в конференциях различного плана и уровня.
            </div>

        </div>
    </div>

</div>
{% endblock %}