{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/scientific.css' %}">
{% endblock %}
{% block content %}

<div class="bg-me">

    <div class="container">
        <div class="row py-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="">
                    <div class="h1 font-weight-bold">Научные издания</div>
                <div>Позвольте Editory стать вашим проводником в мир
                    доступной информации. Здесь вы найдёте рейтинги исследовательских журналов
                    Узбекистана и всего мира, тезисы и диссертации, а также монографии, с которыми
                    обязательно следует ознакомиться, чтобы оставаться на одной волне с последними
                    научными тенденциями.
                    К вашим услугам — самые качественные материалы от признанных экспертов.
                    Editory желает вам приятного чтения.
</div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <img class="img-fluid"  src="{% static 'pages/images/scient book 1.png' %}">
            </div>
        </div>
    </div>



<div class="row top w-100 justify-content-center px-0 mx-0 pb-200">
    <div class="row container w-100 pb-5">
        <div class="col-md-6 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <a href="{% url 'requests:top-researches' %}" class="text-dark text-decoration-none">
                    <img src="{% static 'pages/images/Group 189.png' %}" alt="" style="width: 66px; height:66px">
                    <h4>ТОП-5 международных научных изданий</h4>
                    <p>Мы подобрали 5 наиболее заметных и полезных изданий среди всего многообразия международных журналов</p>
                </a>
            </div>
        </div>
        <div class="col-md-6 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <a href="#" class="text-dark text-decoration-none">
                    <img src="{% static 'pages/images/Group 183.png' %}" alt="" style="width: 66px; height:66px">
                    <h4>ТОП-5 изданий Узбекистана</h4>
                    <p>Будьте в курсе актуальных исследований и проблем научного сообщества нашей республики</p>
                </a>
            </div>
        </div>
        <div class="col-md-6 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <img src="{% static 'pages/images/Group 170.png' %}" alt="" style="width: 66px; height:66px">
                <h4>Тезисы/Диссертации</h4>
                <p>Предлагаем к ознакомлению наиболее заметные и интересные научные работы за последнее время</p>
            </div>
        </div>
        <div class="col-md-6 mt-5 px-lg-4">
            <div class="d-flex flex-column bg-white p-5 h-100 w-100 card">
                <img src="{% static 'pages/images/Group 190.png' %}" alt="" style="width: 66px; height:66px">
                <h4>Протоколы и монографии</h4>
                <p>Погрузитесь в изучение фундаментальных исследования, сделавшие значительный вклад в мировую науку</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}