{% load i18n %}

Существование специальных ресурсов по поиску грантов — таких, как <a class="text-primary" href="https://exlibrisgroup.com/products/pivot-funding-opportunities-and-profiles/">PIVOT</a>, <a class="text-primary" href="https://www.grantforward.com/index">Grant Forward</a> и <a href="https://spin.infoedglobal.com/" class="text-primary">SPIN</a> — позволяет каждому учёному самостоятельно искать возможности для исследований. Кроме них, существуют базы грантов, доступные по платной подписке, к которым можно попробовать получить доступ через <a class="text-primary" href="https://fconline.foundationcenter.org/">Foundation Directory Online</a>. Сложность в том, что постоянный мониторинг этих баз и требований к заявкам, которые различаются для разных фондов и грантов, отнимает слишком много времени и внимания, совершенно не гарантируя положительного результата. Попытать счастья можно в огромном количестве организаций:
<br>
<br>
<br>
<ul class="ml-4">
    <li>7ая Рамочная программа — <a href="http://www.cordis.europa.eu" class="text-primary">www.cordis.europa.eu</a></li>
    <li>Совет Министров Северных стран — <a href="http://www.norden.ru" class="text-primary">www.norden.ru</a></li>
    <li>Российский фонд фундаментальных исследований — <a href="http://www.rfbr.ru" class="text-primary">www.rfbr.ru</a></li>
    <li>Германское научно-исследовательское общество(ДФГ) — <a href="http://www.dfg.de" class="text-primary">www.dfg.de</a></li>
    <li>Европейский научный фонд — <a href="http://www.esf.org" class="text-primary">www.esf.org</a></li>
    <li>Российский гуманитарный научный фонд — <a href="http://www.rfh.ru">www.rfh.ru</a></li>
    <li>Фонд некоммерческих программ «Династия» — <a href="http://www.dynastyfdn.com" class="text-primary">www.dynastyfdn.com</a></li>
    <li>Академия Финляндии — <a href="http://www.aka.fi">www.aka.fi</a></li>
    <li>Американский совет по международным исследованиям и научным обменам (АЙРЕКС) — <a href="http://www.irex.org">www.irex.org</a></li>
    <li>Американский фонд гражданских исследований и развития для независимых государств бывшего Советского Союза — <a
            href="http://www.crdf.org">www.crdf.org</a></li>
    <li>Научно-исследовательский совет Норвегии — <a href="http://www.forskningsradet.no">www.forskningsradet.no</a></li>
    <li>Национальный Гуманитарный Центр — <a href="http://www.nationalhumanitiescenter.org">www.nationalhumanitiescenter.org</a></li>
    <li>Фонд Александра фон Гумбольдта — <a href="http://www.avh.de">www.avh.de</a></li>
    <li>Фонд Фольксвагена — <a href="http://www.volkswagen-stiftung.de">www.volkswagen-stiftung.de</a></li>
    <li>Центр «Восток-Запад» — <a href="http://www.ewc.hawaii.edu">www.ewc.hawaii.edu</a></li>
    <li>Центр наук о человекe — <a href="http://www.msh-paris.fr">www.msh-paris.fr</a></li>
    <li>Шведский совет по естественным наукам — <a href="http://www.nfr.se">www.nfr.se</a></li>
    <li>CIMO — <a href="http://www.cimo.fi">www.cimo.fi</a></li>
    <li>Коллегия имени Теодора Хойсса — <a href="http://www.theodor-heuss-kolleg.de">www.theodor-heuss-kolleg.de</a></li>
    <li>Фонд Роберта Боша — <a href="http://www.theodor-heuss-kolleg.de">www.bosch-stiftung.de</a></li>
    <li>Благотворительный фонд В. Потанина — <a href="http://www.fond.potanin.ru/">www.fond.potanin.ru</a></li>
    <li>Австрийский научный фонд — <a href="http://www.fwf.ac.at/en/projects/index.html">www.fwf.ac.at</a></li>
    <li>Болгарский фонд научных исследований — <a href="http://nsfb.net/">nsfb.net</a></li>
    <li>Датский фонд CIRIUS — <a href="http://www.udiverden.dk/Default.aspx?ID=3771">www.udiverden.dk</a></li>
    <li>Смитсонская астрофизическая обсерватория (США) — <a href="http://www.cfa.harvard.edu/opportunities/fellowships/predoc/">www.cfa.harvard.edu</a></li>
</ul>
<br>
<br>
<br>
<br>
{% trans 'Кроме того, для подачи заявки в любой фонд вам потребуется целый пул    документов:' %}
<br><br>
<ul class="ml-4">
    <li>Заполненная заявка или анкета участника — зависит от требования фонда;</li>
    <li>Копии документов, удостоверяющих личность автора проекта;</li>
    <li>Копии документов, которые подтверждают, что фирма или организация автора состоит в реестре Налоговой службы или копии документов, подтверждающих, что созданы дополнительные рабочие места;</li>
    <li>Подробный бизнес-план;</li>
    <li>Копии учредительных документов организации.</li>
</ul>
<br>
<br>
<br>

Ошибки в этих документах могут закрыть вам дорогу к гранту. Editory готовы проследить за всеми необходимыми аспектами.


























