{% load i18n %}

{% trans 'Существование специальных ресурсов по поиску грантов — таких, как PIVOT, Grant Forward и SPIN — позволяет каждому учёному самостоятельно искать возможности для исследований. Кроме них, существуют базы грантов, доступные по платной подписке, к которым можно попробовать получить доступ через Foundation Directory Online. Сложность в том, что постоянный мониторинг этих баз и требований к заявкам, которые различаются для разных фондов и грантов, отнимает слишком много времени и внимания, совершенно не гарантируя положительного результата. Попытать счастья можно в огромном количестве организаций:' %}
<br>
<br>
<br>
<ul class="ml-4">
    <li>7ая Рамочная программа — www.cordis.europa.eu</li>
    <li>Совет Министров Северных стран — www.norden.ru</li>
    <li>Российский фонд фундаментальных исследований — www.rfbr.ru</li>
    <li>Германское научно-исследовательское общество(ДФГ) — www.dfg.de</li>
    <li>Европейский научный фонд — www.esf.org</li>
    <li>Российский гуманитарный научный фонд — www.rfh.ru</li>
    <li>Фонд некоммерческих программ «Династия» — www.dynastyfdn.com</li>
    <li>Академия Финляндии — www.aka.fi</li>
    <li>Американский совет по международным исследованиям и научным обменам (АЙРЕКС) — www.irex.org</li>
    <li>Американский фонд гражданских исследований и развития для независимых государств бывшего Советского Союза — www.crdf.org</li>
    <li>Научно-исследовательский совет Норвегии — www.forskningsradet.no</li>
    <li>Национальный Гуманитарный Центр — www.nationalhumanitiescenter.org</li>
    <li>Фонд Александра фон Гумбольдта — www.avh.de</li>
    <li>Фонд Фольксвагена — www.volkswagen-stiftung.de</li>
    <li>Центр «Восток-Запад» — www.ewc.hawaii.edu</li>
    <li>Центр наук о человекe — www.msh-paris.fr</li>
    <li>Шведский совет по естественным наукам — www.nfr.se</li>
    <li>CIMO — www.cimo.fi</li>
    <li>Коллегия имени Теодора Хойсса — http://www.theodor-heuss-kolleg.de</li>
    <li>Фонд Роберта Боша — http://www.bosch-stiftung.de/</li>
    <li>Благотворительный фонд В. Потанина — http://www.fond.potanin.ru/</li>
    <li>Австрийский научный фонд — http://www.fwf.ac.at/en/projects/index.html</li>
    <li>Болгарский фонд научных исследований — http://nsfb.net/</li>
    <li>Датский фонд CIRIUS — http://www.udiverden.dk/Default.aspx?ID=3771</li>
    <li>Смитсонская астрофизическая обсерватория (США) — http://www.cfa.harvard.edu/opportunities/fellowships/predoc/</li>
</ul>
<br>
<br>
<br>
<br>
{% trans 'Кроме того, для подачи заявки в любой фонд вам потребуется целый пул    документов:' %}
<br><br>
<ul class="ml-4">
    <li>Заполненная заявка или анкета участника — зависит от требования фонда;</li>
    <li>Копии документов, удостоверяющих личность автора проекта;</li>
    <li>Копии документов, которые подтверждают, что фирма или организация автора состоит в реестре Налоговой службы или копии документов, подтверждающих, что созданы дополнительные рабочие места;</li>
    <li>Подробный бизнес-план;</li>
    <li>Копии учредительных документов организации.</li>
</ul>
<br>
<br>
<br>

Ошибки в этих документах могут закрыть вам дорогу к гранту. Editory готовы проследить за всеми необходимыми аспектами.


























