{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/translation.css' %}">{% endblock %}

{% block content %}



    <div class="fixed-top" style="top:137px; z-index: 1000">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center" id="alert_message">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>



    <div class="bg-me h-600" style="background-image: url({% static 'pages/images/image25.jpg' %});
            background-size: cover;">
        <div class="h-100" style="background: linear-gradient(98.82deg, #033952 10.84%, rgba(0, 88, 118, 0.85) 42.76%, rgba(11, 29, 35, 0.36) 71.84%, rgba(255, 255, 255, 0.47) 97.97%);;
mix-blend-mode: luminosity;
">
            <div class="container my-auto">
                <div class="row padding_me">
                    <div class="col-lg-12 row mb-5 text-white">
                        <div class="col-lg-12 font-65  geometria pb-5  font-weight-bold text1-text">
                            {{ text.text1 }}
                        </div>
                        <div class="col-lg-7 font-22">
                            <div class="text2-text">
                                {{ text.text2 }}
                            </div>
                        </div>
                        <div class="mt-3 col-lg-12">
                            <a href="#Forma" class="btn btn-light  px-5">{% trans 'Отправить работу' %} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {{ text.text3 }}
            </div>
        </div>
    </div>
    <div class="wrapper" style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
        <div class="bg-me"
             style="background: linear-gradient(98.46deg, #EFF9FA -2.78%, rgba(236, 243, 243, 0) 86.58%);">
            <div class="container pb-100 pt-100 text-white ">
                <div class="font-22 section_2">
                    {{ text.text4 }}
                </div>
            </div>
        </div>
        <div id="Forma" class="row mx-0">
            <div class="container">
                <div class="text-left"
                     style="font-size: 36px; color:#263236;">{{ text.text5 }}</div>
            </div>
        </div>
        <div class="container">
            <form action="{% url 'requests:translation' %}#Forma" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row row "> <!--row-cols-1 row-cols-md-2 -->
                    <div class="col-lg-6">
                        <div class="form-group row  my-3 d-flex align-items-center  ">
                            <label for="inputPassword" class="col-sm-4 ">{% trans 'Область исследований' %}</label>
                            <div class="col-sm-6">
                                {{ form.research_area }}
                                <small class="text-danger align-self-start">{{ form.research_area.errors }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group row my-3 d-flex align-items-center">
                            <label for="inputPassword"
                                   class="col-sm-4 col-form-label">{% trans 'Язык редактирования' %}</label>
                            <div class="col-sm-6 d-flex flex-column">
                                {{ form.language }}
                                <small class="text-danger align-self-start">{{ form.language.errors }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row  my-5">
                    <div class="col-lg-2">
                        <label for="inputPassword"
                               class="text-secondary col-form-label">{% trans 'Комментарии/ особые пожелания' %}</label>
                    </div>
                    <div class="col-lg-9 d-flex flex-column">
                        {{ form.comment }}
                        <small class="text-danger align-self-start">{{ form.comment.errors }}</small>
                    </div>
                </div>

                <div class="form-group row  mt-5">
                    <div class="col-lg-2">
                        <label for="inputPassword" class="text-secondary col-form-label">{% trans 'Резюме' %}</label>
                    </div>
                    <div class="col-lg-9 row w-100">
                        <div class=" col-lg-12  d-flex align-items-center">
                            <label for="file" class="input-preview h-100 w-100 form-input">

                                {{ form.file }}

                            </label>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="container">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'warning' %}
                                        <div class="text-danger text-center w-100" id="alert_message">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <p class="ml-3">
                                    <a target='_blank' href="https://www.zamzar.com/converters/document/doc-to-docx/">Вы
                                        можете конвертировать свои файлы в формат docx здесь </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class=" py-5 mr-5 d-flex justify-content-between flex-wrap">
                    <div class="mb-3">
                        <label class="mr-4">{{ form.is_agree }}
                            <span class="ml-3">{% trans 'Оставляя заявку, вы соглашаетесь с обработкой ваших персональных данных' %}</span>
                        </label>

                    </div>
                    <div class="">
                        <button class="btn btn-info px-5 mr-lg-5">{% trans 'Отправить резюме' %}</button>
                    </div>
                    <div class="col-12">
                        <small class="text-danger">{{ form.is_agree.errors }}</small>
                    </div>
                </div>
            </form>

        </div>
    </div>



{% endblock content %}

{% block js %}
    <script src="{% static 'pages/js/translations.js' %}"></script>
    <script>
        $(document).ready(function () {

            let alert_message = document.getElementById('alert_message')

            if (alert_message) {
                alert_message.classList.add('alert_message')
            }
        })
    </script>
{% endblock %}