{% extends 'base.html' %}
{% load helpers %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="container pt-5" style="min-height: 60vh;">
        <div class="row ">
            <h1 class="text-center w-100 border-bottom">{% trans 'Оплата' %}</h1>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{% trans 'Заказчик' %}:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.user.email }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{% trans 'Телефонный номер' %}:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.user.phone }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{% trans 'Способ оплаты' %}:</p>
                    </div>
                    <div class="col-6">
                        <form action="{% url 'orders:change-payment-type' %}" method="POST" id="translation">
                            {% csrf_token %}
                            <select name="payment-type" id="payment-type" class="form-control">
                                <option value="" selected>Choose payment type</option>
                                <option value="3">Apelsin</option>
                                <option value="4">Payme</option>
                            </select>
                        </form>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{% trans 'Услуга' %}:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.product }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{% trans 'Количество символов' %}:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ request.session.charcount }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{% trans 'Сумма' %}:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.amount }} sum</p>
                    </div>
                </div>
                <hr>

                <a href="{% url 'requests:translation' %}" class="btn btn-secondary mb-5">{% trans 'отмена'%}</a>

            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                {% if order.payment_type == 4 %}
                    <form method="POST" action="https://checkout.paycom.uz">
                        <!-- Идентификатор WEB Кассы -->
                        <input type="hidden" name="merchant" value="60b7cf520d44ad636479d80b"/>

                        <!-- Сумма платежа в тийинах -->
                        <input type="hidden" name="amount" value="{{ order.get_payme_amount }}"/>

                        <!-- Поля Объекта Account -->
                        <input type="hidden" name="account[order_id]" value="{{ order.id }}"/>

                        <input type="hidden" name="callback"
                               value="https://editory.org/en/auth/dashboard/?success=success"/>

                        <button type="submit" class="btn btn-outline-success" style="width: 300px; height:200px ">
                            {% trans 'Оплатить с помощью' %}<img src="{% static 'pages/images/payme.png' %}"
                                                                 class="ml-3" alt="">
                        </button>
                    </form>
                {% endif %}
                {% if order.payment_type == 3 %}
                    <form name="apelsin_form" action="https://oplata.kapitalbank.uz" action="GET">
                        <input type="hidden" name="cash" value="8cd10d4c64bc4a64a32cd9efe53e591f">
                        <input type="hidden" name="redirectUrl" value="https://editory.org/en/auth/dashboard/">
                        <input type="hidden" name="description" value="Payment for OOO Editory">
                        <input type="hidden" name="amount" value="{{ order.get_payme_amount|get_number }}">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <button type="submit" data-id="{{ order.id }}" style="height:200px"
                                class="btn btn-outline-warning check_transaction">{% trans 'Оплатить спомощью' %}<img
                                src="https://oplata.kapitalbank.uz/images/apelsin-v1.png" class="ml-3" width="100"
                                alt="">
                        </button>

                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function () {
            let formShouldSubmit = document.querySelector('#translation')
            let clickFor = document.querySelector('#payment-type')

            clickFor.addEventListener('change', function () {
                formShouldSubmit.submit()
            })
        })
    </script>
{% endblock js %}