{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta property="og:title" content="Вебинары и семинары">
    <meta property="og:description" content="Как написать научную статью? Как взаимодействовать с исследовательскими платформами и быстро находить нужную информацию?">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'pages/images/Rectangle 123 (1).png' %}">
    <meta property="og:url" content="htts://editory.org{{ request.path }}"> 
    <meta property="og:site_name" content="EDITORY.ORG"> 
{% endblock meta %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/webinars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/slick-theme.css' %}"/>
{% endblock %}
{% block content %}
    <h1 class="d-none"><a href="{% url 'pages:all-webinars' %}">All vebinars</a></h1>
    <div class="container py-4">
        <div class="row my-5">
            <div class="col-lg-5 col-sm-12 mb-4">
                <h1 id="title" class="font-weight-bold font-65 mb-3 text1-text">
                    {% trans 'Вебинары и семинары' %}
                </h1>
                <p id="description" class=" mb-0 text2-text">
                    {% trans 'Как написать научную статью? Как взаимодействовать с исследовательскими платформами и быстро находить нужную информацию? Правильный подход — ключ к успеху. Не бойтесь реализовать свои идеи! Вебинары Editory помогут вам понять, как именно следует действовать. Наш опыт достаточно разнообразен, чтобы вы нашли в наших материалах ответы на любые вопросы.' %}
                </p>
            </div>

            <div id="image" class="col-lg-7 col-sm-12 p-0 m-0"><img src="{% static 'pages/images/Rectangle 123 (1).png' %}"
                                                         class="img-fluid"></div>
        </div>

        <div class="px-3 section row next">

            <div class="col-md-10 ">
                <div class="slick slick-slide1 row" dir="rtl">
                    {% for src in url1 %}
                        <div class="iframe1">
                            <iframe width="100%" height="100%" src="{{ src }}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-2 d-none  d-md-flex   align-item-center">
                <a class="next1" aria-label="Previous">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>


        <div class="px-3 px-md-0 section row next mb-5">

            <div class="col-md-2 d-none  d-md-flex align-item-center">
                <a class="prev1" aria-label="Previous">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </div>

            <div class="col-md-10 ">
                <div class="slick slick-slide2 row">

                    {% for src in url2 %}
                        <div class="iframe2">
                            <iframe width="100%" height="100%" src="{{ src }}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>

            </div>


        </div>

    </div>


{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static "pages/js/slick.js" %}"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/cb3bbb09f5.js" crossorigin="anonymous"></script>
    <script src="{% static 'pages/js/webinars.js' %}"></script>

    <script>

        $(".next1").click(function () {
            $(".slick-slide1 .slick-next").click()
        })

        $(".prev1").click(function () {
            $(".slick-slide2 .slick-next").click()
        })

        $('.slick-slide1').slick({
            infinite: true,
            speed: 300,
            rtl: true,
            arrows: true,
            startMode: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1.2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1.1,
                        slidesToScroll: 1
                    }
                },
            ]
        });

        $('.slick-slide2').slick({
            infinite: true,
            speed: 300,
            arrows: true,
            startMode: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            centerPadding: '40px',
            autoplaySpeed: 3000,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1.2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1.1,
                        slidesToScroll: 1
                    }
                },
            ]
        });

    </script>

{% endblock %}
