{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/webinars.css' %}">
{% endblock %}
{% block content %}

 <div class="container px-0 bingo">
       <div class="row px-0">
        <div class="col-md-5 content1 px-0">
            <h4>Вебинарыи семинары</h4>
            <p>Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке
                позиций,
                занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров
                представляет собой
                интересный эксперимент проверки направлений прогрессивного развития.</p>
        </div>
        <div class="col-md-7 content2 px-0"></div>
       </div>

       <div class="row next px-0">
           <div class="col-md-5 px-0">
               <div class="elem"></div>
           </div>
            <div class="col-md-5 px-0">
                <div class="elem"></div>
            </div>
           <div class="col-md-2 px-0">
               <div class="num">
                    <h1>5</h1>
                    <p>video</p>
               </div>
           </div>
       </div>

        <div class="row next px-0">
            <div class="col-md-2 px-0">
                <div class="num">
                    <h1>8</h1>
                    <p>video</p>
                </div>
            </div>
            <div class="col-md-5 px-0">
                <div class="elem"></div>
            </div>
            <div class="col-md-5 px-0">
                <div class="elem"></div>
            </div>
        </div>
        <div class="mt-5"></div>
   </div>
{% endblock content %}