{% load static %}
{% load i18n %}
<div class="container pt-5">

    <div class=" pb-4 h-100 w-100">
        <div class="row  w-100" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="legalName" content="Editory">
            <meta itemprop="name" content="Editory">
            <div class="col  col-sm-6 col-md-3 mb-4 mb-md-0">
                <a class="navbar-brand logo-color font-weight-bold geometria " style="margin-top: -30px"
                   href="{% url 'pages:home' %}">
                    <img src="{% static 'pages/svg/Logo.svg' %}" height="65px" width="120px" alt="logo" itemprop="logo"></a>
                <div class="d-flex flex-column">
                    <a href="https://payme.uz/home/main"><img src="{% static 'pages/images/payme.png' %}"></a>
                    <a href="https://apelsin.uz/"><img class="my-3" src="{% static 'pages/images/apelsin.png' %}"></a>
                </div>
            </div>
            <div class="col col-sm-6 col-md-3 mb-4 mb-md-0">
                <div class="pb-2 font-weight-bold">{% trans 'Карта сайта' %}</div>
                <div class="my-2"><a href="{% url 'pages:webinars' %}"
                                     class="text-dark text-decoration-none" itemprop="url"> {% trans 'О нас' %}</a></div>
                <div class="my-2"><a href="{% url 'pages:news' %}"
                                     class="text-dark text-decoration-none " itemprop="url">{% trans 'Новости' %}</a></div>
                <div class="my-2"><a href="{% url 'requests:research' %}"
                                     class="text-dark text-decoration-none " itemprop="url">{% trans 'Продукты и материалы' %}</a>
                </div>
            </div>
            <div class="col col-sm-6 col-md-3 mb-4 mb-md-0">
                <div class="pb-2 font-weight-bold">{% trans 'Контакты' %}</div>
                <div class="my-2"><a href="tel:90 013 19 23" class="text-dark" itemprop="telephone">+998 90 013 19 23</a></div>
                <div class="my-2"><a class="text-dark" href="mailto:info@editory.org" itemprop="email">info@editory.org</a></div>
                <div class="my-2 pr-5" itemprop="address">{% trans 'г. Ташкент, Алмазарский район, Себзар 3' %}</div>
            </div>
            <div class="col col-sm-6 col-md-3 mb-4 mb-md-0 d-flex flex-column justify-content-between">
                <div>
                    <div class="pb-2 font-weight-bold">{% trans 'Мы в соцсетях' %}:</div>
                <div class="mt-3">
                    {#                <a href="#" class="text-dark"><i class="bi-whatsapp h4 px-1"></i></a>#}
                    <a href="https://www.facebook.com/editory.uz" target="_blank" class="main-color"><i
                            class="bi-facebook h4 px-1 "></i></a>
                    <a href="https://www.instagram.com/editory_uzb/" target="_blank" class="main-color"><i
                            class="bi-instagram h4 px-1 "></i></a>
                    <a href="https://t.me/editory_uz" target="_blank" class="main-color"><i
                            class="bi-telegram h4 px-1"></i></a>
                    <a href="https://www.linkedin.com/company/editory-uz/" target="_blank" class="main-color"><i
                            class="bi-linkedin h4 px-1"></i></a>
                </div>
                </div>
                <div class="small text-secondary ">OOO EDITORY 2021 ©</div>
            </div>
        </div>

    </div>

</div>
