<div class="container">
    <h3 class="font-weight-bold main-color pt-5 pb-2">editory</h3>
    <div class="row pb-4">
        <div class="col-4">
            О нас<br>
            Продукты/материалы<br>
            Услуги<br>
            Dsicover-Shop<br>
            Контакты<br>
        </div>
        <div class="col-6">
            <br>
            OOO EDITORY 2015 ©<br>
            Шайхантахурский район, 45-12<br>
            <a href="tel:+99 999 99 99" class="text-dark">+99 999 99 99</a><br>
            Реквизиты
        </div>
        <div class="col-2">
            <br>
            <div class="font-weight-bold">Мы в соцсетях:</div>
            <div class="pt-5">
                <i class="bi-whatsapp h4 px-1"></i>
                <i class="bi-facebook h4 px-1 "></i>
                <i class="bi-instagram h4 px-1 "></i>
                <i class="bi-telegram h4 px-1"></i>
            </div>

        </div>
    </div>
</div>