{% load static %}
{% load i18n %}
{% load helpers %}
{% get_available_languages as LANGUAGE %}
{% get_current_language as Lan %}

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand logo-color font-weight-bold geometria" href="{% url 'pages:home' %}"
       style=" color: #40545C;  font-size:25px;"><i>editory</i></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
        <div  class="d-flex w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <form class="form-inline my-2 my-lg-0">
            <div class="d-flex">
            <button class="btn border my-2 my-sm-0" type="submit">Search</button>
            <input class="form-control my-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
            </div>
        </form>
        <div  class="d-flex w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <div class="">
            {% for lll in LANGUAGE %}
                          <div><a class="text-secondary h6 main-font" href="/{{ lll.0 }}/{{ request.path|lancut }}">{{ lll.1 }}</a></div><hr class="my-1">
                      {% endfor %}
        </div>
       <a class="text-decoration-none" href="{% url 'pages:news' %}"><div class="text-secondary font-weight-bold ">
           {% trans 'Новости' %}
       </div></a>
        <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <div class="text-secondary font-weight-bold my-2">
           {% trans 'Продукты/материалы' %}
       </div>
        <a class="text-decoration-none text-dark" href="{% url 'requests:research' %}"><div class="">
           {% trans 'Исследовательские платформы' %}
        </div></a>
        <div  class="d-flex w-100 my-2 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
    <a class="text-dark text-decoration-none" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class=" d-flex justify-content-between">
        {% trans 'Организация исследований' %}<span class="dropdown-toggle text-right"></span>
    </div></a>
        <div class="collapse pl-4" id="collapseExample">
          <a class="text-decoration-none text-dark" href="{% url 'pages:research_strategy' %}"><div class="my-2">
            {% trans 'Стратегия исследования' %}
          </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'pages:research_strategy' %}"><div class="my-2">
            {% trans 'Научное сотрудничество' %}
            </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'pages:research_strategy' %}"><div class="my-2">
            {% trans 'Научное финансирование' %}
            </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'pages:research_strategy' %}"><div class="mt-2">
                {% trans 'Управление и ведение' %}
            </div></a>
        </div>
    <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'requests:scientific-papers' %}"><div class="">
           {% trans 'Образование' %}
        </div></a>
    <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
    <div class="text-secondary font-weight-bold my-2">
           {% trans 'Услуги' %}
       </div>
    <a class="text-dark text-decoration-none" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class=" d-flex justify-content-between">
        {% trans 'Конференции' %}<span class="dropdown-toggle text-right"></span>
    </div></a>
        <div class="collapse pl-4" id="collapseExample1">
          <a class="text-decoration-none text-dark" href="{% url 'requests:conferences' %}"><div class="my-2">
            {% trans 'Участие в конференциях' %}
          </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'requests:creat-conferences' %}"><div class="mt-2">
            {% trans 'Организация конференций' %}
            </div></a>
        </div>
    <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
    <a class="text-dark text-decoration-none" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class=" d-flex justify-content-between">
        {% trans 'Исследовательские проекты' %}<span class="dropdown-toggle text-right"></span>
    </div></a>
        <div class="collapse pl-4" id="collapseExample2">
          <a class="text-decoration-none text-dark" href="{% url 'requests:grants' %}"><div class="my-2">
            {% trans 'Исследовательские гранты' %}
          </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'requests:patents' %}"><div class="mt-2">
            {% trans 'Исследовательские патенты' %}
            </div></a>
        </div>
    <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
    <a class="text-dark text-decoration-none" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class=" d-flex justify-content-between">
        {% trans 'Публикация работ' %}<span class="dropdown-toggle text-right"></span>
    </div></a>
        <div class="collapse pl-4" id="collapseExample3">
          <a class="text-decoration-none text-dark" href="{% url 'requests:bak' %}"><div class="my-2">
            {% trans 'Публикация в ВАК' %}
          </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'requests:scopus' %}"><div class="mt-2">
            {% trans 'Публикация в Scopus/ Web of Science' %}
            </div></a>
        </div>
    <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
    <a class="text-dark text-decoration-none" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class=" d-flex justify-content-between">
        {% trans 'Консультация по диссертациям' %}<span class="dropdown-toggle text-right"></span>
    </div></a>
        <div class="collapse pl-4" id="collapseExample4">
          <a class="text-decoration-none text-dark" href="{% url 'requests:proofreading' %}"><div class="my-2">
            {% trans 'Корректура и редактирование' %}
          </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'requests:proofreading' %}"><div class="my-2">
            {% trans 'Рецензирование диссертации' %}
            </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'requests:proofreading' %}"><div class="my-2">
            {% trans 'Методология исследования' %}
            </div></a>
            <div  class="d-flex w-100 justify-content-center">
                <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
            </div>
            <a class="text-decoration-none text-dark" href="{% url 'requests:proofreading' %}"><div class="mt-2">
            {% trans 'Статистический анализ' %}
            </div></a>
        </div>
    <div  class="d-flex my-2 w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'requests:design' %}"><div class="mb-2">
           {% trans 'Графические материалы' %}
        </div></a>
    <div  class="d-flex w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'pages:language_editing' %}"><div class="my-2">
           {% trans 'Корректура и редактирование' %}
        </div></a>
    <div  class="d-flex w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'requests:translation' %}"><div class="my-2">
           {% trans 'Переводы' %}
        </div></a>
    <div  class="d-flex w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'pages:contact' %}"><div class="my-2">
           {% trans 'Контакты' %}
        </div></a>
    <div  class="d-flex w-100 justify-content-center">
            <hr class="m-0" style="width: 100%; height: 2px; background-color: #fff;">
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'pages:webinars' %}"><div class="my-2">
           {% trans 'О нас' %}
        </div></a>

    </div>
</nav>