{% load static %}
<div class="container py-1 nav-font" style="z-index: 10000;">
    <nav class="navbar navbar-expand-lg p-0 py-1">
        <a class="navbar-brand nav-logo k" href="{% url 'pages:home' %}">editory</a>
        <button class="navbar-toggler main-border" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi-list main-color"></i>
        </button>
        <div class="collapse navbar-collapse font-weight-bold pl-5" id="navbarNav" style=" font-weight: 500 !important;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link ml-3 k text-dark  text-style-normal" href="{% url 'pages:webinars' %}">О нас</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link k text-dark " href="{% url 'pages:news' %}">Новости</a>
                </li>

                 <li class="nav-item dropdown geometria">
                     <a class="nav-link pl-3 dropdown-toggle text-dark " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Продукты/материалы
                     </a>

                     <div class="dropdown-menu shadow_me" style="width: 300px;border-radius: 0" aria-labelledby="navbarDropdown">

                         <a href="{% url 'requests:research' %}" class="dropdown-item font-weight-bold text-dark   py-2"  ><div class="">Исследовательские платформы</div></a>



                         <a class="dropdown-item font-weight-bold text-dark dropright py-2" id="showChild" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="">Research intelligence</div></a>
                            <div id="navChild"  class="hidebutton ">
                                <div class="navMe  border bg-white d-flex py-1 flex-column bordd shadow_me" style="width: 250px; border-radius: 0">
                                    <a href="{% url 'pages:research_strategy' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Стратегия исследования</div></a>
                                    <a href="{% url 'pages:research_strategy' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2 collabration"><div class="">Научное сотрудничество</div></a>
                                    <a href="{% url 'pages:research_strategy' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Научное финансирование</div></a>
                                    <a href="{% url 'pages:research_strategy' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Управление и ведение</div></a>

                                </div>
                         </div>

                         <a class="dropdown-item font-weight-bold text-dark py-2" href="{% url 'requests:scientific-papers' %}"><div class="">Образование</div></a>
                    </div>
                </li>

{#                todo buyerda  uslugi bor#}
                <li class="nav-item dropdown geometria">
                     <a class="nav-link pl-3 dropdown-toggle text-dark " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Услуги
                     </a>

                     <div class="dropdown-menu shadow_me" style="width: 300px;border-radius: 0" aria-labelledby="navbarDropdown">

                         <a class="dropdown-item font-weight-bold text-dark dropright py-2" id="showChild1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="">Конференции</div></a>
                            <div id="navChild1"  class="hidebutton ">
                                <div class="navMe  border bg-white d-flex py-1 flex-column bordd shadow_me" style="width: 290px; height: 230px; border-radius: 0">
                                    <a href="{% url 'requests:conferences' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Участие в конференциях</div></a>
                                    <a href="{% url 'requests:creat-conferences' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Организация конференций</div></a>
                                </div>
                         </div>


                         <a class="dropdown-item font-weight-bold text-dark dropright py-2" id="showChild2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="">Исследовательские проекты</div></a>
                            <div id="navChild2"  class="hidebutton ">
                                <div class="navMe  border bg-white d-flex py-1 flex-column bordd shadow_me" style="width: 290px; height: 230px; border-radius: 0">
                                    <a href="{% url 'requests:grants' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Исследовательские гранты</div></a>
                                    <a href="{% url 'requests:patents' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Исследовательские патенты</div></a>
                                </div>
                         </div>


                         <a class="dropdown-item font-weight-bold text-dark dropright py-2" id="showChild3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="">Публикация работ</div></a>
                            <div id="navChild3"  class="hidebutton ">
                                <div class="navMe  border bg-white d-flex py-1 flex-column bordd shadow_me" style="width: 290px; height: 230px; border-radius: 0">
                                    <a href="{% url 'requests:bak' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Публикация в ВАК</div></a>
                                    <a href="{% url 'requests:scopus' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Публикация в Scopus/ Web <br>of Science</div></a>
                                </div>
                         </div>


                         <a class="dropdown-item font-weight-bold text-dark dropright py-2" id="showChild4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="">Консультация по диссертациям</div></a>
                            <div id="navChild4"  class="hidebutton ">
                                <div class="navMe  border bg-white d-flex py-1 flex-column bordd shadow_me" style="width: 290px; height: 230px; border-radius: 0">
                                    <a href="{% url 'requests:proofreading' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Корректура и редактирование</div></a>
                                    <a href="{% url 'requests:proofreading' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Рецензирование диссертации <br>of Science</div></a>
                                    <a href="{% url 'requests:proofreading' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Методология исследования <br>of Science</div></a>
                                    <a href="{% url 'requests:proofreading' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Статистический анализ <br>of Science</div></a>
                                </div>
                         </div>


                         <a class="dropdown-item font-weight-bold text-dark dropright py-2" id="showChild5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="">Discover&Shop</div></a>
                            <div id="navChild5"  class="hidebutton ">
                                <div class="navMe  border bg-white d-flex py-1 flex-column bordd shadow_me" style="width: 290px; height: 230px; border-radius: 0">
                                    <a href="{% url 'requests:design' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Графические материалы</div></a>
                                    <a href="{% url 'pages:language_editing' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Корректура и редактирование </div></a>
                                    <a href="{% url 'requests:translation' %}" class="dropdown-item font-weight-bold k text-dark text-size-15 py-2"><div class="">Переводы </div></a>
                                   </div>
                         </div>

                    </div>

                </li>
                {#                    todo discover and shop#}

{#                <li class="nav-item dropdown geometria">#}
{#                     <a class="nav-link pl-3 dropdown-toggle text-dark " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            #}
{#                     </a>#}
{##}
{#                     <div class="dropdown-menu shadow_me" style="width: 300px;border-radius: 0" aria-labelledby="navbarDropdown">#}
{##}
{#                         <a href="{% url 'requests:research' %}" class="dropdown-item font-weight-bold text-dark   py-2"  ><div class="">Графические материалы</div></a>#}
{#                         <a class="dropdown-item font-weight-bold text-dark py-2" href="{% url 'requests:scientific-papers' %}"><div class="">Корректура и редактирование</div></a>#}
{#                         <a class="dropdown-item font-weight-bold text-dark py-2" href="{% url 'pages:language_editing' %}"><div class="">Переводы</div></a>#}
{#                    </div>#}
{#                </li>#}
                <li class="nav-item ml-3">
                    <a class="nav-link k text-dark " href="{% url 'pages:contact' %}">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item ml-3 text-center">
                        <a class="nav-link k text-dark  consultation" href="{% url 'users:dashboard' %}"><i class="bi bi-person" style="font-size: 24px;"></i></a>
                    </li>
                
                    <li class="nav-item ml-3 d-flex align-items-center">
                        <a class="nav-link k text-dark " href="{% url 'users:logout' %}"><i
                                class="bi bi-box-arrow-right" style="font-size: 24px;"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item ml-3 d-flex align-items-center">
                        <a class="nav-link k text-dark " href="{% url 'users:login' %}"><i
                                class="bi bi-person"
                                style="font-size: 24px;"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

</div>

