<nav class="navbar navbar-expand-lg bg-white no-gutters">
<div class="container">
  <a class="navbar-brand logo-color font-weight-bold" href="#" style="font-size:42px; font-style:italic;line-height:45px:font-family:Geometria;">editory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto darken" style="font-family: 'Exo 2', sans-serif;">
      <li class="nav-item active">
        <a class="nav-link darken" href="#">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link darken" href="#">Продукты/материалы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link darken" href="#">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link darken" href="#">Журнал Editory Press</a>
      </li>
    </ul>
  </div>
  </div>
</nav>