.shadow_me{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #0000001A;
}


button{
    /*display: none !important;*/
}




div.slick-track{
    width: 100px;
}
.slick-prev, .slick-next{
    display: none !important;
}


#rasm{
    margin: 0 0 0 0;
}


.head-word{
    font-size: 65px;
    line-height: 70px;
    font-weight: 700
}


.slideres{
   /*margin-left: 100px*/
}

.rounded-25{
    border-radius: 25px !important;
}

@media screen and (max-width: 568px){
    .slideres{
        margin-left: 10px;
        margin-right: 10px;
    }
    .head-word{
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 100px;
    }

    .h3{
        font-size: 20px;
    }

    .font-16{
        font-size: 16px;
    }

    .resp-box{
        padding: 0;
        margin: 0;
    }
}


.bg-me{
      background: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.form-input input {
  margin: 0 auto;
  padding: 5vw;
    width: 100%;
  /*height: 100%;*/
    border: silver solid 1px;
  border-radius: 15px;
  /*background-color: red;*/
}