header {
    width: 100%;
    height: calc(100vh - 70px)
}

.btn-success {
    background-color: #54b9bd;
    color: #fff;
    border-color: #54b9bd;
    font-size: 1.25rem
}

.header-me {
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: right bottom
}

.my-text {
    font-weight: 700;
    font-size: 65px;
    line-height: 106.3%
}

.btn-success:hover {
    background-color: #54b9bd;
    border-color: #54b9bd
}

.font-size-4 {
    font-size: 4rem !important;
    line-height: 4.313rem
}

.font-size-5 {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.688rem
}

.font-size-6 {
    font-size: 2.188rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.75rem;
    color: #283e3f
}

.mt-6 {
    margin-top: 4.125rem
}

.mb-14r {
    margin-bottom: 14rem
}

.h-40p {
    font-size: 2.5rem;
    line-height: 2.933rem
}

.h-45p {
    font-size: 2.813rem
}

.section-1 {
    height: 100%;
    width: 100%;
    background: no-repeat;
    background-size: cover;
    background-position: bottom
}

.statistic {
    bottom: -50px;
    position: absolute !important
}

.heightme {
    height: 465px !important
}

.w-100-me {
    height: 425px !important
}

.section-2 {
    padding-top: 80px;
    padding-bottom: 80px
}

.slideres {
    margin-left: 100px
}

@media screen and (min-width: 1400px) {
    .statistic {
        top: 72px !important;
        position: absolute !important
    }
}

@media screen and (max-width: 1400px) {
    .statistic {
        top: 72px !important;
        position: absolute !important
    }
}

@media screen and (max-width: 568px) {
    .statistic {
        top: 0 !important;
        position: absolute !important
    }

    .heightme {
        height: 465px !important;
        width: 350px !important
    }

    .header-me {
        background-image: none !important
    }

    .statistic {
        bottom: 0;
        background-color: #f2f2f2;
        position: relative !important
    }

    .my-text {
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 106.3%
    }

    .slideres {
        margin-left: 10px;
        margin-right: 10px
    }

    .h3 {
        font-size: 20px
    }

    .font-16 {
        font-size: 16px
    }

    .shadow_me {
        border-radius: 10px;
        box-shadow: 0 0 20px 0 #abbfc8;
        padding: 20px
    }
}

.shadow_me {
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px #e7eff0;
    border: rgba(42, 129, 158, .3) solid 1px
}

.shadow_me_two {
    border-radius: 10px;
    border: rgba(42, 129, 158, .3) solid 1px
}

a.me {
    color: #2a819e !important
}

a.me:hover {
    color: #ce935e !important
}

.shadow-new {
    box-shadow: 0 0 20px 0 #0000001a
}

.section-3 {
    width: 100%
}

.margin-b-100 {
    margin-bottom: 100px
}

.section-4 {
    width: 100%;
    background: no-repeat;
    background-size: cover;
    background-position: top
}

.text-light {
    color: #737373 !important
}

.buttons {
    width: 100%;
    height: 100px
}

.slick-prev::before {
    font-size: 20px !important;
    content: "<" !important
}

.slick-next::before {
    content: ">" !important
}

.m-botton-188 {
    margin-bottom: 188px !important
}

@media (max-width: 600px) {
    .font-size-5 {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.688rem
    }

    .font-size-6 {
        font-size: 1rem;
        line-height: 1.75rem
    }

    .text-small {
        font-size: .8rem
    }
}

@media (max-width: 388px) {
    .font-size-5 {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.688rem
    }

    .mt-6 {
        margin-top: 2.125rem
    }

    h3 {
        font-size: 1rem
    }

    .text-small {
        font-size: .8rem
    }

    .h-45p {
        font-size: 2rem
    }

    .m-botton-188 {
        margin-bottom: 88px !important
    }

    .btn-link {
        font-size: 1rem !important
    }
}

.btn-link {
    font-size: 25px;
    font-weight: 400;
    color: #000;
    text-decoration: none
}

.btn-link:hover {
    color: #00a1a8;
    text-decoration: none
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none
}

.btn-link.disabled, .btn-link:disabled {
    color: #00a1a8;
    pointer-events: none
}

@media (max-width: 992px) {
    .text-adaptive {
        margin-right: 50px !important;
        margin-left: 50px !important;
        width: 150px
    }

    .mobile-center {
        align-items: center
    }

    .margin-b-100 {
        margin-bottom: 50px
    }

    .m-botton-188 {
        margin-bottom: 60px !important
    }

    .py-me-5 {
        padding-bottom: 50px;
        padding-top: 50px
    }

    button.slick-next.slick-arrow, button.slick-next.slick-arrow::before {
        display: none !important
    }

    button.slick-prev.slick-arrow.slick-disabled, button.slick-prev.slick-arrow.slick-disabled::before {
        display: none !important
    }

    button.slick-prev.slick-arrow, button.slick-prev.slick-arrow::before {
        display: none !important
    }
}

.section-2 .slick-next, .section-2 .slick-prev {
    border: #f4f4f4 solid 2px !important;
    border-width: 1px !important;
    background: #f4f4f4 81% !important;
    padding: 28px !important
}

.section-2 .slick-next:before, .section-2 .slick-prev:before {
    color: #2a819e !important
}

.section-2 .slick-next:hover, .section-2 .slick-prev:hover {
    background: #2a819e !important;
    border: none;
    padding: 30px
}

.section-2 .slick-next:hover:before, .section-2 .slick-prev:hover:before {
    color: #fff !important
}

.kill .slick-next, .kill .slick-prev {
    display: none !important
}

.alert_message {
    opacity: 0;
    animation-name: message;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(.075, .82, .165, 1)
}

@keyframes message {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}