/* fonts */
@font-face {
font-family: 'Geometria';
font-style: normal;
font-weight: normal;
src: local('Geometria'), url('../fonts/Geometria.woff') format('woff');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-logo{
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #00A1A8;
}

.main-border{
    border-color: #00A1A8;
}

.main-background{
    background-color: #00A1A8;
}

.main-color{
    color: #00A1A8;
}

.k{
    font-family: Geometria;
}

.nav-holder{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.text-size-15{
    font-size: 15px;
}

.text-style-normal{
    font-style: normal;
}

.consultation{
    white-space: nowrap;
    box-sizing: border-box;
}

.reg{
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #00A1A8;
}

.sign-up{
    width: 220px;
    height: 50px;
    background: #00A1A8;
    border-radius: 5px;
    border: none;
}

.con{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
}

.errorlist{
    list-style-type: none;

}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{
    font-family: Geometria !important;
}

.mt-200{
    margin-top: 200px !important;
}

.main-font{
    font-family: 'Exo 2', sans-serif;
}

.geometria{
        font-family: Geometria;
}

#showChild:hover #navChild{
    display: block;
}

@media screen and (max-width: 568px) {
    .dropdown-menu{
        width: 100%;
    }


}


.bordd{
    border-radius: revert;
}

@media screen and (min-width: 568px) {
    .navMe{
        position: absolute;
        top: 0px;
        left: 298px !important;
    }


}


/*.dropdown:hover > .dropdown-menu {*/
/*  display: block;*/
/*}*/

/*.dropdown > .dropdown-toggle:active {*/
/*  pointer-events: none;*/
/*}*/

.hidebutton{
    display: none;
}


.font-22{
    font-size: 22px;
    line-height: 26px;
}

.padding_me{
    padding-top: 100px !important;
    padding-bottom: 100px !important;

}


@media screen and (max-width: 1440px){
    .nav-font{
        font-size: 16px;
    }
}


.border-hover{

    border-color: white !important;
    border-bottom-width: 2px !important;
    width: 1px;
}
.border-hover:hover{
    transition:  width 0.4s;
    width: 100%;
    border-color: #00B0E8 !important;
    border-bottom-width: 2px !important;
}

.shadow_me{

    box-shadow: 0px 0px 5px 0px #0000001A;
}

.btn-primary {
  color: #fff;
  background-color: #00A1A8 !important;
  border-color: #00A1A8 !important;
}


.forma{
    display: none;
    top: 50px;
    box-shadow: 0px 0px 250px 10px #000;
}

@media  (max-width: 992px){
	.forma{
    width: 90%;
    height: 90%;
    overflow: scroll;
    display: none;
    top: 50px;
    box-shadow: 0px 0px 250px 10px #000;
}
}
