* {
    margin: 0;
    padding: 0;
    text-decoration: #000
}

h2 {
    font-size: 36px
}

header .nav-link {
    margin-left: 30px
}

.news-card .col-lg-4 > div, .news-card .col-lg-8 > div {
    border: .5px solid #d2d2d2;
    height: 100%
}

.news-card .col-lg-4:hover > div, .news-card .col-lg-8:hover > div {
    box-shadow: 0 10px 25px 0 #0000001A
}

section {
    margin-bottom: 165px
}

.card-text-absolute {
    position: absolute;
    bottom: 0;
    padding: 0 76px 58px 55px
}

.card-text-absolute-min {
    position: absolute;
    bottom: 0;
    padding: 0 86px 30px 45px
}

.img-fluid {
    width: 100%
}

@media (max-width: 1199.98px) {
    .card-text h4 {
        font-size: 20px
    }

    .card-text {
        padding: 15px 24px !important
    }

    .card-text-absolute {
        padding: 0 50px 58px
    }

    .card-text-absolute-min {
        padding: 0 45px 30px
    }

    section {
        margin-bottom: 140px
    }
}

@media (max-width: 991.98px) {
    div.bognews {
        display: none
    }

    .card-text-absolute-min {
        padding: 60px
    }

    .duble-card .col-lg-6 {
        margin-top: 40px
    }

    section {
        margin-bottom: 120px
    }
}

@media (max-width: 767.98px) {
    .card-text h4 {
        font-size: 18px
    }

    .card-text-absolute h2 {
        font-size: 30px
    }

    .card-text-absolute {
        padding: 40px
    }

    section {
        margin-bottom: 10px
    }
}

@media (max-width: 575.98px) {
    .card-text-absolute {
        padding: 10px 20px
    }

    .card-text-absolute-min {
        padding: 20px
    }

    .card-text-absolute h2 {
        font-size: 24px
    }

    .card-text-absolute-min h2 {
        font-size: 24px
    }

    .section4 h2 {
        font-size: 24px
    }

    .section4 .col-sm-6 h4, .this-week .col-sm-6 h4 {
        font-size: 20px
    }

    .section4 .col-sm-6 h5, .this-week .col-sm-6 h5 {
        font-size: 16px
    }

    section {
        margin-bottom: 70px
    }

    .text-hover {
        width: 100%;
        color: #000 !important;
        background: #fff !important
    }
}

.text-hover {
    border-radius: 10px;
    transition: height .5s;
    width: 100%;
    color: #fff;
    height: 200px;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .7567401960784313) 26%)
}